Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Fix Danielsmith OCI tag normalization
  .github/workflows/ci.yml
  justfile
  scripts/test-danielsmith-oci-tag-normalization.sh
Due: shell, python

Fix Danielsmith OCI tag normalization
  justfile
  tests/test_danielsmith_oci_tag_normalization.py
Due: python

Fix Danielsmith OCI tag argument normalization
  justfile
  tests/test_danielsmith_oci_wrappers.py
Due: python

Tighten Danielsmith OCI wrapper tests
  tests/test_danielsmith_oci_wrappers.py
Due: python

docs: define app deployment contract
  README.md
  docs/app_deployment_contract.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/examples/apps/danielsmith.env
  docs/examples/apps/dspace.env
  docs/examples/apps/tokenplace.env
  docs/index.md
Due: none

Document Sugarkube app deployment contract
  README.md
  docs/app_deployment_contract.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/examples/apps/danielsmith.env
  docs/examples/apps/dspace.env
  docs/examples/apps/tokenplace.env
  docs/index.md
Due: none

Define Sugarkube app deployment contract
  README.md
  docs/app_deployment_contract.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/examples/apps/danielsmith.env
  docs/examples/apps/dspace.env
  docs/examples/apps/tokenplace.env
  docs/index.md
Due: none

Clarify app deployment tag pin contract
  docs/app_deployment_contract.md
Due: none

Tighten app deployment contract scope
  README.md
  docs/app_deployment_contract.md
Due: none

Implement generic app deployment recipes
  docs/app_deployment_contract.md
  docs/examples/apps/danielsmith.env
  docs/examples/apps/dspace.env
  docs/examples/apps/tokenplace.env
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_recipes.py
Due: shell, python

Implement generic app deploy recipes
  docs/app_deployment_contract.md
  docs/examples/apps/danielsmith.env
  docs/examples/apps/dspace.env
  docs/examples/apps/tokenplace.env
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Add generic app deployment recipes
  docs/app_deployment_contract.md
  docs/examples/apps/danielsmith.env
  docs/examples/apps/dspace.env
  docs/examples/apps/tokenplace.env
  justfile
  scripts/app_config.py
  tests/test_app_config.py
Due: shell, python

Implement generic app deploy recipes
  docs/app_deployment_contract.md
  docs/examples/apps/danielsmith.env
  docs/examples/apps/dspace.env
  docs/examples/apps/tokenplace.env
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_app_just_recipes.py
  tests/test_danielsmith_oci_wrappers.py
Due: shell, python

Address app deploy review feedback
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Wrap app config test lines
  scripts/app_config.py
  tests/test_app_config.py
Due: shell, python

Honor app env context for read-only checks
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Close app deploy P5 coverage gaps
  docs/app_deployment_contract.md
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: python

Fail closed when app verify cannot query cluster context
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Improve app config coverage
  tests/test_app_config.py
Due: python

docs: refresh generic app runbooks
  README.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/index.md
  docs/k3s-danielsmith-prod.md
  docs/k3s-danielsmith-staging.md
  docs/k3s-tokenplace-dev.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
Due: none

docs: align app runbooks with generic flow
  README.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace-relay.md
  docs/apps/tokenplace.md
  docs/index.md
  docs/k3s-danielsmith-prod.md
  docs/k3s-danielsmith-staging.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
  docs/raspi_cluster_operations.md
  docs/tokenplace_sugarkube_onboarding.md
  scripts/net_debug_sanitized.sh
Due: shell, python

docs: standardize generic app runbooks
  .wordlist.txt
  README.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace-relay.md
  docs/apps/tokenplace.md
  docs/index.md
  docs/k3s-danielsmith-prod.md
  docs/k3s-danielsmith-staging.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
  docs/raspi_cluster_operations.md
  docs/tokenplace_sugarkube_onboarding.md
Due: none

docs: standardize app deployment runbooks
  README.md
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/index.md
  docs/k3s-danielsmith-prod.md
  docs/k3s-danielsmith-staging.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
Due: none

docs: restore tokenplace relay signoff
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
Due: none

docs: tighten tokenplace relay signoff
  docs/apps/tokenplace.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
Due: none

docs: allow app names in spellcheck wordlist
  .wordlist.txt
Due: none

docs: harden tokenplace prod context snippets
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/k3s-tokenplace-prod.md
Due: none

docs: add app artifact discovery links
  README.md
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  tests/test_app_runbook_links.py
Due: python

docs: link app runbooks to release artifacts
  README.md
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  tests/test_app_runbook_links.py
Due: python

docs: fix dspace artifact link feedback
  README.md
  docs/apps/dspace.md
  tests/test_app_runbook_links.py
Due: python

docs: tighten dspace artifact discovery links
  README.md
  docs/app_onboarding.md
  docs/apps/dspace.md
  tests/test_app_runbook_links.py
Due: python

Make app verify execute checks
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  justfile
  scripts/app_verify.py
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Make app verification execute checks
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  justfile
  scripts/app_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Make app-verify execute HTTP checks
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  justfile
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: python

Make app-verify execute checks
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  justfile
  scripts/app_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Address app verify review feedback
  justfile
  scripts/app_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python
