Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

✅ : – enforce offline ls-remote fixtures
  tests/test_pi_image_tooling.py
Due: python

✅ : Default ls-remote fixtures for action pins
  tests/test_pi_image_tooling.py
Due: python

Document ls-remote opt-out skip rationale
  tests/test_pi_image_tooling.py
Due: python

🚀 : add tokenplace relay staging helm
  apps/tokenplace-relay/Chart.yaml
  apps/tokenplace-relay/templates/_helpers.tpl
  apps/tokenplace-relay/templates/deployment.yaml
  apps/tokenplace-relay/templates/ingress.yaml
  apps/tokenplace-relay/templates/service.yaml
  apps/tokenplace-relay/templates/serviceaccount.yaml
  apps/tokenplace-relay/values.yaml
  docs/apps/tokenplace-relay.md
  docs/examples/tokenplace-relay.values.staging.yaml
  docs/index.md
  justfile
Due: none

✨ : add token.place relay staging deployment
  apps/tokenplace-relay/.helmignore
  apps/tokenplace-relay/Chart.yaml
  apps/tokenplace-relay/templates/NOTES.txt
  apps/tokenplace-relay/templates/_helpers.tpl
  apps/tokenplace-relay/templates/deployment.yaml
  apps/tokenplace-relay/templates/ingress.yaml
  apps/tokenplace-relay/templates/service.yaml
  apps/tokenplace-relay/templates/serviceaccount.yaml
  apps/tokenplace-relay/values.yaml
  docs/apps/tokenplace-relay.md
  docs/examples/tokenplace-relay.values.dev.yaml
  docs/examples/tokenplace-relay.values.staging.yaml
  docs/index.md
  docs/software/index.md
  justfile
Due: none

Add tokenplace relay staging deployment
  apps/tokenplace-relay/Chart.yaml
  apps/tokenplace-relay/templates/_helpers.tpl
  apps/tokenplace-relay/templates/deployment.yaml
  apps/tokenplace-relay/templates/externalname.yaml
  apps/tokenplace-relay/templates/headless-endpoints.yaml
  apps/tokenplace-relay/templates/headless-service.yaml
  apps/tokenplace-relay/templates/hpa.yaml
  apps/tokenplace-relay/templates/ingress.yaml
  apps/tokenplace-relay/templates/networkpolicy.yaml
  apps/tokenplace-relay/templates/pdb.yaml
  apps/tokenplace-relay/templates/prometheusrule.yaml
  apps/tokenplace-relay/templates/service.yaml
  apps/tokenplace-relay/templates/serviceaccount.yaml
  apps/tokenplace-relay/templates/servicemonitor.yaml
  apps/tokenplace-relay/templates/tests/test-connection.yaml
  apps/tokenplace-relay/values.schema.json
  apps/tokenplace-relay/values.yaml
  docs/apps/tokenplace-relay.md
  docs/examples/tokenplace-relay.values.dev.yaml
  docs/examples/tokenplace-relay.values.staging.yaml
  docs/index.md
  docs/software/index.md
  justfile
Due: none

✅ : Add token.place relay staging chart and ops tooling
  .pre-commit-config.yaml
  apps/tokenplace-relay/Chart.yaml
  apps/tokenplace-relay/templates/_helpers.tpl
  apps/tokenplace-relay/templates/deployment.yaml
  apps/tokenplace-relay/templates/ingress.yaml
  apps/tokenplace-relay/templates/service.yaml
  apps/tokenplace-relay/templates/serviceaccount.yaml
  apps/tokenplace-relay/values.yaml
  docs/apps/tokenplace-relay.md
  docs/examples/tokenplace-relay.values.dev.yaml
  docs/examples/tokenplace-relay.values.staging.yaml
  docs/index.md
  docs/software/index.md
  justfile
Due: none

Address Copilot feedback
  apps/tokenplace-relay/templates/_helpers.tpl
  apps/tokenplace-relay/templates/deployment.yaml
  apps/tokenplace-relay/values.yaml
  docs/apps/tokenplace-relay.md
  docs/examples/tokenplace-relay.values.staging.yaml
  justfile
Due: none

Align tokenplace relay staging config
  apps/tokenplace-relay/templates/deployment.yaml
  apps/tokenplace-relay/templates/service.yaml
  apps/tokenplace-relay/values.dev.yaml
  apps/tokenplace-relay/values.staging.yaml
  apps/tokenplace-relay/values.yaml
  docs/apps/tokenplace-relay.md
  justfile
Due: none

Format justfile for fmt check
  justfile
Due: none

✨ : – Add shim fallback to test preinstall helper
  README.md
  tests/conftest.py
  tests/test_require_tools.py
Due: python

✨ : keep ls-remote checks fixture-backed offline
  tests/fixtures/README.md
  tests/test_pi_image_tooling.py
Due: python

🚀 : – propagate workflow run ID into installer
  docs/pi_image_quickstart.md
  sugarkube_toolkit/pi_cluster/bootstrap.py
  tests/pi_cluster_bootstrap_test.py
Due: python

Assert fallback fixture usage in ls-remote tests
  tests/test_pi_image_tooling.py
Due: python

Address Copilot feedback on tool shim messaging
  tests/conftest.py
  tests/test_require_tools.py
Due: python

Add skip context for ls-remote fallback
  tests/test_pi_image_tooling.py
Due: python

Add skip context comments for missing tools
  tests/conftest.py
Due: python

Adopt staging env naming and helpers
  clusters/staging/kustomization.yaml
  clusters/staging/kustomizeconfig.yaml
  clusters/staging/patches/cert-manager-settings.yaml
  clusters/staging/patches/cloudflared-values.yaml
  clusters/staging/patches/external-dns-activation.yaml
  clusters/staging/patches/kube-prometheus-stack-values.yaml
  clusters/staging/patches/kube-vip-values.yaml
  clusters/staging/patches/longhorn-values.yaml
  clusters/staging/secrets/cloudflare-api-token.enc.yaml
  clusters/staging/secrets/cloudflared-tunnel.enc.yaml
  clusters/staging/secrets/external-dns-cloudflare.enc.yaml
  clusters/staging/secrets/ghcr-pull-secret.enc.yaml
  clusters/staging/secrets/grafana-admin.enc.yaml
  clusters/staging/secrets/kustomization.yaml
  clusters/staging/secrets/longhorn-backup-credentials.enc.yaml
  clusters/staging/secrets/platform-settings.enc.yaml
  docs/apps/dspace.md
  docs/apps/dspace.prod.tag
  docs/examples/dspace.values.prod.yaml
  docs/prompts/codex/sugarkube-platform.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  docs/runbook.md
  justfile
  outages/2025-11-17-token-resolution-auto-discovery.json
  scripts/check_memory_cgroup.sh
  scripts/k3s-discover.sh
  scripts/unset_doc_env_vars.sh
Due: shell, python

✅ : Replace int env with staging alias
  docs/apps/dspace.image.prod
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/prompts/codex/sugarkube-platform.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  docs/runbook.md
  docs/sugarkube-vision.md
  justfile
  outages/2025-11-17-token-resolution-auto-discovery.json
  scripts/check_memory_cgroup.sh
  scripts/k3s-discover.sh
  scripts/unset_doc_env_vars.sh
  tests/test_check_memory_cgroup.py
Due: shell, python

🔧 : Staging env alignment
  clusters/staging
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/prompts/codex/sugarkube-platform.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  docs/runbook.md
  docs/sugarkube-vision.md
  justfile
  outages/2025-11-17-token-resolution-auto-discovery.json
  scripts/check_memory_cgroup.sh
  scripts/k3s-discover.sh
  scripts/unset_doc_env_vars.sh
Due: shell, python

🔧 : Align env naming with staging
  docs/apps/dspace.md
  docs/apps/dspace.prod-tag
  docs/examples/dspace.values.prod.yaml
  docs/prompts/codex/sugarkube-platform.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  docs/runbook.md
  justfile
  outages/2025-11-17-token-resolution-auto-discovery.json
  scripts/check_memory_cgroup.sh
  scripts/k3s-discover.sh
  scripts/unset_doc_env_vars.sh
Due: shell, python

Handle staging token defaults and deprecated int fallback
  scripts/k3s-discover.sh
Due: shell, python

Fix justfile formatting for env helpers
  justfile
Due: none

Add staging token resolution coverage
  tests/scripts/test_k3s_discover_token_resolution.py
Due: python

Harden prod tag parsing and staging aliases
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
  justfile
  scripts/flux-bootstrap.sh
  scripts/seal-secrets.sh
  tests/test_check_memory_cgroup.py
Due: shell, python

Add BATS coverage for staging token resolution
  tests/bats/discover_token_resolution.bats
Due: shell, python

Align token assignments in k3s-discover
  scripts/k3s-discover.sh
Due: shell, python

Expand token resolution coverage for bats
  tests/bats/discover_token_resolution.bats
Due: shell, python

📝 : – Improve 3-node HA quick start docs
  README.md
  docs/index.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

📝 : – Highlight HA cluster happy path
  README.md
  docs/raspi_cluster_setup.md
Due: none

📝 : – Improve HA cluster quickstart docs
  .wordlist.txt
  README.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

📝 : – highlight 3-node HA quickstart
  README.md
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

docs: clarify two-run HA bootstrap steps
  docs/raspi_cluster_setup.md
Due: none

fix: drop invalid 3ha recipe
  docs/index.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

📝 : – document ha3 untaint helper
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

📝 : – Document HA untaint helper
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

📝 : –
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

📝 : – Document ha3 untaint helper
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

📝 : docs: treat Traefik as k3s default; verify instead
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
  justfile
  scripts/lib/traefik_crd.sh
Due: shell, python

📝 : docs – treat Traefik as k3s default; verify instead of install
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
  justfile
  scripts/lib/traefik_crd.sh
Due: shell, python
