Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Persist bounded DSPACE failure classifications
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Preserve DSPACE failure classifications
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Persist bounded DSPACE failure classification
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Address DSPACE persistence review feedback
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Format DSPACE persistence regression test
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Preserve historical DSPACE asset validation
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix retained DSPACE asset validation compatibility
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

fix retained synthetic asset validation
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix retained DSPACE asset validation
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Restrict legacy DSPACE asset validation
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Version DSPACE asset manifests
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Document retained staging asset coordinate
  docs/dspace-chat-synthetic-producer.md
Due: none

Fix production token.place metrics contract
  docs/k3s-tokenplace-prod.md
  platform/observability/app-metrics.json
  tests/test_generic_app_just_recipes.py
Due: python

fix tokenplace production metrics contract
  docs/k3s-tokenplace-prod.md
  platform/observability/app-metrics.json
  tests/test_generic_app_just_recipes.py
Due: python

Fix production tokenplace metrics contract
  docs/k3s-tokenplace-prod.md
  platform/observability/app-metrics.json
  tests/test_generic_app_just_recipes.py
Due: python

fix bind tokenplace metrics compatibility to image
  docs/k3s-tokenplace-prod.md
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

docs clarify tokenplace paging metrics coverage
  docs/k3s-tokenplace-prod.md
Due: none

fix restore tokenplace production metrics scope
  docs/k3s-tokenplace-prod.md
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Refine DSPACE child failure classification
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Refine DSPACE child launch classification
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Refine DSPACE Playwright launch classification
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Corroborate redacted runuser diagnostic
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Provision pinned Node runtime for DSPACE synthetic
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Pin DSPACE synthetic Node runtime
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Own DSPACE synthetic Node runtime contract
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE synthetic Node runtime contract
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Address pinned Node runtime review feedback
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden pinned Node provisioning and rollback
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix dashboard 5xx zero semantics
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Fix dashboard 5xx zero semantics
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/observability_helm.sh
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

fix dashboard 5xx zero semantics
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/observability_helm.sh
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

Make Node provisioning fail cleanly
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Test direct pinned Node lifecycle validation
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Remove unused dashboard test fixture
  tests/test_observability_dashboard.py
Due: python

Cover pinned Node validation failure paths
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Add production blackbox monitoring lifecycle
  clusters/prod/observability/network-policies/kustomization.yaml
  clusters/prod/observability/network-policies/prometheus-to-blackbox-exporter.yaml
  clusters/prod/observability/probes/kustomization.yaml
  clusters/prod/observability/probes/public-apps.yaml
  clusters/prod/observability/prometheus-blackbox-exporter.values.yaml
  docs/observability-blackbox.md
  docs/observability-design.md
  docs/observability-operations.md
  justfile
  scripts/observability_blackbox.sh
  scripts/verify_blackbox_prometheus.py
  tests/test_observability_blackbox.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
