Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Handle mdns tests in unprivileged CI
  tests/test_k3s_discover_failopen_e2e.py
  tests/test_mdns_ready_e2e.py
Due: python

✅ : preinstall core test CLI tools
  tests/conftest.py
  tests/test_require_tools.py
Due: python

🔧 : Harden netns probe diagnostics
  docs/TESTING.md
  tests/helpers/netns_probe.py
  tests/test_mdns_ready_e2e.py
  tests/test_netns_probe.py
Due: python

Add test coverage for CLI preinstall opt-out
  tests/conftest.py
  tests/test_require_tools.py
Due: python

Assert retry spawns new server for netns probe
  tests/test_netns_probe.py
Due: python

Add context comments for mdns_ready netns skip
  tests/test_mdns_ready_e2e.py
Due: python

Document skip rationale for missing CLI tools
  tests/conftest.py
Due: python

🔧 : add stack clamp mounts and artifacts
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stack_mounts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

🔧 : add stack clamp mounts and regression checks
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  tests/test_pi_cluster_stack_mounts.py
Due: python

🔧 : – Add stack clamp mounts to stack parts
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stack_mounts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

🔧: Add stack clamp pockets to stack carrier
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_carrier_stack_scad.py
  tests/test_pi_cluster_stack_mounts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

Adjust stack pocket defaults and parameters
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
Due: none

🔧 : remove colons from debug-mdns log names
  logs/README.md
  logs/debug-mdns_2025-11-17T00-26-45Z.log.sanitized
  outages/2025-11-19-k3s-join-mdns-hostname-resolution.json
Due: none

🧹 : – Make mDNS debug log names Windows-safe
  logs/README.md
  logs/debug-mdns_2025-11-17T00-26-45Z.log.sanitized
  outages/2025-11-19-k3s-join-mdns-hostname-resolution.json
Due: none

🙂 : – Remove colons from mDNS log filenames
  logs/README.md
  logs/debug-mdns_2025-11-17T00-26-45Z.log.sanitized
  outages/2025-11-19-k3s-join-mdns-hostname-resolution.json
Due: none

🔧 : – Use colon-free debug mdns log names
  logs/README.md
  logs/debug-mdns_2025-11-17T00-26-45Z.log.sanitized
  outages/2025-11-19-k3s-join-mdns-hostname-resolution.json
Due: none

✅ : add sudo fallback for ensure_root_privileges
  tests/conftest.py
  tests/test_ensure_root_privileges.py
Due: python

Make stack carrier overrides library-safe
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  tests/test_pi_cluster_stack_mounts.py
Due: python

Guard sudo fallback usage and expand coverage
  tests/conftest.py
  tests/test_ensure_root_privileges.py
Due: python

🔧 : Harden stack mount resolution for OpenSCAD stack
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  tests/test_pi_carrier_stack_cli_scad.py
Due: python

🛠️ : – Harden pi carrier stack rendering
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  tests/test_pi_carrier_stack_cli_output.py
Due: python

🛠️ : Harden pi carrier stack guardrails
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  tests/test_pi_carrier_stack_cli_errors.py
Due: python

🧩 : – Harden pi carrier stack guards
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  tests/test_pi_cluster_stack_mounts.py
Due: python

Improve sudo fallback detection and messaging
  tests/conftest.py
  tests/test_ensure_root_privileges.py
Due: python

Address Copilot review feedback
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  tests/test_pi_carrier_stack_cli_scad.py
Due: python

Add geometry report assertions for pi carrier stack
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  tests/test_pi_carrier_stack_cli_scad.py
Due: python

Document skip context for netns privilege checks
  tests/conftest.py
Due: python

Fix geometry report parsing for stack mounts
  tests/test_pi_carrier_stack_cli_scad.py
Due: python

feat: ensure the addition of stack mounts doesn't impact the overall pi_carrier dimensions
  cad/pi_cluster/pi_carrier.scad
Due: none

feat: Ensure stack mount edge margins are uniform
  cad/pi_cluster/pi_carrier.scad
Due: none

Clarify heat-set insert timing in stack docs
  docs/pi_cluster_stack.md
Due: none

🧪: add OpenSCAD geometry regression tests
  docs/pi_cluster_stack.md
  tests/openscad_echo.py
  tests/test_pi_carrier_geometry_report.py
  tests/test_pi_carrier_stack_geometry_report.py
Due: python

Add Pi carrier geometry regression tests
  docs/pi_cluster_stack.md
  tests/openscad_echo.py
  tests/test_pi_carrier_geometry_report.py
  tests/test_pi_carrier_stack_geometry_report.py
Due: python

✅ : add pi carrier geometry regression tests
  docs/pi_cluster_stack.md
  tests/openscad_echo.py
  tests/test_pi_carrier_geometry_report.py
  tests/test_pi_carrier_stack_geometry_report.py
Due: python

🧪 : – Add OpenSCAD geometry regression tests
  docs/pi_cluster_stack.md
  tests/openscad_echo.py
  tests/test_pi_carrier_geometry_report.py
  tests/test_pi_carrier_stack_geometry_report.py
  tests/test_pi_cluster_stack_doc.py
Due: python

Improve OpenSCAD echo parsing robustness
  tests/openscad_echo.py
Due: python

feat: Fix pi_carrier_stack geometry, temporarily removing posts and fan mount
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
Due: none

Document temporary stack accessory removal
  docs/pi_cluster_stack.md
Due: none

Add carrier-level stack regression test and clarify docs
  docs/pi_cluster_stack.md
  tests/openscad_echo.py
  tests/test_pi_carrier_stack_geometry_report.py
Due: python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
