Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

fix(drill): enforce quota stimulus safety budgets
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

test(observability): document promtool skip
  tests/test_observability_helm.py
Due: python

fix(observability): report wholly absent SLI telemetry
  platform/observability/rules/application-slis.yaml
  tests/prometheus/application-slis.test.yaml
  tests/test_application_sli_contract.py
Due: python

fix(drill): secure marker lifecycle boundaries
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

test(observability): cover SLI validator failures
  tests/test_application_sli_contract.py
Due: python

test(observability): cover sparse DSPACE traffic
  tests/prometheus/application-slis.test.yaml
Due: python

fix(drill): recover failed quota marker after drift
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(drill): validate quota execution plans
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

test(observability): clarify local promtool skip
  tests/test_observability_helm.py
Due: python

test(drill): stabilize restart invariant timing
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

fix(drill): retain bounded quota failure evidence
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

test(observability): assert cache alert annotations
  tests/test_observability_helm.py
Due: python

test(drill): authenticate kubectl marker fixture
  tests/test_tokenplace_incident_drill.py
Due: python

test(observability): cover SLI validator entrypoint
  tests/test_application_sli_contract.py
Due: python

test(drill): cover bounded quota safety paths
  tests/test_tokenplace_incident_drill.py
Due: python

test(observability): cover cache validation failures
  tests/test_daniel_cache_observability.py
Due: python

feat(observability): migrate Daniel cache dashboards
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): harden Daniel cache queries
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): normalize cache dashboard identity
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

test(observability): render cache contract cluster
  tests/test_observability_dashboard.py
Due: python

test(observability): document promtool skip
  tests/test_observability_dashboard.py
Due: python

test(observability): remove stray overlay brace
  tests/test_observability_helm.py
Due: python

fix(observability): assign unique application SLI panel IDs
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
Due: none

fix(drill): identify bounded quota requests
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(drill): set quota trigger user agent
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(drill): set stable quota trigger user agent
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(observability): support Python 3.11 validator
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): support Python 3.11 dashboard validation
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): support dashboard validation on Python 3.11
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

test(observability): guard AST source extraction
  tests/test_observability_dashboard.py
Due: python

Fix tokenplace build label normalization
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fix token.place build label normalization
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

fix(observability): normalize public image build labels
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

fix(observability): normalize tokenplace build labels
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Harden public token truncation
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
