Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

🔧 : – Run cloudflared token mode
  docs/cloudflare_tunnel.md
  justfile
Due: none

Fix cloudflared patch invocation and command
  justfile
Due: none

🚀 : – Harden cf-tunnel-install token mode
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : Harden cf tunnel token install
  docs/cloudflare_tunnel.md
  justfile
  scripts/force_cloudflare_token_mode.py
  tests/test_cloudflare_token_mode.py
  tests/test_cloudflare_tunnel_recipe.py
  tests/test_docs_guardrails.py
Due: shell, python

🔧 : – Make cf-tunnel-install token-mode first
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_token_mode.py
  tests/test_docs_guardrails.py
Due: python

✅ : – harden cf tunnel token install
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cf_tunnel_token_mode.py
  tests/test_docs_guardrails.py
Due: python

Address review feedback for cf tunnel token mode
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Fix justfile formatting heredocs
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

📝 : clarify Cloudflare tunnel step 2
  docs/cloudflare_tunnel.md
Due: none

📝 : clarify Cloudflare tunnel docs
  docs/cloudflare_tunnel.md
Due: none

🛠️ : – Hardening Cloudflare tunnel token install
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : enforce cloudflare tunnel token mode
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : – Ensure cf-tunnel-install uses token mode
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🛠️ : – Enforce cf tunnel token-mode rollout
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Handle Helm failures and tidy token-mode patch order
  justfile
Due: none

🔧 : Enforce token-mode patches for Cloudflare tunnel
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : enforce cloudflare token-mode patches
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : – enforce cloudflare token-mode deployment
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : enforce cloudflare token mode
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Use JSON patch for token-mode deployment updates
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : Enforce cloudflare tunnel token mode
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : – enforce cloudflare token-mode rollout
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : – enforce cloudflare token-mode patching
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : enforce token-mode patch
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✨ : Harden Cloudflare tunnel recovery
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : – Harden Cloudflare tunnel teardown
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : – Harden Cloudflare tunnel recovery
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : Harden cf tunnel teardown and helpers
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Handle unset token in cf-tunnel-reset
  justfile
Due: none

🔧 : – token-only cloudflared
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : – Switch cloudflare tunnel to pure token mode
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✨ : – Switch cloudflare tunnel to token-only CLI
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : – Cloudflare tunnel token-only invocation
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Remove unused cloudflare tunnel configmap
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : – Strengthen Cloudflare tunnel token guidance
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔐 : – Harden Cloudflare tunnel token validation
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔒 : tighten cf tunnel token validation
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : Tighten Cloudflare tunnel token validation
  docs/cloudflare_tunnel.md
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Fix justfile formatting for origin-cert guidance
  justfile
Due: none

Fix origin cert guidance snippet text
  justfile
Due: none

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
