Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

🛠️ : – Ensure pi_node_verifier JSON output excludes warnings
  outages/2025-11-01-pi-node-verifier-json.json
  scripts/pi_node_verifier.sh
Due: shell, python

✅ : – align CLI wrappers and mdns ENOEXEC fallback
  justfile
  outages/2025-11-02-justfile-cli-brace-spacing.json
  outages/2025-11-02-k3s-mdns-enoexec-fallback.json
  scripts/k3s_mdns_query.py
Due: shell, python

Format justfile placeholders
  justfile
Due: none

✅ : align just CLI wrappers and stub writer
  justfile
  outages/2025-11-02-justfile-cli-moustache-spacing.json
  outages/2025-11-02-k3s-discover-apiready-stub.json
  tests/scripts/test_k3s_discover_mid_election_join.py
Due: python

Format justfile CLI wrappers
  justfile
Due: none

✅ : tighten just CLI moustache spacing
  justfile
  outages/2025-11-02-justfile-cli-whitespace-regression.json
Due: none

Format justfile moustache spacing
  justfile
Due: none

🛠️ : – tighten justfile CLI moustache spacing
  justfile
  outages/2025-11-02-justfile-cli-whitespace-revival.json
Due: none

✅ : restore just CLI moustache forwarding
  justfile
  outages/2025-11-02-justfile-cli-arg-forwarding-regression.json
Due: none

Format justfile with unstable formatter
  justfile
Due: none

✅ : tighten just CLI moustache placeholders
  justfile
  outages/2025-11-02-justfile-cli-placeholder-regression.json
Due: none

fix: CI workflow issues for Node24 compatibility
  .github/workflows/ci.yml
  .github/workflows/spellcheck.yml
  .github/workflows/tests.yml
  outages/2025-11-01-ci-workflow-node24-incompatibility.json
  outages/2025-11-01-spellcheck-workflow-setup-python-version.json
  outages/2025-11-01-tests-workflow-invalid-secrets-conditional.json
Due: none

Fix CI workflow issues: upgrade checkout and setup-python actions, fix codecov conditional
  .github/workflows/ci.yml
  .github/workflows/spellcheck.yml
  .github/workflows/tests.yml
  outages/2025-11-01-ci-checkout-node24.json
  outages/2025-11-01-ci-setup-python-version-inconsistency.json
  outages/2025-11-01-tests-codecov-secrets-check.json
Due: none

fix: update GitHub Actions workflows for Node 24 compatibility
  .github/workflows/ci.yml
  outages/2025-11-01-ci-workflow-checkout-v4-node24.json
  outages/2025-11-01-workflow-action-version-inconsistencies.json
Due: none

fix: remove strict wrapper from summary color setup to prevent bats test failures
  scripts/lib/summary.sh
Due: shell, python

docs: add outage record for summary strict wrapper bats failure
  outages/2025-11-02-summary-strict-wrapper-bats-failure.json
Due: none

Fix test_render_tls_config_skips_empty_registration permission error
  tests/scripts/test_detect_node_ip.py
Due: python

Add outage record for test permission error fix
  outages/2025-11-02-test-detect-node-ip-permission-error.json
Due: none

fix: test_detect_node_ip.py use SUGARKUBE_LOG_DIR env var
  tests/scripts/test_detect_node_ip.py
Due: python

style: format justfile moustache spacing
  justfile
Due: none

✅ : – normalize just CLI wrapper spacing
  justfile
  outages/2025-11-02-justfile-cli-wrapper-spacing-again.json
  outages/2025-11-02-summary-strict-wrapper-bats-failure.json
Due: none

🔧 : – convert up recipe to script
  justfile
Due: none

✅ – tighten CLI template heredocs
  justfile
  scripts/check_memory_cgroup.sh
  scripts/checks.sh
  scripts/join_gate.sh
  scripts/rollback_to_sd.sh
Due: shell, python

✅ : – align mdns helpers with bash
  scripts/log.sh
  scripts/mdns_selfcheck_dbus.sh
  scripts/wait_for_avahi_dbus.sh
Due: shell, python

🔧 : – Harden mDNS self-check gating
  scripts/join_gate.sh
  scripts/k3s-discover.sh
  scripts/mdns_selfcheck.sh
Due: shell, python

Honor non-root systemctl skip in discover script
  scripts/k3s-discover.sh
Due: shell, python

feat: improve k3s discovery readiness
  scripts/k3s-discover.sh
Due: shell, python

Fix wait_for_api status propagation
  scripts/k3s-discover.sh
Due: shell, python

🔧 : – add dependency guard for mDNS and k3s
  justfile
  scripts/install_deps.sh
Due: shell, python

chore: restore tcpdump and gdbus deps
  scripts/install_deps.sh
Due: shell, python

🔧 : – Guard nvme health recipe on systems without NVMe
  justfile
Due: none

🐞 : – Fix mdns self-check alias splitting and type logging
  outages/2025-11-03-mdns-selfcheck-ifs-alias.json
  outages/2025-11-03-mdns-selfcheck-type-log.json
  scripts/mdns_selfcheck.sh
Due: shell, python

🛠️ : fix mdns self-check host matching
  outages/2025-11-03-mdns-selfcheck-alias-newline.json
  outages/2025-11-03-mdns-selfcheck-available-types.json
  scripts/mdns_selfcheck.sh
Due: shell, python

Create CI_Test_Fixer.md for CI/test issue resolution
  .github/prompts/CI_Test_Fixer.md
Due: none

ci: harden CI Test Fixer prompt; add outages validator and CI command wrapper
  .github/prompts/CI_Test_Fixer.md
  scripts/ci_commands.sh
  scripts/validate_outages.py
Due: shell, python

chore: run actual CI commands in wrapper
  scripts/ci_commands.sh
Due: shell, python

🧹 : – clarify CI Test Fixer cleanup expectations
  .github/prompts/CI_Test_Fixer.md
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
