Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

🔧 : – Fix pi_carrier_stack includes and guards
  cad/pi_cluster/fan_wall.scad
  cad/pi_cluster/pi_carrier_stack.scad
  docs/pi_cluster_stack.md
  tests/test_pi_carrier_stack_scad.py
  tests/test_pi_cluster_alignment_guards.py
  tests/test_pi_cluster_stl_variants.py
Due: python

🛠️ : – Fix pi carrier stack includes and STL coverage
  cad/pi_cluster/pi_carrier_stack.scad
  docs/pi_cluster_stack.md
  scripts/render_pi_cluster_variants.py
  tests/test_pi_carrier_stack_scad.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

🛠️ : harden pi_carrier_stack includes and STL docs
  cad/pi_cluster/pi_carrier_stack.scad
  docs/pi_cluster_stack.md
  scripts/render_pi_cluster_variants.py
  tests/test_pi_carrier_stack_scad.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

Fix include prefix and expand stack docs snippet
  cad/pi_cluster/pi_carrier.scad
  docs/pi_cluster_stack.md
Due: none

Polish pi carrier stack docs and includes
  cad/pi_cluster/pi_carrier_stack.scad
  docs/pi_cluster_stack.md
Due: none

✨ : Package STL artifacts by use case
  .github/workflows/scad-to-stl.yml
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

📦 : – Add grouped STL packaging
  .github/workflows/scad-to-stl.yml
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

🎯 : Add grouped STL artifact packaging
  .github/workflows/scad-to-stl.yml
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

✨ : package STL artifacts by use case
  .github/workflows/scad-to-stl.yml
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

Improve STL README formatting and error coverage
  scripts/package_stl_artifacts.py
  tests/test_package_stl_artifacts.py
Due: shell, python

Add CLI coverage for STL packaging
  tests/test_package_stl_artifacts.py
Due: python

📝 : – Tighten pi_cluster_stack doc guidance
  docs/pi_cluster_stack.md
  tests/test_pi_cluster_stack_doc.py
Due: python

📝 : Refresh pi stack doc guidance
  docs/pi_cluster_stack.md
  tests/test_pi_cluster_stack_doc.py
Due: python

📝 docs: update pi cluster stack guidance
  docs/pi_cluster_stack.md
  tests/test_pi_cluster_stack_doc.py
Due: python

docs: tighten pi cluster stack guidance
  docs/pi_cluster_stack.md
  tests/test_pi_cluster_stack_doc.py
Due: python

Address Copilot documentation feedback
  docs/pi_cluster_stack.md
  tests/test_pi_cluster_stack_doc.py
Due: python

Normalize heatset guidance test assertion
  tests/test_pi_cluster_stack_doc.py
Due: python

🧩 : modular pi carrier stack
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_carrier_stack_scad.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

✅ : – Modular pi stack parts
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

🔧 : – Modular pi carrier stack with clamp posts
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_carrier_stack_scad.py
  tests/test_pi_cluster_alignment_guards.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

🧩 : – modular pi stack clampable parts
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_carrier_stack_scad.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

Fix fan adapter stack alignment
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  docs/pi_cluster_stack.md
Due: none

Make stack stack parts symmetric and streamline outputs
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  cad/pi_cluster/pi_stack_post.scad
  docs/pi_cluster_stack.md
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_carrier_stack_scad.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

Clamp stack pockets and clarify post inserts
  cad/pi_cluster/pi_carrier.scad
  docs/pi_cluster_stack.md
Due: none

Tighten stack carrier thickness and fan adapter alignment
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_fan_adapter.scad
  docs/pi_cluster_stack.md
  tests/test_pi_carrier_stack_scad.py
Due: python

Fix carrier stack pocket defaults
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
Due: none

Add assertion for fan-side post count
  cad/pi_cluster/pi_stack_fan_adapter.scad
Due: none

Fix stack doc guidance for CI checks
  docs/pi_cluster_stack.md
Due: none

Add column spacing guard to pi carrier stack
  cad/pi_cluster/pi_carrier_stack.scad
Due: none

Add in-process coverage for render variants
  tests/test_pi_cluster_stl_variants.py
Due: python

✅ : – add sudo fallback when installing test tools
  tests/conftest.py
  tests/test_require_tools_installation.py
Due: python

✨ : stabilize k3s discover connectivity probe
  tests/test_k3s_discover_connectivity_check.py
  tests/test_k3s_discover_failopen_e2e.py
Due: python

✅ : enforce require_tools CI failures
  notes/skipped-tests-status.md
  tests/conftest.py
  tests/test_require_tools.py
Due: python

Add type hints for connectivity probes
  tests/test_k3s_discover_connectivity_check.py
  tests/test_k3s_discover_failopen_e2e.py
Due: python

Improve sudo fallback handling and tests
  tests/conftest.py
  tests/test_require_tools_installation.py
Due: python

Add explicit types to connectivity check mocks
  tests/test_k3s_discover_connectivity_check.py
Due: python

Add sudo install-only test case
  tests/test_require_tools_installation.py
Due: python

Shorten noqa explanations for connectivity mocks
  tests/test_k3s_discover_connectivity_check.py
Due: python

Align connectivity check mocks with CompletedProcess
  tests/test_k3s_discover_connectivity_check.py
Due: python

Handle limited privileges in mdns tests
  tests/conftest.py
  tests/test_ensure_root_privileges.py
  tests/test_mdns_ready_e2e.py
Due: python
