Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

✅ : – Honor fake UID override in flash helper
  scripts/flash_pi_media.py
  tests/flash_pi_media_test.py
Due: shell, python

✅ : – Add shimmed run-as fallback
  tests/test_fix_pi_image_permissions.py
Due: python

✨ : – add python fallback for _run_as
  tests/test_fix_pi_image_permissions.py
Due: python

Address shim feedback for permission tests
  tests/test_fix_pi_image_permissions.py
Due: python

Add coverage for _run_as error path and clean up tests
  tests/test_fix_pi_image_permissions.py
Due: python

✅ : – Bootstrap just installer
  README.md
  scripts/checks.sh
  scripts/install_just.sh
  tests/checks_script_test.py
  tests/conftest.py
  tests/scripts/test_just_up.py
  tests/test_install_just_script.py
  tests/test_justfile_formatting.py
Due: shell, python

✅ : – add just installer for test coverage
  README.md
  scripts/install_just.sh
  tests/scripts/test_just_up.py
  tests/support/just_installer.py
  tests/test_install_just_script.py
  tests/test_justfile_formatting.py
Due: shell, python

Address review feedback for just bootstrap
  scripts/checks.sh
  scripts/install_just.sh
  tests/conftest.py
  tests/test_justfile_formatting.py
Due: shell, python

Harden just installer validation
  scripts/install_just.sh
Due: shell, python

Handle missing USER in kubeconfig recipe
  justfile
Due: none

Prefer python -m pip fallback in checks script
  scripts/checks.sh
Due: shell, python

Add forceable python-pip path for docs checks
  scripts/checks.sh
  tests/checks_script_test.py
Due: shell, python

Fix docs-only install shellcheck warning
  scripts/checks.sh
Due: shell, python

Prefer pip executables when bootstrapping dependencies
  scripts/checks.sh
Due: shell, python

✨ : – Add regression check for CI action plan archive
  notes/ci-test-fixes-action-plan.md
  tests/test_ci_test_fixes_action_plan.py
Due: python

✅ : add avahi-browse stub fallback
  tests/test_k3s_discover_failopen_e2e.py
  tests/test_k3s_discover_stub_shim.py
Due: python

✅ : – enable mdns_ready stub coverage
  QUICK_REFERENCE_MDNS.md
  tests/helpers/__init__.py
  tests/helpers/avahi_stub.py
  tests/test_avahi_stub_activation.py
  tests/test_mdns_ready_e2e.py
Due: python

✨ : Harden mDNS namespace connectivity probe
  tests/mdns_namespace_utils.py
  tests/test_mdns_namespace_utils.py
  tests/test_mdns_ready_e2e.py
Due: python

Address timeouts in namespace connectivity probe
  tests/mdns_namespace_utils.py
  tests/test_mdns_namespace_utils.py
  tests/test_mdns_ready_e2e.py
Due: python

Avoid global environment mutation in Avahi stub helper
  tests/helpers/avahi_stub.py
  tests/test_avahi_stub_activation.py
  tests/test_mdns_ready_e2e.py
Due: python

Fix avahi stub autouse fixture isolation
  tests/test_mdns_ready_e2e.py
Due: python

Add skip remediation context for mdns e2e setup
  tests/test_mdns_ready_e2e.py
Due: python

✅ : add install fallback for test tools
  tests/conftest.py
  tests/test_require_tools.py
Due: python

✨ : – TCP probe for mdns_ready netns fixture
  tests/helpers/netns_probe.py
  tests/test_mdns_ready_e2e.py
  tests/test_netns_probe.py
Due: python

Address require_tools review feedback
  tests/conftest.py
  tests/test_require_tools.py
Due: python

Improve netns probe cleanup and coverage
  tests/helpers/netns_probe.py
  tests/test_netns_probe.py
Due: python

Harden netns probe socket cleanup
  tests/helpers/netns_probe.py
  tests/test_netns_probe.py
Due: python

Document mdns_ready connectivity skip context
  tests/test_mdns_ready_e2e.py
Due: python

🚀 : add OCI parity smoke test
  .github/workflows/pi-image.yml
  tests/test_pi_image_tooling.py
Due: python

🧪 : – Add OCI parity smoke coverage for dspace image
  .github/workflows/pi-image.yml
  tests/oci_parity_smoke_guard_test.sh
  tests/test_pi_image_tooling.py
Due: python

🚀 : add oci parity smoke test
  .github/workflows/pi-image.yml
  docs/raspi_cluster_operations.md
  tests/test_pi_image_tooling.py
Due: python

🧪 : add oci parity smoke job
  .github/workflows/pi-image.yml
  tests/test_pi_image_tooling.py
Due: python

Fix OCI parity guard expectations
  .github/workflows/pi-image.yml
  tests/test_pi_image_tooling.py
Due: python

Address OCI parity workflow feedback
  .github/workflows/pi-image.yml
  tests/oci_parity_smoke_guard_test.sh
  tests/test_pi_image_tooling.py
Due: python

Add pull request read permission for OCI parity smoke
  .github/workflows/pi-image.yml
Due: none

Add pull-request read permission to OCI parity smoke job
  .github/workflows/pi-image.yml
Due: none

Pin dspace v3 clone to existing commit
  .github/workflows/pi-image.yml
Due: none

Simplify dspace clone in OCI parity smoke job
  .github/workflows/pi-image.yml
Due: none

Improve OCI smoke readiness checks
  .github/workflows/pi-image.yml
Due: none

Fix pi_carrier_stack includes and document STL artifacts
  cad/pi_cluster/pi_carrier_stack.scad
  docs/pi_cluster_stack.md
  tests/test_pi_carrier_stack_scad.py
Due: python
