Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Fail closed on nonadvancing clocks and observer errors
  docs/tokenplace-load-sizing.md
  scripts/tokenplace_load_adapter.py
  scripts/tokenplace_load_replay.py
  tests/test_tokenplace_load_adapter.py
  tests/test_tokenplace_load_replay.py
Due: shell, python

Document offline protocol dependency skip context
  tests/test_tokenplace_load_adapter.py
Due: python

Wrap fixture condition to remove introduced E501
  tests/test_generic_app_just_recipes.py
Due: python

📝 : document PR validation isolation design
  docs/design/pr-validation-isolation-acceptance.md
  docs/design/pr-validation-isolation.md
Due: none

📝 : clarify approved dependency bundle identity
  docs/design/pr-validation-isolation-acceptance.md
  docs/design/pr-validation-isolation.md
Due: none

docs: design Axel tenant database platform and recovery boundaries
  docs/design/axel-database-platform.md
  docs/index.md
Due: none

docs: bind Axel interfaces and bound off-site WAL recovery
  docs/design/axel-database-platform.md
Due: none

docs: add database terminology and match index punctuation
  .wordlist.txt
  docs/index.md
Due: none

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
