Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

fix production Grafana secret bootstrap
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Fix production Grafana Secret bootstrap
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Harden Grafana secret terminal guard
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Close Grafana secret security gaps
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Strengthen Grafana secret lifecycle tests
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Skip dashboard validation for Grafana secret commands
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Harden Cloudflare Tunnel WAN recovery
  clusters/staging/cloudflare-tunnel/deployment-patch.json
  clusters/staging/cloudflare-tunnel/pdb.yaml
  clusters/staging/cloudflare-tunnel/service.yaml
  clusters/staging/cloudflare-tunnel/servicemonitor.yaml
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/cloudflare_tunnel.md
  justfile
  scripts/verify_cloudflare_tunnel.sh
  tests/prometheus/cloudflare-tunnel-rules.yaml
  tests/prometheus/cloudflare-tunnel.test.yaml
  tests/test_cloudflare_tunnel_hardening.py
  tests/test_cloudflare_tunnel_token_mode.py
  tests/test_observability_helm.py
Due: shell, python

Harden Cloudflare Tunnel WAN recovery
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  config/cloudflare-tunnel/monitoring.yaml
  config/cloudflare-tunnel/values.yaml
  docs/cloudflare_tunnel.md
  justfile
  platform/observability/rules/cloudflare-tunnel.yaml
  scripts/observability_helm.sh
  scripts/verify_cloudflare_tunnel.sh
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/cloudflare-tunnel.test.yaml
  tests/test_cloudflare_tunnel_hardening.py
  tests/test_cloudflare_tunnel_token_mode.py
  tests/test_observability_helm.py
Due: shell, python

Harden Cloudflare Tunnel WAN recovery
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/cloudflare_tunnel.md
  justfile
  platform/cloudflare-tunnel/deployment-patch.json
  platform/cloudflare-tunnel/kustomization.yaml
  platform/cloudflare-tunnel/pdb.yaml
  platform/cloudflare-tunnel/service.yaml
  platform/cloudflare-tunnel/servicemonitor.yaml
  platform/observability/rules/cloudflare-tunnel.yaml
  scripts/cloudflare_tunnel_harden.sh
  scripts/observability_helm.sh
  scripts/verify_cloudflare_tunnel.py
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/cloudflare-tunnel.test.yaml
  tests/test_cloudflare_tunnel_token_mode.py
  tests/test_observability_helm.py
Due: shell, python

Harden Cloudflare Tunnel WAN recovery
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/cloudflare_tunnel.md
  justfile
  platform/cloudflare-tunnel-staging/resources.yaml
  platform/cloudflare-tunnel-staging/values.yaml
  platform/observability/rules/cloudflare-tunnel.yaml
  scripts/observability_helm.sh
  scripts/verify_cloudflare_tunnel.py
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/cloudflare-tunnel.test.yaml
  tests/test_cloudflare_tunnel_token_mode.py
  tests/test_observability_helm.py
Due: shell, python

Address Cloudflare Tunnel hardening feedback
  config/cloudflare-tunnel/values.yaml
  justfile
  scripts/verify_cloudflare_tunnel.sh
  tests/test_cloudflare_tunnel_hardening.py
  tests/test_cloudflare_tunnel_token_mode.py
Due: shell, python

Close Cloudflare Tunnel rollout gaps
  docs/cloudflare_tunnel.md
  justfile
  platform/observability/rules/cloudflare-tunnel.yaml
  tests/prometheus/cloudflare-tunnel.test.yaml
  tests/test_cloudflare_tunnel_token_mode.py
  tests/test_observability_helm.py
Due: python

Correct Cloudflare staging rollout documentation
  config/cloudflare-tunnel/values.yaml
  docs/cloudflare_tunnel.md
Due: none

Add production observability dashboard
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  docs/observability-operations.md
  scripts/observability_helm.sh
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

feat(observability): provision production Grafana dashboard
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  docs/observability-operations.md
  scripts/observability_helm.sh
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

feat(observability): add production Grafana dashboard
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  docs/observability-operations.md
  scripts/observability_helm.sh
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

fix(observability): correct production snapshot health queries
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Fix tokenless Cloudflare Tunnel upgrade under nounset
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Fix tokenless Cloudflare Tunnel upgrades
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Fix tokenless Cloudflare Tunnel upgrade
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Harden Cloudflare Tunnel tests without just
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Close Cloudflare token test harness gaps
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Tighten Cloudflare token regression guards
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

ci: wire up @claude GitHub App workflow for PR/issue mentions
  .github/scripts/claude-validate.sh
  .github/workflows/claude.yml
Due: none

test(observability): cover production validator failures
  tests/test_observability_dashboard.py
Due: python

chore(ci): defer Claude automation
  .github/scripts/claude-validate.sh
  .github/workflows/claude.yml
Due: none

Fix Cloudflare Tunnel pod verification
  scripts/verify_cloudflare_tunnel.sh
  tests/test_cloudflare_tunnel_verifier.py
Due: shell, python

Fix Cloudflare tunnel pod verification
  scripts/verify_cloudflare_tunnel.sh
  tests/test_cloudflare_tunnel_verifier.py
Due: shell, python

test(observability): cover dashboard lifecycle routing
  tests/test_observability_helm.py
Due: python

Fix Cloudflare Tunnel pod verification
  scripts/verify_cloudflare_tunnel.sh
  tests/test_verify_cloudflare_tunnel.py
Due: shell, python

Fix Cloudflare Tunnel pod verifier
  scripts/verify_cloudflare_tunnel.sh
  tests/test_cloudflare_tunnel_verifier.py
Due: shell, python

Fix Cloudflare Tunnel pod verification
  scripts/verify_cloudflare_tunnel.sh
  tests/test_cloudflare_tunnel_hardening.py
Due: shell, python

docs(observability): clarify production capacity baseline
  docs/observability-operations.md
Due: none

Reject unready Cloudflare Tunnel surge pods
  scripts/verify_cloudflare_tunnel.sh
  tests/test_verify_cloudflare_tunnel.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
