Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

✅ : Cache ensure_root_privileges probe
  tests/conftest.py
  tests/test_ensure_root_privileges.py
Due: python

Add tests for cached privilege probes
  tests/test_ensure_root_privileges.py
Due: python

Document skip context for netns privilege checks
  tests/conftest.py
Due: python

feat: defaulted pi_stack_post to not use a nut trap to avoid the need for support materials on the bottom
  cad/pi_cluster/pi_stack_post.scad
Due: none

Clean up pi_stack_post nut trap defaults
  cad/pi_cluster/pi_stack_post.scad
Due: none

chore: remove unhelpful comment
  cad/pi_cluster/pi_stack_post.scad
Due: none

Mitigate support-needing 90 degree cantilevers with 45 degree chamfers
  cad/pi_cluster/pi_stack_post.scad
Due: none

Clarify pi stack post wedge documentation
  cad/pi_cluster/pi_stack_post.scad
Due: none

Eliminate remaining support-requiring ceilings by subtracting a tetrahedron from the bottom two slots
  cad/pi_cluster/pi_stack_post.scad
Due: none

Fix stack post orientation, clip twisted cutters, and remove carrier stack pockets
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_carrier_stack.scad
  cad/pi_cluster/pi_stack_post.scad
Due: none

Remove some accidental ChatGPT UI citation artifacts
  cad/pi_cluster/pi_carrier.scad
  cad/pi_cluster/pi_stack_post.scad
Due: none

Update cad/pi_cluster/pi_stack_post.scad
  cad/pi_cluster/pi_stack_post.scad
Due: none

Update stack mount tests for holes-only carrier
  tests/test_pi_carrier_stack_scad.py
Due: python

Fix pi cluster stack carrier artifacts
  docs/pi_cluster_stack.md
  outages/2025-12-26-pi-cluster-stack-carrier-regression.json
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

🔧 : – fix pi cluster stack carrier artifact
  docs/pi_cluster_stack.md
  outages/2025-12-26-scad-to-stl-carrier-mispackaged.json
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stack_mounts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

✅ : – Fix stack artifact carriers and previews
  docs/pi_cluster_stack.md
  outages/2025-12-26-pi-cluster-stack-carriers-mispackaged.json
  scripts/package_stl_artifacts.py
  scripts/render_pi_cluster_variants.py
  tests/test_package_stl_artifacts.py
  tests/test_pi_cluster_stl_variants.py
Due: shell, python

🧊 : Fix pi cluster stack artifact contents
  outages/2025-12-26-pi-carrier-stack-artifact-layout.json
  scripts/package_stl_artifacts.py
  tests/test_package_stl_artifacts.py
Due: shell, python

🚦: add netns xfail fallback
  README.md
  tests/conftest.py
  tests/test_ensure_root_privileges.py
Due: python

✨ : – add stubbed mDNS e2e coverage
  tests/helpers/avahi_stub.py
  tests/test_mdns_ready_e2e.py
Due: python

tests: align package_stl_artifacts expectations with new pi_cluster_stack layout
  tests/test_package_stl_artifacts.py
Due: python

Clarify Avahi stub handling in tests
  tests/helpers/avahi_stub.py
  tests/test_mdns_ready_e2e.py
Due: python

Add cached netns xfail coverage and fix spelling
  tests/conftest.py
  tests/test_ensure_root_privileges.py
Due: python

Handle transient upstream lookups in workflow tests
  tests/conftest.py
  tests/test_pi_image_tooling.py
Due: python

✅ : Retry upstream action tag checks before skipping
  tests/test_pi_image_tooling.py
Due: python

✨ : prefer shims for opt-in require_tools
  tests/conftest.py
  tests/test_require_tools.py
Due: python

Handle ls-remote timeout retries
  tests/test_pi_image_tooling.py
Due: python

Add skip remediation context for require_tools
  tests/conftest.py
Due: python

Add retry recovery test for ls-remote timeouts
  tests/test_pi_image_tooling.py
Due: python

Document ls-remote skip contexts
  tests/test_pi_image_tooling.py
Due: python

✨ : Cache ls-remote fixtures for action tag checks
  tests/fixtures/ls_remote/README.md
  tests/fixtures/ls_remote/actions__cache_v4.3.0.txt
  tests/fixtures/ls_remote/actions__checkout_v5.txt
  tests/fixtures/ls_remote/actions__upload-artifact_v4.6.2.txt
  tests/test_pi_image_tooling.py
Due: python

✨ : – add ls-remote fixtures for workflow tag tests
  tests/fixtures/ls_remote_tags.json
  tests/test_pi_image_tooling.py
Due: python

✨ : add ls-remote fixtures for workflow tag checks
  tests/fixtures/ls-remote/actions/cache/v4.3.0.txt
  tests/fixtures/ls-remote/actions/checkout/v5.txt
  tests/fixtures/ls-remote/actions/upload-artifact/v4.6.2.txt
  tests/test_pi_image_tooling.py
Due: python

✅ : – Add fixtures for offline action tag checks
  tests/fixtures/git_ls_remote_tags.json
  tests/test_pi_image_tooling.py
Due: python

Add fixture error coverage for ls-remote helper
  tests/test_pi_image_tooling.py
Due: python

Enforce strict ls-remote fixtures
  tests/fixtures/README.md
  tests/test_pi_image_tooling.py
Due: python

Reduce failopen test flakiness
  tests/scripts/test_k3s_discover_failopen.py
Due: python

Document skip rationale for ls-remote retries
  tests/test_pi_image_tooling.py
Due: python

✅ : – prefer offline ls-remote fixtures
  tests/test_pi_image_tooling.py
Due: python

✅ : – Default ls-remote helper to bundled fixtures
  tests/test_pi_image_tooling.py
Due: python
