Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Address blackbox lifecycle review feedback
  clusters/prod/observability/probes/public-apps.yaml
  docs/observability-blackbox.md
  scripts/verify_blackbox_prometheus.py
  tests/test_observability_blackbox.py
Due: shell, python

Restore production jobbot probe hostname
  clusters/prod/observability/probes/public-apps.yaml
  tests/test_observability_blackbox.py
Due: python

Restore legacy DSPACE rollback validation
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden production blackbox verification
  docs/observability-blackbox.md
  scripts/verify_blackbox_prometheus.py
  tests/test_observability_blackbox.py
Due: shell, python

Keep applied DSPACE rollbacks strict
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Cover apply with strict Node contract validation
  tests/test_dspace_chat_synthetic_producer.py
Due: python

fix production blackbox probe inventory
  clusters/prod/observability/probes/public-apps.yaml
  docs/observability-blackbox.md
  scripts/observability_blackbox.sh
  scripts/verify_blackbox_prometheus.py
  tests/test_monitoring_blackbox.py
  tests/test_observability_blackbox.py
Due: shell, python

Address blackbox probe reconciliation review
  scripts/observability_blackbox.sh
  tests/test_monitoring_blackbox.py
  tests/test_observability_blackbox.py
Due: shell, python

Document staging legacy probe cleanup
  docs/observability-blackbox.md
Due: none

Fix production probe matrix contract
  tests/test_observability_blackbox.py
Due: python

Fix DSPACE Node armhf launch contract
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE Node userspace launchability contract
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE armhf Node launchability contract
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE armhf Node launch contract
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden Node loader provenance validation
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Complete Node loader chain validation
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Validate private roots before Node loader traversal
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Raise Node ELF validation coverage
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Fix DSPACE synthetic runtime result diagnostics
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE synthetic runtime failure diagnostics
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE synthetic result handoff diagnostics
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Address DSPACE diagnostic review feedback
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Complete DSPACE runtime diagnostic contracts
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Cover ReadWritePaths reset semantics
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Fix nested Node resolution in DSPACE synthetic
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix nested Node resolution in DSPACE synthetic runtime
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix nested Node resolution for DSPACE synthetic
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE nested Node resolution
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Make nested Node PATH regression deterministic
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Validate synthetic probe schedules against quotas
  .github/workflows/ci.yml
  config/observability-probe-quotas/prod.json
  config/observability-probe-quotas/staging.json
  docs/observability-blackbox.md
  justfile
  scripts/observability_blackbox.sh
  scripts/validate_probe_quotas.py
  tests/test_validate_probe_quotas.py
Due: shell, python

feat: validate probe schedules against quotas
  .github/workflows/ci.yml
  docs/examples/apps/danielsmith.env
  docs/examples/apps/danielsmith.probe-quotas.json
  docs/examples/apps/dspace-prod-subdomain.env
  docs/examples/apps/dspace.env
  docs/examples/apps/dspace.probe-quotas.json
  docs/examples/apps/gitshelves.env
  docs/examples/apps/gitshelves.probe-quotas.json
  docs/examples/apps/jobbot3000.env
  docs/examples/apps/jobbot3000.probe-quotas.json
  docs/examples/apps/tokenplace.env
  docs/examples/apps/tokenplace.probe-quotas.json
  docs/observability-blackbox.md
  justfile
  scripts/app_config.py
  scripts/observability_blackbox.sh
  scripts/validate_probe_quotas.py
  tests/test_validate_probe_quotas.py
Due: shell, python

feat(observability): validate probe schedules against quotas
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  config/observability/probe-quotas.yaml
  docs/observability-blackbox.md
  justfile
  scripts/validate_probe_quotas.py
  tests/test_validate_probe_quotas.py
Due: shell, python

feat(observability): validate probe schedules against quotas
  .github/workflows/tests.yml
  docs/observability-blackbox.md
  justfile
  platform/observability/probe-quotas/danielsmith.json
  platform/observability/probe-quotas/dspace.json
  platform/observability/probe-quotas/gitshelves.json
  platform/observability/probe-quotas/jobbot3000.json
  platform/observability/probe-quotas/tokenplace.json
  scripts/observability_blackbox.sh
  scripts/validate_probe_quotas.py
  tests/test_probe_quota_validation.py
Due: shell, python

fix(observability): harden probe quota inputs
  scripts/validate_probe_quotas.py
  tests/test_validate_probe_quotas.py
Due: shell, python

fix(observability): close probe quota validation gaps
  .github/workflows/tests.yml
  config/observability/probe-quotas.yaml
  scripts/validate_probe_quotas.py
  tests/test_validate_probe_quotas.py
Due: shell, python

test(observability): document kubectl skip remediation
  tests/test_validate_probe_quotas.py
Due: python

fix(observability): enforce exact quota boundaries
  scripts/validate_probe_quotas.py
  tests/test_validate_probe_quotas.py
Due: shell, python

fix(observability): redact probe input errors
  scripts/validate_probe_quotas.py
  tests/test_validate_probe_quotas.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
