Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

docs: clarify reserved infrastructure directory
  infra/README.md
Due: none

Add fail-closed system Chromium contract
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Add fail-closed DSPACE browser contracts
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Add explicit system Chromium contract
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

fix: harden gitshelves probe lifecycle
  clusters/staging/observability/probes/public-apps.yaml
  clusters/staging/observability/prometheus-blackbox-exporter.values.yaml
  docs/observability-blackbox.md
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
  tests/test_monitoring_blackbox.py
Due: shell, python

Close DSPACE browser contract preflight gaps
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

fix: repair gitshelves release guide link
  docs/apps/gitshelves.md
  tests/test_app_runbook_links.py
Due: python

infra: add credential-free Terraform validation
  .github/workflows/terraform-validate.yml
  .gitignore
  infra/README.md
  infra/terraform/.terraform-version
  infra/terraform/README.md
  infra/terraform/cloudflare/staging/.terraform.lock.hcl
  infra/terraform/cloudflare/staging/providers.tf
  infra/terraform/cloudflare/staging/versions.tf
Due: none

infra: add credential-free Terraform validation
  .github/workflows/terraform-validate.yml
  .gitignore
  docs/design/terraform-ansible-integration.md
  infra/README.md
  infra/terraform/.terraform-version
  infra/terraform/README.md
  infra/terraform/cloudflare/staging/.terraform.lock.hcl
  infra/terraform/cloudflare/staging/providers.tf
  infra/terraform/cloudflare/staging/versions.tf
Due: none

ci: require readonly Terraform lockfile
  .github/workflows/terraform-validate.yml
Due: none

Cover DSPACE browser contract validation
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Confine DSPACE alternate roots before resolution
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

infra: add credential-free Ansible validation foundation
  .github/workflows/ansible-validate.yml
  .gitignore
  docs/design/terraform-ansible-integration.md
  infra/README.md
  infra/ansible/README.md
  infra/ansible/ansible.cfg
  infra/ansible/inventories/staging/hosts.yml
  infra/ansible/playbooks/staging_preflight.yml
  infra/ansible/requirements.txt
Due: none

infra: add credential-free Ansible validation
  .github/workflows/ansible-validate.yml
  .gitignore
  docs/design/terraform-ansible-integration.md
  infra/README.md
  infra/ansible/README.md
  infra/ansible/ansible.cfg
  infra/ansible/inventories/staging/hosts.yml
  infra/ansible/playbooks/staging_preflight.yml
  infra/ansible/requirements.txt
Due: none

fix(ansible): resolve root config paths safely
  .gitignore
  infra/ansible/ansible.cfg
Due: none

test(ansible): verify configured default inventory
  .github/workflows/ansible-validate.yml
  infra/ansible/README.md
Due: none

fix(ansible): restore config-relative paths
  infra/ansible/ansible.cfg
Due: none

feat(terraform): add disposable Cloudflare TXT lab
  .github/workflows/terraform-validate.yml
  docs/design/terraform-ansible-integration.md
  infra/terraform/README.md
  infra/terraform/cloudflare/staging/README.md
  infra/terraform/cloudflare/staging/main.tf
  infra/terraform/cloudflare/staging/outputs.tf
  infra/terraform/cloudflare/staging/tests/tf_lab.tftest.hcl
  infra/terraform/cloudflare/staging/variables.tf
  infra/terraform/cloudflare/staging/versions.tf
Due: none

docs(terraform): address lab review feedback
  infra/terraform/README.md
  infra/terraform/cloudflare/staging/README.md
Due: none

Fix DSPACE runner child access
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

fix(dspace): normalize synthetic runner access
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

docs(terraform): harden disposable lab workflow
  infra/terraform/README.md
  infra/terraform/cloudflare/staging/README.md
  infra/terraform/cloudflare/staging/main.tf
  infra/terraform/cloudflare/staging/outputs.tf
  infra/terraform/cloudflare/staging/variables.tf
Due: none

Harden DSPACE runner access validation
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

docs(terraform): classify DNS verification states
  infra/terraform/cloudflare/staging/README.md
Due: none

Add DNS recursive nameservers to helmrelease.yaml
  platform/cert-manager/helmrelease.yaml
Due: none

Harden DSPACE runner access repair
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

docs(terraform): escape TXT presentation values
  infra/terraform/cloudflare/staging/README.md
Due: none

fix cert-manager DNS-01 resolvers for non-Flux installs
  justfile
  tests/test_staging_cert_manager.py
Due: python

Validate live assets before runner access repair
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

harden cert-manager resolver regression test
  tests/test_staging_cert_manager.py
Due: python

Cover DSPACE access validation failures
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
