Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Bound DSPACE stderr drain finalization
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fail closed when Prometheus PVC is absent
  docs/observability-operations.md
  platform/observability/helm/kube-prometheus-stack.values.common.yaml
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Complete Prometheus retention safety checks
  docs/observability-operations.md
  platform/observability/helm/kube-prometheus-stack.values.common.yaml
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Make bounded stderr tests hermetic
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Fix Prometheus retention runtime verification
  docs/observability-operations.md
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Verify effective Prometheus retention runtime
  docs/observability-operations.md
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Fix Prometheus runtime retention verification
  docs/observability-operations.md
  scripts/observability_helm.sh
  scripts/verify_prometheus_retention.py
  tests/test_observability_helm.py
Due: shell, python

Fix Prometheus retention runtime verification
  docs/observability-operations.md
  scripts/observability_helm.sh
  scripts/verify_prometheus_retention.rb
  tests/test_observability_helm.py
Due: shell, python

Address Prometheus retention review feedback
  scripts/observability_helm.sh
  scripts/verify_prometheus_retention.rb
  tests/test_observability_helm.py
Due: shell, python

Cover Prometheus runtime retention contract
  scripts/verify_prometheus_retention.rb
  tests/test_observability_helm.py
Due: shell, python

Fail closed on malformed loaded retention YAML
  scripts/verify_prometheus_retention.rb
  tests/test_observability_helm.py
Due: shell, python

Qualify DSPACE runner identity by manifest
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Qualify DSPACE runners by manifest identity
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Address runner storage identity review feedback
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden DSPACE runner identity migration
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Clarify DSPACE rehearsal environments
  docs/dspace-chat-synthetic-producer.md
Due: none

Cover DSPACE runner failure paths
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Add production observability alert delivery
  clusters/prod/nodes.txt
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-operations.md
  scripts/observability_helm.sh
  scripts/observability_node_heartbeat.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
  tests/test_observability_node_heartbeat.py
Due: shell, python

Add production observability alert delivery
  clusters/prod/nodes.txt
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/index.md
  docs/observability-alerting.md
  docs/observability-operations.md
  scripts/observability_helm.sh
  scripts/observability_node_heartbeat.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
  tests/test_observability_node_heartbeat.py
Due: shell, python

Add production observability alert delivery
  clusters/prod/nodes.txt
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/observability_node_heartbeat.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
  tests/test_observability_node_heartbeat.py
Due: shell, python

Address production alert delivery review feedback
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/observability-operations.md
  scripts/observability_helm.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

Fix legacy DSPACE runner validation
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Clarify production observability rollback
  docs/index.md
  docs/observability-alerting.md
  docs/observability-operations.md
Due: none

Harden legacy runner Git blob validation
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Complete real legacy runner lifecycle coverage
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Restore production alert routing eligibility
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/index.md
  docs/observability-alerting.md
  docs/observability-operations.md
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

Cover legacy runner access repair state
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Add production tokenplace capacity paging
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/examples/tokenplace.values.prod.yaml
  docs/k3s-tokenplace-prod.md
  docs/observability-design.md
  platform/observability/app-metrics.json
  platform/observability/rules/tokenplace-production.yaml
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/tokenplace-production.test.yaml
  tests/test_observability_helm.py
  tests/test_tokenplace_production_alerts.py
Due: shell, python

Add production token.place capacity paging
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/examples/tokenplace.values.prod.yaml
  docs/k3s-tokenplace-prod.md
  docs/observability-design.md
  docs/observability-operations.md
  platform/observability/app-metrics.json
  platform/observability/rules/tokenplace-production.yaml
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/tokenplace-production.test.yaml
  tests/test_generic_app_just_recipes.py
  tests/test_observability_helm.py
  tests/test_tokenplace_observability_alerts.py
Due: shell, python

Add production token.place capacity paging
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/apps/tokenplace.md
  docs/examples/tokenplace.values.prod.yaml
  docs/observability-design.md
  platform/observability/app-metrics.json
  platform/observability/rules/tokenplace-production.yaml
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/tokenplace-production.test.yaml
  tests/test_generic_app_just_recipes.py
  tests/test_observability_helm.py
  tests/test_tokenplace_observability_alerts.py
Due: shell, python

Add production token.place capacity paging
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/examples/tokenplace.values.prod.yaml
  docs/observability-design.md
  docs/observability-operations.md
  docs/observability-tokenplace-production.md
  platform/observability/app-metrics.json
  platform/observability/rules/tokenplace-production-capacity.yaml
  scripts/observability_app_metrics.py
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/tokenplace-production-capacity.test.yaml
  tests/test_generic_app_just_recipes.py
  tests/test_observability_helm.py
  tests/test_tokenplace_observability_alerts.py
Due: shell, python

Address production observability review feedback
  scripts/observability_helm.sh
  tests/test_observability_helm.py
  tests/test_tokenplace_production_alerts.py
Due: shell, python

Stabilize tokenplace production capacity alert
  platform/observability/rules/tokenplace-production.yaml
  tests/prometheus/tokenplace-production.test.yaml
  tests/test_generic_app_just_recipes.py
  tests/test_tokenplace_production_alerts.py
Due: python

Filter tokenplace capacity by scrape target
  platform/observability/rules/tokenplace-production.yaml
  tests/prometheus/tokenplace-production.test.yaml
  tests/test_tokenplace_production_alerts.py
Due: python

Persist bounded DSPACE failure classification
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python
