Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Add generic app CORS verification
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/examples/apps/tokenplace.env
  justfile
  scripts/app_config.py
  scripts/app_cors_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Address CORS verifier review feedback
  justfile
  scripts/app_cors_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Close CORS actual curl failure gap
  scripts/app_cors_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Wire DSPACE token.place runtime origins
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_values_runtime_config.py
Due: python

Wire DSPACE token.place runtime origins
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_runtime_values.py
Due: python

Wire DSPACE token.place runtime origins
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_token_place_runtime.py
Due: python

Wire DSPACE token.place runtime origins
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_token_place_values.py
Due: python

Improve CORS verifier coverage
  scripts/app_cors_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Reject wildcard CORS methods
  scripts/app_cors_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Address DSPACE runtime verification comments
  docs/apps/dspace.md
  tests/test_dspace_runtime_values.py
Due: python

Tighten DSPACE runtime values guardrails
  tests/test_dspace_runtime_values.py
Due: python

Improve CORS verifier patch coverage
  tests/test_generic_app_just_recipes.py
Due: python

Add observability design document
  README.md
  docs/index.md
  docs/observability-design.md
Due: none

docs: add observability design
  README.md
  docs/index.md
  docs/observability-design.md
Due: none

Add observability design
  README.md
  docs/index.md
  docs/observability-design.md
Due: none

Include content type in CORS preflight
  scripts/app_cors_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

docs: address observability review feedback
  docs/observability-design.md
Due: none

docs: tighten observability design gates
  docs/observability-design.md
Due: none

docs: address observability review follow-ups
  docs/observability-design.md
Due: none

Update DSPACE token.place runtime model
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_runtime_values.py
Due: python

Align DSPACE token.place model
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_runtime_values.py
Due: python

Align DSPACE token.place runtime model
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_runtime_values.py
Due: python

Update DSPACE token.place chat model
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_runtime_values.py
Due: python

Use token.place API model for DSPACE runtime
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_runtime_values.py
Due: python

Onboard jobbot3000 generic app
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/jobbot3000.md
  docs/apps/jobbot3000.prod.tag
  docs/apps/jobbot3000.version
  docs/examples/apps/jobbot3000.env
  docs/examples/jobbot3000.values.dev.yaml
  docs/examples/jobbot3000.values.prod.yaml
  docs/examples/jobbot3000.values.staging.yaml
  scripts/app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Onboard jobbot3000 generic app
  README.md
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/jobbot3000.md
  docs/apps/jobbot3000.prod.tag
  docs/apps/jobbot3000.version
  docs/examples/apps/jobbot3000.env
  docs/examples/jobbot3000.values.dev.yaml
  docs/examples/jobbot3000.values.prod.yaml
  docs/examples/jobbot3000.values.staging.yaml
  scripts/app_config.py
  tests/test_app_runbook_links.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Onboard jobbot3000 generic app deployment
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/jobbot3000.md
  docs/apps/jobbot3000.prod.tag
  docs/apps/jobbot3000.version
  docs/examples/apps/jobbot3000.env
  docs/examples/jobbot3000.values.dev.yaml
  docs/examples/jobbot3000.values.prod.yaml
  docs/examples/jobbot3000.values.staging.yaml
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_app_runbook_links.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Test jobbot3000 release docs link
  tests/test_app_runbook_links.py
Due: python

Prepare jobbot3000 staging deployment
  docs/apps/jobbot3000.md
  docs/examples/jobbot3000.values.staging.yaml
  scripts/app_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Prepare jobbot3000 staging deployment
  docs/apps/jobbot3000.md
  docs/examples/jobbot3000.values.staging.yaml
  tests/test_generic_app_just_recipes.py
Due: python

Prepare jobbot3000 staging rollout
  docs/apps/jobbot3000.md
  docs/examples/jobbot3000.values.staging.yaml
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Prepare jobbot3000 staging deploy
  docs/apps/jobbot3000.md
  docs/examples/jobbot3000.values.staging.yaml
  scripts/app_config.py
  scripts/app_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
