Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Fix app metrics secret TTY fallback
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Reconcile observability operator contracts
  docs/observability-operations.md
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Harden app metrics prompt fallback tests
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Expand DSPACE observability patch coverage
  tests/test_dspace_observability_alerts.py
  tests/test_observability_dashboard.py
Due: python

Test app metrics prompt failure contracts
  tests/test_generic_app_just_recipes.py
Due: python

Set verifier User-Agent for public metrics check
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

fix observability verifier user agent
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

fix: set metrics verifier user agent
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Send stable User-Agent for public metrics check
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Add token.place Phase 1 Grafana panels
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

feat(observability): add token.place phase 1 dashboard
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

feat(observability): add token.place Phase 1 dashboard
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

test(observability): make token.place panel lookup robust
  tests/test_observability_dashboard.py
Due: python

fix(observability): enforce token.place panel semantics
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): validate every token.place selector
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): reject generic bare selectors
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): reject misplaced template variables
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): validate selector structure
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

test(observability): cover validator failure paths
  tests/test_observability_dashboard.py
Due: python

style(observability): reflow validator regexes
  scripts/validate_observability_dashboard.py
Due: shell, python

docs: record DSPACE staging alert proof
  docs/observability-alerting.md
  docs/observability-design.md
  docs/observability-dspace-release-integrity.md
  docs/observability-operations.md
  tests/test_observability_helm.py
Due: python

docs(observability): record DSPACE staging proof
  docs/observability-alerting.md
  docs/observability-design.md
  docs/observability-dspace-release-integrity.md
  docs/observability-operations.md
  tests/test_observability_helm.py
Due: python

docs: record DSPACE staging alert drill
  docs/observability-alerting.md
  docs/observability-design.md
  docs/observability-dspace-release-integrity.md
  docs/observability-operations.md
  tests/test_observability_helm.py
Due: python

docs: record completed DSPACE staging drill
  docs/observability-alerting.md
  docs/observability-dspace-release-integrity.md
  docs/observability-operations.md
  tests/test_observability_helm.py
Due: python

Add production observability core lifecycle
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/observability-design.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

docs: address observability review feedback
  docs/observability-design.md
  docs/observability-dspace-release-integrity.md
  docs/observability-operations.md
Due: none

Address observability lifecycle review feedback
  docs/observability-operations.md
  justfile
  tests/test_observability_helm.py
Due: python

docs: clarify DSPACE staging proof
  docs/observability-alerting.md
  docs/observability-design.md
Due: none

Fix production observability contracts
  clusters/prod/observability/kube-prometheus-stack.values.yaml
  docs/observability-design.md
  scripts/observability_helm.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

docs: harden DSPACE producer verification
  docs/observability-dspace-release-integrity.md
Due: none

Restore staging dashboard Helm arguments
  scripts/observability_helm.sh
Due: shell, python

docs: make producer checks fail safely
  docs/observability-dspace-release-integrity.md
Due: none

Restore staging dashboard fail-closed validation
  scripts/observability_helm.sh
Due: shell, python

Fix Grafana admin secret bootstrap
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
