Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

fix(observability): reject underscored quota numbers
  scripts/validate_probe_quotas.py
  tests/test_validate_probe_quotas.py
Due: shell, python

test(operations): cover portable incident workflows
  tests/test_tokenplace_incident_drill.py
Due: python

fix(operations): add bounded metrics OOM trigger
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

feat(operations): add bounded metrics OOM trigger
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

feat(operations): add bounded cardinality OOM trigger
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(operations): harden bounded OOM trigger
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(operations): fail closed on OOM drill execution
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(operations): poll bounded trigger OOM safely
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(operations): validate rehearsal deployment contract
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

test(operations): cover bounded OOM failure paths
  tests/test_tokenplace_incident_drill.py
Due: python

fix(operations): support legacy drill coordinates
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(operations): refresh trigger journal before OOM polling
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

fix(operations): compare rehearsal image digests
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

feat(observability): add DSPACE chat outcome panels
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Add DSPACE chat observability panels
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

feat: add DSPACE chat observability panels
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): correct DSPACE panel semantics
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/generate_observability_dashboards.py
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): enforce DSPACE dashboard contracts
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

test(observability): cover DSPACE validator failures
  tests/test_observability_dashboard.py
Due: python

fix(observability): enforce complete DSPACE health gating
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): keep production verifier declarative
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

refactor(observability): declare ServiceMonitor auth shape
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

feat(observability): declare app metrics auth style
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

refactor(observability): generalize app metrics auth
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

fix(observability): validate credential location type
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

fix(observability): reject unsupported auth locations
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

fix(observability): verify tokenplace latency histogram
  platform/observability/app-metrics.json
  tests/test_generic_app_just_recipes.py
  tests/test_observability_dashboard.py
Due: python

feat(observability): require tokenplace phase one metrics
  platform/observability/app-metrics.json
  tests/test_generic_app_just_recipes.py
Due: python

test(observability): lock tokenplace phase 1 contracts
  tests/test_observability_dashboard.py
  tests/test_tokenplace_production_alerts.py
Due: python

feat(observability): complete tokenplace phase 1 contracts
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/app-metrics.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_tokenplace_phase1_observability.py
Due: shell, python

fix(observability): align tokenplace relay contracts
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/app-metrics.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_generic_app_just_recipes.py
  tests/test_tokenplace_phase1_observability.py
Due: shell, python

fix(observability): finalize tokenplace phase 1 contract
  platform/observability/app-metrics.json
  tests/test_generic_app_just_recipes.py
  tests/test_tokenplace_phase1_observability.py
Due: python

style(observability): align production metric inventory
  platform/observability/app-metrics.json
Due: none

docs(tokenplace): document Qwen production metrics
  docs/k3s-tokenplace-prod.md
Due: none

feat(observability): define encrypted completion contract
  config/observability/tokenplace-encrypted-completion.json
  docs/tokenplace-encrypted-completion-observability.md
  platform/observability/rules/encrypted-completion.yaml
  scripts/encrypted_completion_metrics.py
  scripts/validate_probe_quotas.py
  tests/test_encrypted_completion_observability.py
Due: shell, python

Add encrypted completion observability contract
  config/observability/encrypted-completion.json
  docs/encrypted-completion-observability.md
  scripts/encrypted_completion_metrics.py
  scripts/validate_probe_quotas.py
  tests/test_encrypted_completion_contract.py
Due: shell, python

feat(observability): define encrypted completion contract
  config/observability/encrypted-completion-producers.yaml
  docs/apps/tokenplace.md
  platform/observability/encrypted-completion-metrics.json
  scripts/encrypted_completion_metrics.py
  scripts/validate_probe_quotas.py
  tests/test_encrypted_completion_observability.py
Due: shell, python

feat(observability): define encrypted completion contract
  config/observability/encrypted-completion.json
  docs/tokenplace-encrypted-completion-observability.md
  platform/observability/rules/tokenplace-production.yaml
  scripts/encrypted_completion_metrics.py
  scripts/validate_probe_quotas.py
  tests/test_encrypted_completion_observability.py
  tests/test_tokenplace_production_alerts.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
