Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Add focused up recipe env handoff regression test
  tests/test_up_recipe_calls.py
Due: python

📝 docs: add Tailscale remote-ops design
  docs/design/tailscale-remote-ops.md
  docs/index.md
Due: none

📝 add tailscale remote-ops design doc
  docs/design/tailscale-remote-ops.md
  docs/index.md
Due: none

📝 docs: add Tailscale remote-ops design doc
  docs/design/tailscale-remote-ops.md
  docs/index.md
Due: none

feat: add just tailscale helper recipes
  docs/design/tailscale-remote-ops.md
  justfile
Due: none

✨ implement robust tailscale remote ops workflow
  docs/design/tailscale-remote-ops.md
  docs/raspi_cluster_operations.md
  docs/software/index.md
  justfile
  scripts/tailscale_remote_ops.sh
  tests/scripts/test_tailscale_remote_ops.py
  tests/test_tailscale_remote_ops_e2e.py
Due: shell, python

✨: implement tailscale remote-ops workflow
  docs/design/tailscale-remote-ops.md
  docs/software/index.md
  justfile
  scripts/tailscale_remote_ops.sh
  tests/test_tailscale_remote_ops_docs.py
  tests/test_tailscale_remote_ops_e2e.py
  tests/test_tailscale_remote_ops_script.py
Due: shell, python

✨ : implement tailscale remote ops workflow
  docs/design/tailscale-remote-ops.md
  docs/raspi_cluster_operations.md
  docs/software/index.md
  justfile
  scripts/tailscale_remote_ops.sh
  tests/bats/tailscale_remote_ops.bats
  tests/test_tailscale_docs_discoverability.py
  tests/test_tailscale_remote_ops.py
Due: shell, python

✨: harden tailscale remote ops implementation
  docs/design/tailscale-remote-ops.md
  docs/raspi_cluster_operations.md
  docs/software/index.md
  justfile
  scripts/tailscale_remote_ops.sh
  tests/test_tailscale_remote_ops.py
Due: shell, python

Harden tailscale remote-ops against injection risks
  docs/design/tailscale-remote-ops.md
  justfile
  scripts/tailscale_remote_ops.sh
  tests/test_tailscale_remote_ops_docs.py
  tests/test_tailscale_remote_ops_e2e.py
  tests/test_tailscale_remote_ops_script.py
Due: shell, python

docs: add tailscale discoverability to cluster operations
  docs/raspi_cluster_operations.md
  tests/test_tailscale_remote_ops_docs.py
Due: python

fix: avoid shellcheck SC2016 in tailscale install flow
  scripts/tailscale_remote_ops.sh
  tests/test_tailscale_remote_ops_e2e.py
Due: shell, python

fix: resolve shellcheck trap quoting warning
  scripts/tailscale_remote_ops.sh
Due: shell, python

📝 Add token.place onboarding docs and runbook recipes
  docs/apps/tokenplace-relay.md
  docs/apps/tokenplace.md
  docs/index.md
  docs/k3s-tokenplace-dev.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
  docs/software/index.md
  docs/tokenplace_sugarkube_onboarding.md
  justfile
Due: none

📝 docs: prepare token.place onboarding on sugarkube
  docs/apps/tokenplace-relay.md
  docs/apps/tokenplace.md
  docs/index.md
  docs/k3s-tokenplace-dev.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
  docs/software/index.md
  docs/tokenplace_sugarkube_onboarding.md
  justfile
Due: none

📝 docs: prepare token.place onboarding runbooks and recipes
  README.md
  docs/apps/tokenplace-relay.md
  docs/apps/tokenplace.md
  docs/index.md
  docs/k3s-tokenplace-dev.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
  docs/tokenplace_sugarkube_onboarding.md
  justfile
Due: none

📝 docs: prepare token.place onboarding runbooks and just recipes
  README.md
  docs/apps/tokenplace.md
  docs/index.md
  docs/k3s-tokenplace-dev.md
  docs/k3s-tokenplace-prod.md
  docs/k3s-tokenplace-staging.md
  docs/software/index.md
  docs/tokenplace_sugarkube_onboarding.md
  justfile
Due: none

fix: address PR feedback for token.place recipes and README links
  README.md
  justfile
Due: none

docs: tighten token.place discoverability and generic recipe notes
  docs/apps/tokenplace-relay.md
  docs/apps/tokenplace.md
  docs/software/index.md
  justfile
Due: none

fix: pass docs spellcheck and justfile format checks
  .wordlist.txt
  justfile
Due: none

📝 docs(ops): document GHCR Helm OCI 403 denied troubleshooting
  docs/apps/dspace.md
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_troubleshooting.md
Due: none

📝 docs: add GHCR 403 Helm OCI troubleshooting links
  docs/apps/dspace.md
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_troubleshooting.md
Due: none

📝 docs: add GHCR 403 Helm OCI troubleshooting
  docs/apps/dspace.md
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_troubleshooting.md
Due: none

📝 docs: add GHCR OCI 401/403 troubleshooting links
  docs/apps/dspace.md
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_troubleshooting.md
Due: none

docs: address review notes for GHCR scenario 7
  docs/raspi_cluster_troubleshooting.md
Due: none

docs: align GHCR troubleshooting login variable naming
  docs/raspi_cluster_troubleshooting.md
Due: none

🔒 fix: disable discovery fail-open by default
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_failopen.py
Due: shell, python

🛡️ fix: verify pinned helm install artifacts
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  justfile
Due: none

🔒 : – Verify just installer checksums
  scripts/install_just.sh
  tests/checks_script_test.py
  tests/test_install_just_script.py
Due: shell, python

test: address PR review feedback on fail-open defaults
  tests/scripts/test_api_readiness_401.py
  tests/scripts/test_failopen_timeout_config.py
  tests/scripts/test_k3s_discover_failopen.py
Due: python

fix: address review feedback for helm install hardening
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/tutorials/tutorial-07-kubernetes-container-fundamentals.md
  justfile
Due: none

style: format justfile for formatter check
  justfile
Due: none

Fix installer checksum portability and SHA256SUMS handling
  scripts/install_just.sh
  tests/test_install_just_script.py
Due: shell, python

test: prevent CI hang in mid-election join regression test
  tests/scripts/test_k3s_discover_mid_election_join.py
Due: python

test: document timeout skip remediation context
  tests/scripts/test_k3s_discover_mid_election_join.py
Due: python

🔒 fix: enforce strict SSH host key checking
  docs/design/tailscale-remote-ops.md
  scripts/tailscale_remote_ops.sh
  tests/test_tailscale_remote_ops_script.py
Due: shell, python

🔒 fix: verify tailscale installer checksum before execution
  docs/design/tailscale-remote-ops.md
  docs/raspi_cluster_operations.md
  scripts/tailscale_remote_ops.sh
Due: shell, python

🔒 fix: pin tokenplace relay default image tag
  apps/tokenplace-relay/values.dev.yaml
  docs/apps/tokenplace-relay.md
  docs/examples/tokenplace-relay.values.dev.yaml
  justfile
Due: none

🛡️ : – Harden oci parity smoke checkout trust boundary
  .github/workflows/pi-image.yml
  tests/test_pi_image_tooling.py
Due: python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
