Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Add guarded DSPACE chart 3.0.3 reconciliation
  docs/apps/dspace.md
  docs/apps/dspace.prod-metrics-chart-target.json
  docs/apps/dspace.prod.version
  justfile
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: shell, python

Cover resilience audit list validation
  tests/test_prod_resilience_audit.py
Due: python

Fix DSPACE reconciliation argument validation
  justfile
  scripts/dspace_manifest_rollback.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: shell, python

Close DSPACE chart reconciliation correctness gaps
  docs/apps/dspace.md
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: shell, python

Restore fail-closed Helm revision checks
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Cover DSPACE maintenance validation branches
  tests/test_manifest_rollback.py
Due: python

Cover remaining DSPACE maintenance guards
  tests/test_manifest_rollback.py
Due: python

Onboard immutable DSPACE chart 3.0.3
  docs/apps/dspace.md
  docs/apps/dspace.prod-recovery-coordinates.json
  docs/apps/dspace.prod.version
  platform/observability/app-metrics.json
  scripts/app_chart.py
  scripts/dspace_runtime_verifier.py
  scripts/observability_app_metrics.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
  tests/test_release_manifest.py
Due: shell, python

Onboard immutable DSPACE chart 3.0.3
  docs/apps/dspace.md
  docs/apps/dspace.prod-recovery-coordinates.json
  docs/apps/dspace.prod.version
  platform/observability/app-metrics.json
  scripts/app_chart.py
  scripts/observability_app_metrics.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
  tests/test_release_manifest.py
Due: shell, python

Address DSPACE 3.0.3 review feedback
  docs/apps/dspace.md
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Clarify DSPACE recovery contract coverage
  docs/apps/dspace.md
  tests/test_dspace_runtime_verifier.py
Due: python

Fix DSPACE legacy coordinate test references
  tests/test_dspace_runtime_verifier.py
Due: python

Support DSPACE 3.0.3 ServiceMonitor contract
  platform/observability/app-metrics.json
  scripts/app_chart.py
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fix DSPACE recovery staging chart fixture
  tests/test_generic_app_just_recipes.py
Due: python

Fix DSPACE recovery staging version target
  docs/apps/dspace.md
Due: none

Fix DSPACE metrics pull-policy recovery
  docs/apps/dspace.md
  justfile
  scripts/dspace_manifest_rollback.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: shell, python

Fix DSPACE pull-policy reconciliation recovery
  docs/apps/dspace.md
  justfile
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Fix DSPACE metrics pull policy recovery
  docs/apps/dspace.md
  justfile
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Address guarded DSPACE recovery review feedback
  justfile
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Harden DSPACE pull policy recovery preflight
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Preserve precise DSPACE recovery failure stages
  scripts/dspace_manifest_rollback.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: shell, python

Cover DSPACE production recovery lifecycle
  tests/test_manifest_rollback.py
Due: python

Fix DSPACE metrics pull-policy recovery
  docs/apps/dspace.md
  justfile
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: shell, python

Recover DSPACE metrics pull policy
  docs/apps/dspace.md
  justfile
  scripts/dspace_manifest_rollback.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: shell, python

Fix DSPACE production pull-policy recovery
  docs/apps/dspace.md
  justfile
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: shell, python

Close DSPACE recovery drift coverage gaps
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Handle invalid UTF-8 recovery evidence
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Cover DSPACE recovery validation branches
  tests/test_manifest_rollback.py
Due: python

Harden DSPACE pull-policy recovery proof
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Harden DSPACE recovery deployment validation
  scripts/dspace_manifest_rollback.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: shell, python

Reconnect DSPACE pull-policy recovery validation
  docs/apps/dspace.md
  scripts/dspace_manifest_rollback.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: shell, python

Prepare DSPACE 3.1.1 staging promotion
  docs/apps/dspace.md
  docs/apps/dspace.promotion-target.json
  docs/apps/dspace.staging.version
  scripts/dspace_promotion_plan.py
  tests/test_dspace_promotion_plan.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
