Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Clarify Cloudflare Tunnel active pod checks
  scripts/verify_cloudflare_tunnel.sh
  tests/test_verify_cloudflare_tunnel.py
Due: shell, python

fix production Grafana table frames
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): consolidate production tables
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

fix(observability): consolidate production dashboard tables
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

docs(observability): update build identity contract
  docs/observability-operations.md
Due: none

validate production table headings
  docs/observability-operations.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

test observability table organization validation
  tests/test_observability_dashboard.py
Due: python

ci: fix Claude workflow auth and sandbox bootstrap
  .github/workflows/claude.yml
Due: none

ci: apt-get update before installing bubblewrap in claude-validation
  .github/workflows/claude.yml
Due: none

ci: temporarily enable show_full_output to diagnose claude job instant failure
  .github/workflows/claude.yml
Due: none

Add deterministic Cloudflare WAN drill
  docs/cloudflare_tunnel.md
  justfile
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Add deterministic Cloudflare WAN loss drill
  docs/cloudflare_tunnel.md
  justfile
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

ci: revert temporary Claude action debug output
  .github/workflows/claude.yml
Due: none

Harden Cloudflare WAN drill cleanup
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Close Cloudflare WAN drill safety gaps
  docs/cloudflare_tunnel.md
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Verify WAN drill watchdogs and cleanup
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Fail closed on WAN drill ruleset queries
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Record WAN drill pod evidence invariants
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Add exact manual node plan for WAN drill
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Phase manual WAN drill commands
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Fix manual WAN plan array subscripts
  scripts/cloudflare_wan_dependency_loss_drill.sh
Due: shell, python

Exercise WAN drill with stateful offline harness
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Generate canonical observability dashboards
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  platform/observability/dashboards/observability-dashboard.template.json
  scripts/generate_observability_dashboards.py
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

feat: generate canonical observability dashboards
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  platform/observability/dashboards/sugarkube-observability.json
  scripts/generate_observability_dashboards.py
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Generate canonical observability dashboards
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  docs/observability-operations.md
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/generate_observability_dashboards.py
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Strengthen WAN drill stateful lifecycle tests
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Fix image pin agreement checks
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

ci: fix claude job sandbox initialization
  .github/workflows/claude.yml
Due: none

Enforce observability capability presence gates
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Fix flaky signal/timeout tests and add distinct SIGINT coverage
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Raise observability dashboard patch coverage
  tests/test_observability_dashboard.py
Due: python

Fix WAN drill Just argument forwarding
  justfile
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Fix Cloudflare WAN drill Just argument forwarding
  justfile
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Fix WAN drill just argument forwarding
  justfile
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Preserve Cloudflare drill argument boundaries
  justfile
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Use recipe-local Cloudflare argument forwarding
  justfile
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python
