Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

✨ : – allow ci simulate to run with custom python interpreters
  docs/ci-simulation.md
  outages/2025-11-07-python314-mdns-test-fixture-approach.md
  scripts/ci_simulate.sh
  tests/test_ci_simulate_script.py
Due: shell, python

✅ : – Emit mdns warn reasons in status logs
  notes/ci-test-fixes-action-plan.md
  scripts/mdns_selfcheck.sh
  tests/scripts/test_mdns_selfcheck_warn_status.py
Due: shell, python

✅ : – align taskfile pi flash env handling
  README.md
  Taskfile.yml
  tests/test_taskfile.py
Due: python

Simplify warn reason assignment
  scripts/mdns_selfcheck.sh
Due: shell, python

Inline warn reason argument
  scripts/mdns_selfcheck.sh
Due: shell, python

Align Taskfile Pi helpers with FLASH_DEVICE forwarding
  README.md
  Taskfile.yml
  tests/test_taskfile.py
Due: python

Refine Python resolution in ci_simulate
  scripts/ci_simulate.sh
Due: shell, python

Address Copilot feedback
  docs/raspi_cluster_setup.md
  justfile
  scripts/filter_debug_log.py
Due: shell, python

Simplify mdns warn reason emission
  scripts/mdns_selfcheck.sh
Due: shell, python

Fix mdns warn args shellcheck warnings
  scripts/mdns_selfcheck.sh
Due: shell, python

commit sugarkube0 logs for debugging
  logs/up/20251110T062317Z_6f5c1db_sugarkube0_just-up-dev.log
Due: none

commit sugarkube1 logs for debugging
  logs/up/20251110T062909Z_6f5c1db_sugarkube1_just-up-dev.log
Due: none

fix(apiready): accept HTTP 401 as alive; let server-first publish mDNS without waiting for 200
  scripts/check_apiready.sh
  scripts/k3s-discover.sh
  tests/bats/api_readyz_gate.bats
Due: shell, python

fix: scope 401 allowance to bootstrap
  scripts/check_apiready.sh
  scripts/k3s-discover.sh
  tests/bats/api_readyz_gate.bats
Due: shell, python

fix: keep last_status unquoted for timeout logs
  scripts/check_apiready.sh
Due: shell, python

chore(mdns): tolerate flaky Avahi D-Bus; prefer publish-on-alive
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_dbus_fallback.sh
Due: shell, python

fix: ensure timeout exit code and stderr logging
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_dbus_fallback.sh
Due: shell, python

✅ : enforce test env defaults in checks script
  README.md
  notes/final-summary.md
  scripts/checks.sh
  tests/checks_script_test.py
Due: shell, python

🧪 : – enforce skip comment guidelines
  notes/skipped-tests-status.md
  tests/bats/api_readyz_gate.bats
  tests/bats/l4_probe.bats
  tests/bats/mdns_selfcheck.bats
  tests/integration/mdns_roundtrip.bats
  tests/pi_node_verifier_output_test.bats
  tests/test_bats_skip_guidelines.py
Due: shell, python

✨ : – add fan square pattern helper
  cad/pi_cluster/fan_patterns.scad
  cad/pi_cluster/fan_wall.scad
  docs/pi_cluster_stack.md
  tests/test_fan_patterns_scad.py
Due: python

test: relax mdns fallback harness timeout
  tests/scripts/test_k3s_discover_dbus_fallback.sh
Due: python

Harden skip directive detection
  tests/test_bats_skip_guidelines.py
Due: python

Address Copilot review feedback
  cad/pi_cluster/fan_patterns.scad
  docs/pi_cluster_stack.md
Due: none

chore(k3s-discover): drop unused API_READY_LAST_OUTCOME
  scripts/k3s-discover.sh
Due: shell, python

🧹 : – Clear doc env vars during wipe
  docs/raspi_cluster_setup.md
  justfile
  scripts/unset_doc_env_vars.sh
  tests/test_unset_doc_env_vars.py
Due: shell, python

Address review feedback on env cleanup
  scripts/unset_doc_env_vars.sh
  tests/test_unset_doc_env_vars.py
Due: shell, python

Document api_readyz_gate skip directives
  tests/bats/api_readyz_gate.bats
Due: shell, python

Silence wipe command invocation
  justfile
Due: none

🐛 : – Fix wipe recipe sudo invocation and add regression guard
  justfile
  outages/2025-11-11-just-wipe.json
  tests/test_wipe_recipe_decl.py
Due: python

Add new sugarkube0 debug log
  logs/up/20251111T043644Z_e2d5450_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 debug log
  logs/up/20251111T044040Z_7cada3d_sugarkube1_just-up-dev.log
Due: none

🚀 : – Ship local ncat stub for l4_probe
  notes/ci-test-failures-remaining-work.md
  notes/skipped-tests-status.md
  tests/bats/fixtures/ncat_stub.py
  tests/bats/l4_probe.bats
  tests/test_ncat_stub.py
Due: shell, python

✨ : – Stabilize api ready gate port allocation retries
  tests/bats/api_readyz_gate.bats
Due: shell, python

Handle find_free_port retries under set -e
  tests/bats/api_readyz_gate.bats
Due: shell, python

Address Copilot feedback on ncat stub
  notes/skipped-tests-status.md
  tests/bats/fixtures/ncat_stub.py
Due: shell, python

🐛 : fix(discovery): accept NSS fallback for discovery
  scripts/k3s-discover.sh
  scripts/k3s_mdns_query.py
  tests/scripts/test_k3s_discover_dbus_fallback.sh
  tests/scripts/test_k3s_discover_nss_fallback.sh
Due: shell, python

fix(discovery): accept NSS when avahi-resolve flakes; use hostname K3S_URL; keep IP optional
  scripts/k3s-discover.sh
  scripts/k3s_mdns_query.py
  tests/scripts/test_k3s_discover_dbus_fallback.sh
  tests/scripts/test_k3s_discover_nss_fallback.sh
  tests/scripts/test_k3s_mdns_query.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
