Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

docs: treat Traefik as k3s default; verify instead of install
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
  justfile
  scripts/lib/traefik_crd.sh
Due: shell, python

📝 : docs: treat Traefik as k3s default; verify instead of install
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
  justfile
  scripts/lib/traefik_crd.sh
Due: shell, python

✅ : – Fail fast when ls-remote fallback missing
  tests/test_pi_image_tooling.py
Due: python

✨ : – Add auto netns stub fallback
  README.md
  tests/helpers/netns_stub.py
  tests/test_mdns_ready_e2e.py
  tests/test_netns_stub.py
Due: python

fix: update traefik doctor test expectations
  docs/raspi_cluster_operations.md
  tests/test_traefik_crd_doctor.py
Due: python

Align sleep_fn lambda style in tests
  tests/test_pi_image_tooling.py
Due: python

Refine netns auto fallback handling
  tests/test_mdns_ready_e2e.py
  tests/test_netns_stub.py
Due: python

Refine netns auto-fallback permission detection
  tests/test_mdns_ready_e2e.py
  tests/test_netns_stub.py
Due: python

Fix lint for probe stub test
  tests/test_netns_stub.py
Due: python

Add skip context comments for netns setup skips
  tests/test_mdns_ready_e2e.py
Due: python

✨ : – add kubeconfig helper recipe
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
  scripts/k3s-discover.sh
  scripts/lib/kubeconfig.sh
Due: shell, python

✨ : – add kubeconfig recipe for pi
  docs/raspi_cluster_operations.md
  justfile
  scripts/lib/kubeconfig.sh
Due: shell, python

✨ : – add kubeconfig helper recipe
  docs/raspi_cluster_operations.md
  justfile
  scripts/lib/kubeconfig.sh
Due: shell, python

✨ : add kubeconfig helper recipe
  docs/raspi_cluster_operations.md
  justfile
  scripts/lib/kubeconfig.sh
Due: shell, python

Fix kubeconfig compatibility and harden bashrc append
  justfile
  scripts/lib/kubeconfig.sh
Due: shell, python

Adjust kubeconfig recipe compatibility messaging
  justfile
Due: none

Fix kubeconfig env normalization
  justfile
Due: none

✨ : – Add xfail fallback for missing tools
  README.md
  tests/conftest.py
  tests/test_require_tools.py
Due: python

✨ : – reuse preinstall shims in require_tools
  README.md
  tests/conftest.py
  tests/test_require_tools.py
Due: python

✨ : – auto-shim missing tools
  README.md
  tests/conftest.py
  tests/test_require_tools.py
Due: python

✨ : – Fall back to tool shims when installs fail
  README.md
  tests/conftest.py
  tests/test_require_tools.py
Due: python

Clarify tool shim skip guidance
  tests/conftest.py
Due: python

Clarify shim fallback guidance
  README.md
  tests/conftest.py
Due: python

✨ add dspace immutable OCI deploy helper
  docs/apps/dspace.md
  justfile
Due: none

✨ Add dspace immutable OCI deploy helper
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
  justfile
Due: none

✨ add dspace immutable OCI deploy helper
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
  justfile
Due: none

✨ add dspace immutable deploy helper
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
  justfile
Due: none

Fix dspace OCI deploy bootstrap and rollout UX
  justfile
Due: none

📝 Clarify dspace staging/prod log workflow
  docs/apps/dspace.md
  justfile
Due: none

📝 docs: clarify dspace staging/prod log workflow
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
  justfile
Due: none

📝 chore: clarify dspace staging/prod log workflow
  docs/apps/dspace.md
  justfile
Due: none

📝: clarify dspace staging/prod log workflow
  docs/apps/dspace.md
  justfile
Due: none

Refine dspace immutable deploy helper behavior
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
  justfile
Due: none

Fix dspace log wrapper kubeconfig override
  justfile
Due: none

Format justfile for CI check
  justfile
Due: none

docs: tighten dspace log workflow follow-up guidance
  docs/apps/dspace.md
Due: none

✨ chore: prepare dspace v3 prod cutover
  docs/apps/dspace.md
  docs/examples/dspace.values.prod_preview.yaml
  justfile
Due: none

🚀 chore: prepare dspace v3 prod rollout docs and just targets
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
  docs/examples/dspace.values.prod-subdomain.yaml
  docs/raspi_cluster_operations.md
  justfile
Due: none

📝 docs/just: prep dspace v3 prod cutover
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  justfile
Due: none

🚀 : docs – add dspace prod-canary rollout support
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
  docs/examples/dspace.values.prod-canary.yaml
  justfile
Due: none
