Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Fix Justfile heredoc indentation
  justfile
Due: none

🔧 : Fix cf tunnel heredocs and add syntax checks
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🔧 : – Guard cf-tunnel heredocs and syntax
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

✅ : Fix cf tunnel heredoc syntax and add tests
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🧪 : Fix cf-tunnel heredocs and add syntax guards
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Improve heredoc well-formedness checks
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Replace cf-tunnel patch heredoc with string and relax tests
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

📝 : link token-mode outage reference
  docs/cloudflare_tunnel.md
  justfile
  outages/2025-11-29-cloudflare-tunnel-token-mode.json
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

😊 : link outage to tunnel fix commit
  docs/cloudflare_tunnel.md
  justfile
  outages/2025-11-29-cloudflare-tunnel-token-mode.json
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🚑 fix: align cloudflare tunnel token-only flow
  docs/cloudflare_tunnel.md
  justfile
  outages/2025-11-29-cloudflare-tunnel-token-mode.json
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🧾 : Update outage reference link
  docs/cloudflare_tunnel.md
  docs/raspi_cluster_operations_manual.md
  justfile
  outages/2025-11-29-cloudflare-tunnel-token-mode.json
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Deduplicate tunnel guidance and correct outage date
  justfile
  outages/2024-06-03-cloudflare-tunnel-token-mode.json
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

Fix justfile indentation for formatter
  justfile
Due: none

📝 : Harden Cloudflare tunnel docs
  docs/cloudflare_tunnel.md
Due: none

📝 : – Rewrite Cloudflare tunnel guide
  docs/cloudflare_tunnel.md
Due: none

Add token-mode callouts to Cloudflare tunnel docs
  docs/cloudflare_tunnel.md
Due: none

docs: update cloudflared readiness check instructions
  docs/cloudflare_tunnel.md
Due: none

docs: update cloudflared readiness check
  docs/cloudflare_tunnel.md
Due: none

docs: update cloudflare tunnel readiness check
  docs/cloudflare_tunnel.md
Due: none

docs: clarify cloudflare tunnel readiness check
  docs/cloudflare_tunnel.md
Due: none

🚀 : – enforce mdns stub coverage
  QUICK_REFERENCE_MDNS.md
  tests/integration/mdns_roundtrip.bats
  tests/test_mdns_roundtrip_stub.py
Due: python

🛰️ : add staging values for dspace
  docs/apps/dspace.md
  docs/examples/dspace.values.staging.yaml
  justfile
Due: none

🔧 : Normalize helm-oci chart arg parsing
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
Due: none

✅ : Normalize helm-oci chart arg parsing
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
Due: none

🐛 : Fix helm OCI chart arg forwarding
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
Due: none

✅ : – Fix helm-oci chart arg parsing
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
Due: none

Fix helm-oci argument fallback and outage references
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
Due: none

✅ : – Harden helm OCI deployment args
  .github/workflows/ci.yml
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
  scripts/test-helm-oci-install.sh
Due: shell, python

🐛 : fix helm-oci chart args
  .github/workflows/ci.yml
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
  scripts/test-helm-oci-install.sh
Due: shell, python

🐛 : Harden helm OCI deploy args
  .github/workflows/ci.yml
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
  scripts/test-helm-oci-install.sh
Due: shell, python

🛠️ : Harden helm OCI deploy plumbing
  .github/workflows/ci.yml
  justfile
  outages/2025-11-29-helm-oci-install-dspace-invalid-chart-url.json
  scripts/test-helm-oci-install.sh
Due: shell, python

Add cleanup trap to helm OCI test script
  scripts/test-helm-oci-install.sh
Due: shell, python

📝 : Clarify Helm OCI auth and dspace paths
  docs/raspi_cluster_operations.md
Due: none

Add GHCR to spellcheck wordlist
  .wordlist.txt
Due: none

📝 : Document fast dspace redeploy path
  docs/raspi_cluster_operations.md
  justfile
Due: none

📝 : Document dspace emergency redeploy path
  docs/raspi_cluster_operations.md
  justfile
Due: none

📝 : – Document fast dspace redeploy path
  docs/raspi_cluster_operations.md
  justfile
Due: none

✨ : – document emergency dspace redeploy
  docs/raspi_cluster_operations.md
  justfile
Due: none

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
