Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

docs: correct HCP Terraform token contract
  infra/terraform/cloudflare/staging/README.md
Due: none

docs(terraform): correct HCP local auth token
  infra/terraform/cloudflare/staging/README.md
Due: none

docs(terraform): require HCP user token
  infra/terraform/cloudflare/staging/README.md
Due: none

docs: correct HCP Terraform user token guidance
  infra/terraform/cloudflare/staging/README.md
Due: none

Activate GitShelves WAN drill probes
  clusters/staging/observability/probes/public-apps.yaml
  docs/observability-blackbox.md
  tests/test_monitoring_blackbox.py
Due: python

Activate GitShelves staging WAN probes
  clusters/staging/observability/probes/public-apps.yaml
  docs/observability-blackbox.md
  tests/test_monitoring_blackbox.py
Due: python

Require WAN drill annotations to be removed
  tests/test_monitoring_blackbox.py
Due: python

Keep DSPACE runner Git validation read-only
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE runner validation index mutation
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Strengthen DSPACE access repair regression coverage
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Bound DSPACE runner metadata repair writes
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Apply DSPACE runner metadata repairs proportionally
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Bound DSPACE runner access metadata writes
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Strip runner file capabilities during access repair
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Keep runner access repair metadata-only
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Support ARM64 in Cloudflare provider lock
  .github/workflows/terraform-validate.yml
  infra/terraform/cloudflare/staging/.terraform.lock.hcl
  infra/terraform/cloudflare/staging/README.md
Due: none

fix(terraform): lock Cloudflare provider for ARM64
  .github/workflows/terraform-validate.yml
  infra/terraform/cloudflare/staging/.terraform.lock.hcl
  infra/terraform/cloudflare/staging/README.md
Due: none

Support ARM64 Cloudflare Terraform lock
  .github/workflows/terraform-validate.yml
  infra/terraform/cloudflare/staging/.terraform.lock.hcl
  infra/terraform/cloudflare/staging/README.md
Due: none

Fix Cloudflare lock for ARM64
  .github/workflows/terraform-validate.yml
  infra/terraform/cloudflare/staging/.terraform.lock.hcl
  infra/terraform/cloudflare/staging/README.md
Due: none

Require committed Terraform provider lock
  .github/workflows/terraform-validate.yml
Due: none

Check provider lock remains tracked after regeneration
  .github/workflows/terraform-validate.yml
Due: none

Fix DSPACE runner Git trust
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE runner Git ownership trust
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Trust validated DSPACE runner for runtime Git checks
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fix DSPACE runner Git trust scope
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Sanitize runner Git environment redirects
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden DSPACE Chromium launch contract
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Classify DSPACE synthetic launch failures safely
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden DSPACE Chromium launch diagnostics
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden DSPACE failure diagnostics
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Increase Prometheus retention to 90 days
  docs/observability-operations.md
  platform/observability/helm/kube-prometheus-stack.values.common.yaml
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Increase Prometheus retention safely
  docs/observability-operations.md
  platform/observability/helm/kube-prometheus-stack.values.common.yaml
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Bind DSPACE Playwright failure contracts
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python
