Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

feat: log D-Bus call context on Avahi failures
  scripts/mdns_ready.sh
  scripts/wait_for_avahi_dbus.sh
  tests/scripts/test_mdns_ready.sh
  tests/test_mdns_ready_unit.py
Due: shell, python

fix: align sanitization and remove illegal locals
  scripts/mdns_ready.sh
  scripts/wait_for_avahi_dbus.sh
Due: shell, python

🛡️ : – Add privacy-safe network diagnostics capture
  logs/README.md
  scripts/k3s-discover.sh
  scripts/net_debug_sanitized.sh
  tests/test_net_debug_sanitized.py
Due: shell, python

feat: add privacy-safe net debug capture
  logs/README.md
  scripts/k3s-discover.sh
  scripts/net_debug_sanitized.sh
  tests/fixtures/net_debug/bin/avahi-browse
  tests/fixtures/net_debug/bin/avahi-resolve
  tests/fixtures/net_debug/bin/ip
  tests/fixtures/net_debug/bin/ip6tables
  tests/fixtures/net_debug/bin/iptables
  tests/fixtures/net_debug/bin/journalctl
  tests/fixtures/net_debug/bin/jq
  tests/fixtures/net_debug/bin/nft
  tests/fixtures/net_debug/bin/resolvectl
  tests/fixtures/net_debug/bin/ss
  tests/fixtures/net_debug/bin/systemctl
  tests/test_net_debug_sanitized.py
Due: shell, python

Add new sugarkube0 log
  logs/up/20251114T060520Z_60db9f2_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube0 logs
  logs/up/20251114T060921Z_4602635_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251114T073332Z_ea32e7d_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251114T073712Z_43ec115_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251114T082625Z_231cd61_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251114T083009Z_b4f6e46_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251115T003550Z_37088fd_sugarkube0_just-up-dev.log
Due: none

add new sugarkube1 log
  logs/up/20251115T003833Z_c2673f4_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251115T014709Z_d5c80f1_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251115T015038Z_938e2df_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251115T023707Z_ecd5c60_sugarkube0_just-up-dev.log
Due: none

add new sugarkube1 log
  logs/up/20251115T024530Z_6c1c7a4_sugarkube1_just-up-dev.log
Due: none

add new sugarkube0 log
  logs/up/20251115T070652Z_d3ad6d5_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251115T075654Z_a248613_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251115T080439Z_db1f46a_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251116T043030Z_8f3ec70_sugarkube0_just-up-dev.log
Due: none

add new sugarkube1 log
  logs/up/20251116T044635Z_7b2a7da_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251116T053217Z_f4083d1_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251116T054559Z_b2c7997_sugarkube1_just-up-dev.log
Due: none

Create debug-mdns_2025-11-15T22:04:20-08:00.log.sanitized
  logs/debug-mdns_2025-11-15T22:04:20-08:00.log.sanitized
Due: none

Add debug script for mDNS troubleshooting
  logs/debug-mdns.sh
Due: none

🔒 : sanitize debug mdns logs
  logs/README.md
  logs/debug-mdns.sh
  tests/fixtures/debug_mdns/bin/avahi-browse
  tests/fixtures/debug_mdns/bin/avahi-resolve
  tests/fixtures/debug_mdns/bin/curl
  tests/fixtures/debug_mdns/bin/ip
  tests/fixtures/debug_mdns/bin/iptables
  tests/fixtures/debug_mdns/bin/journalctl
  tests/fixtures/debug_mdns/bin/netstat
  tests/fixtures/debug_mdns/bin/ping
  tests/fixtures/debug_mdns/bin/ss
  tests/fixtures/debug_mdns/bin/sudo
  tests/fixtures/debug_mdns/bin/systemctl
  tests/fixtures/debug_mdns/bin/tcpdump
  tests/fixtures/debug_mdns/bin/ufw
  tests/test_debug_mdns_script.py
Due: python

🧹 : sanitize debug mdns script
  logs/README.md
  logs/debug-mdns.sh
  tests/fixtures/debug_mdns/bin/avahi-browse
  tests/fixtures/debug_mdns/bin/avahi-resolve
  tests/fixtures/debug_mdns/bin/curl
  tests/fixtures/debug_mdns/bin/date
  tests/fixtures/debug_mdns/bin/hostname
  tests/fixtures/debug_mdns/bin/ip
  tests/fixtures/debug_mdns/bin/iptables
  tests/fixtures/debug_mdns/bin/journalctl
  tests/fixtures/debug_mdns/bin/netstat
  tests/fixtures/debug_mdns/bin/ping
  tests/fixtures/debug_mdns/bin/ss
  tests/fixtures/debug_mdns/bin/sudo
  tests/fixtures/debug_mdns/bin/systemctl
  tests/fixtures/debug_mdns/bin/tcpdump
  tests/fixtures/debug_mdns/bin/ufw
  tests/test_debug_mdns_script.py
Due: python

🛡️ : – Sanitize mDNS debug output
  logs/README.md
  logs/debug-mdns.sh
  tests/fixtures/debug_mdns/bin/avahi-browse
  tests/fixtures/debug_mdns/bin/avahi-resolve
  tests/fixtures/debug_mdns/bin/curl
  tests/fixtures/debug_mdns/bin/date
  tests/fixtures/debug_mdns/bin/hostname
  tests/fixtures/debug_mdns/bin/ip
  tests/fixtures/debug_mdns/bin/iptables
  tests/fixtures/debug_mdns/bin/journalctl
  tests/fixtures/debug_mdns/bin/netstat
  tests/fixtures/debug_mdns/bin/ping
  tests/fixtures/debug_mdns/bin/ss
  tests/fixtures/debug_mdns/bin/sudo
  tests/fixtures/debug_mdns/bin/systemctl
  tests/fixtures/debug_mdns/bin/tcpdump
  tests/fixtures/debug_mdns/bin/ufw
  tests/test_debug_mdns_script.py
Due: python

🛡️ : – sanitize debug mdns logging
  logs/README.md
  logs/debug-mdns.sh
  tests/fixtures/debug_mdns/bin/avahi-browse
  tests/fixtures/debug_mdns/bin/avahi-resolve
  tests/fixtures/debug_mdns/bin/curl
  tests/fixtures/debug_mdns/bin/hostname
  tests/fixtures/debug_mdns/bin/ip
  tests/fixtures/debug_mdns/bin/iptables
  tests/fixtures/debug_mdns/bin/journalctl
  tests/fixtures/debug_mdns/bin/netstat
  tests/fixtures/debug_mdns/bin/ping
  tests/fixtures/debug_mdns/bin/ss
  tests/fixtures/debug_mdns/bin/sudo
  tests/fixtures/debug_mdns/bin/systemctl
  tests/fixtures/debug_mdns/bin/tcpdump
  tests/fixtures/debug_mdns/bin/ufw
  tests/test_debug_mdns_script.py
Due: python

Address review feedback for debug-mdns sanitization
  docs/runbook.md
  logs/debug-mdns.sh
  tests/test_debug_mdns_script.py
Due: python

Add new sugarkube0 log
  logs/up/20251116T071546Z_42b3907_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251116T073213Z_aa4fdcb_sugarkube1_just-up-dev.log
Due: none

📝 : Clarify sanitized mDNS capture command
  logs/README.md
Due: none

Add new sugarkube0 log
  logs/up/20251116T225411Z_a60c1e0_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251116T230525Z_ea5d29e_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251117T001354Z_4d83ccd_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/debug-mdns_2025-11-16T23:12:05Z.log.sanitized
  logs/up/20251117T002003Z_1eea239_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/debug-mdns_2025-11-17T00:19:14Z.log.sanitized
  logs/up/20251117T054628Z_1c815ea_sugarkube0-tyyk_just-up-dev.log
Due: none

add new sugarkube0 log
  logs/debug-mdns_2025-11-17T06:17:22Z.log.sanitized
  logs/up/20251117T083951Z_c543bd3_sugarkube0-tyyk_just-up-ev.log
  logs/up/20251117T084005Z_c543bd3_sugarkube0-tyyk_just-up-dev.log
Due: none

Update allowed hosts in README example
  logs/README.md
Due: none
