Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Reject non-string derived normalizers
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Restore producer-compatible token truncation
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

docs: design static 429 boundary emulation
  docs/index.md
  docs/static-429-boundary-emulation-design.md
Due: none

docs: design static 429 boundary emulation
  docs/design/tokenplace-static-429-boundary-emulation.md
  docs/index.md
Due: none

docs: design static 429 boundary emulation
  docs/design/static-429-boundary-emulation.md
  docs/index.md
Due: none

docs: correct static 429 design safeguards
  docs/design/tokenplace-static-429-boundary-emulation.md
Due: none

docs: clarify static 429 cleanup contract
  docs/design/tokenplace-static-429-boundary-emulation.md
Due: none

Add offline static 429 emulation planner
  scripts/tokenplace_static_429_plan.py
  tests/test_tokenplace_static_429_plan.py
Due: shell, python

Add offline static 429 planner
  scripts/tokenplace_static_429_plan.py
  tests/test_tokenplace_static_429_plan.py
Due: shell, python

Harden static 429 plan validation
  scripts/tokenplace_static_429_plan.py
  tests/test_tokenplace_static_429_plan.py
Due: shell, python

Complete static 429 planner hardening
  scripts/tokenplace_static_429_plan.py
  tests/test_tokenplace_static_429_plan.py
Due: shell, python

Privatize static planner parse failures
  scripts/tokenplace_static_429_plan.py
  tests/test_tokenplace_static_429_plan.py
Due: shell, python

Fix Codecov missing patch status policy
  codecov.yml
Due: none

Cover static 429 planner refusal paths
  tests/test_tokenplace_static_429_plan.py
Due: python

Refuse excessively nested planner input
  scripts/tokenplace_static_429_plan.py
  tests/test_tokenplace_static_429_plan.py
Due: shell, python

Make decoder recursion regression deterministic
  tests/test_tokenplace_static_429_plan.py
Due: python

Add bounded static 429 observer
  scripts/tokenplace_static_429_observer.py
  tests/test_tokenplace_static_429_observer.py
Due: shell, python

feat: add bounded static 429 observer
  scripts/tokenplace_static_429_observer.py
  tests/test_tokenplace_static_429_observer.py
Due: shell, python

Address static 429 observer review feedback
  scripts/tokenplace_static_429_observer.py
  tests/test_tokenplace_static_429_observer.py
Due: shell, python

Close static observer contract gaps
  scripts/tokenplace_static_429_observer.py
  tests/test_tokenplace_static_429_observer.py
Due: shell, python

Handle ordinary static observer transport failures
  scripts/tokenplace_static_429_observer.py
  tests/test_tokenplace_static_429_observer.py
Due: shell, python

Validate static observer outcome semantics
  scripts/tokenplace_static_429_observer.py
  tests/test_tokenplace_static_429_observer.py
Due: shell, python

Validate static observer JSON scalar types
  scripts/tokenplace_static_429_observer.py
  tests/test_tokenplace_static_429_observer.py
Due: shell, python

Expand static observer coverage
  tests/test_tokenplace_static_429_observer.py
Due: python

Require static observer lifecycle opt-in
  scripts/tokenplace_static_429_observer.py
  tests/test_tokenplace_static_429_observer.py
Due: shell, python

Cover static observer evidence validation
  tests/test_tokenplace_static_429_observer.py
Due: python

🧪 : evaluate unmatched edge budgets with offline replay
  docs/design/tokenplace-unmatched-edge-evaluation.md
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_edge_replay.py
  tests/test_tokenplace_edge_replay.py
Due: shell, python

Explain optional observability telemetry and add private Grafana captures
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  platform/observability/dashboards/sugarkube-observability.template.json
  platform/observability/helm/kube-prometheus-stack.values.common.yaml
  scripts/capture_grafana_dashboard.py
  tests/test_capture_grafana_dashboard.py
Due: shell, python

Clean up failed Grafana captures and sync evidence to disk
  scripts/capture_grafana_dashboard.py
  tests/test_capture_grafana_dashboard.py
Due: shell, python

🔒 Add bounded private aggregate evidence contract
  docs/design/tokenplace-aggregate-evidence.md
  scripts/tokenplace_evidence.py
  tests/test_tokenplace_evidence.py
Due: shell, python

Cover Grafana capture CLI credential and error paths
  tests/test_capture_grafana_dashboard.py
Due: python

Require a private owned directory for Grafana captures
  scripts/capture_grafana_dashboard.py
  tests/test_capture_grafana_dashboard.py
Due: shell, python

Validate PNG chunk boundaries and checksums before capture
  scripts/capture_grafana_dashboard.py
  tests/test_capture_grafana_dashboard.py
Due: shell, python

🔒 Reject store symlinks with trailing path separators
  docs/design/tokenplace-aggregate-evidence.md
  scripts/tokenplace_evidence.py
  tests/test_tokenplace_evidence.py
Due: shell, python

Validate PNG pixel streams and handle truncated HTTP reads
  scripts/capture_grafana_dashboard.py
  tests/test_capture_grafana_dashboard.py
Due: shell, python
