Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Normalize rollback OCI preflight failures
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Complete rollback safety regression matrix
  tests/test_manifest_rollback.py
Due: python

Enforce branch-SHA image deployment tags
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  justfile
  scripts/app_config.py
  scripts/test-helm-oci-install.sh
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Enforce branch-SHA deployment image tags
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  justfile
  scripts/app_config.py
  scripts/test-helm-oci-install.sh
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Enforce branch-SHA deployment image tags
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/jobbot3000.md
  docs/apps/tokenplace-relay.md
  docs/apps/tokenplace.md
  justfile
  scripts/app_config.py
  scripts/test-helm-oci-install.sh
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Enforce branch-SHA image deployment tags
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/jobbot3000.md
  docs/apps/tokenplace.md
  justfile
  scripts/app_config.py
  scripts/test-helm-oci-install.sh
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Close remaining branch-SHA deployment gaps
  docs/apps/tokenplace-relay.md
  docs/raspi_cluster_operations.md
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Make branch-SHA documentation placeholders shell-safe
  docs/raspi_cluster_operations.md
Due: none

Polish staging observability dashboard
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Polish staging observability dashboard
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-design.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Render exact app releases before cluster mutation
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  justfile
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Render exact app releases before cluster mutation
  docs/app_deployment_contract.md
  justfile
  scripts/app_chart.py
  scripts/test-helm-oci-install.sh
  tests/test_generic_app_just_recipes.py
Due: shell, python

🛡️ : render exact app releases before mutation
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  justfile
  scripts/app_chart.py
  scripts/test-helm-oci-install.sh
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fix availability summary missing-data semantics
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Expose missing observability probe data
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Address exact-release preflight review feedback
  justfile
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Retain missing probe visibility for seven days
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Tighten exact-release render validation
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  justfile
  scripts/app_chart.py
  scripts/test-helm-oci-install.sh
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Cover observability validator failure paths
  tests/test_observability_dashboard.py
Due: python

Confine deployment mutation markers
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Fix tokenplace OCI test arguments
  tests/test_generic_app_just_recipes.py
Due: python

Fix public Helm helper marker test
  tests/test_generic_app_just_recipes.py
Due: python

Add observability alerting strategy and app-agnostic platform design
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/design/app-agnostic-platform.md
  docs/index.md
  docs/observability-alerting.md
  docs/observability-blackbox.md
  docs/observability-design.md
  docs/observability-operations.md
  docs/software/index.md
Due: none

Resolve Helm values null overlays structurally
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Validate all coherent workload image tags
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

docs: clarify observability monitoring contracts
  docs/index.md
  docs/observability-alerting.md
  docs/observability-design.md
Due: none

Scope DSPACE manifest validation structurally
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

docs: resolve observability design contracts
  docs/design/app-agnostic-platform.md
  docs/observability-alerting.md
  docs/observability-design.md
Due: none

Associate DSPACE smoke resources with release
  scripts/test-helm-oci-install.sh
Due: shell, python

docs: clarify release-gate probe ownership
  docs/observability-design.md
Due: none

Associate DSPACE Python fixture with release
  tests/test_generic_app_just_recipes.py
Due: python

Make Just diagnostic assertion case-insensitive
  tests/test_generic_app_just_recipes.py
Due: python

Add staging PagerDuty synthetic alert foundation
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/validate_observability_alertmanager.py
  tests/test_observability_helm.py
Due: shell, python

feat: add staging PagerDuty synthetic alert foundation
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/validate_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

feat: add staging PagerDuty alerting foundation
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/validate_observability_alertmanager.py
  tests/test_observability_helm.py
Due: shell, python

Add staging PagerDuty synthetic alert foundation
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

Scope tokenplace metadata to release deployments
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
