Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Harden DSPACE runtime identity verification
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Tighten DSPACE runtime ownership checks
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Require bundled DSPACE runtime verifier
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Fail closed on Cloudflare auth blockers
  docs/staging-cert-manager.md
  scripts/staging_cert_manager.py
  tests/test_staging_cert_manager.py
Due: shell, python

Fail closed on Cloudflare auth blockers
  docs/runbook.md
  docs/staging-cert-manager.md
  scripts/staging_cert_manager.py
  tests/test_staging_cert_manager.py
Due: shell, python

Expand DSPACE runtime verifier regressions
  tests/test_dspace_runtime_verifier.py
Due: python

Treat final ACME challenges as inactive
  scripts/staging_cert_manager.py
  tests/test_staging_cert_manager.py
Due: shell, python

Preserve DSPACE rollback recipe compatibility
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Normalize DSPACE rollback named arguments
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Route sparse DSPACE deployment arguments
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Add staging observability watchdog
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-design.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/observability_watchdog.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

Add staging observability watchdog
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-design.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/observability_watchdog.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
  tests/test_observability_watchdog.py
Due: shell, python

Address observability watchdog review feedback
  scripts/observability_watchdog.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

Harden DSPACE runtime evidence validation
  scripts/dspace_release_manifest.py
  tests/test_release_manifest.py
Due: shell, python

Consolidate observability watchdog operations
  docs/observability-alerting.md
  docs/observability-design.md
  docs/observability-operations.md
  justfile
  scripts/observability_helm.sh
  scripts/observability_watchdog.sh
  scripts/verify_observability_alertmanager.rb
  tests/test_observability_helm.py
Due: shell, python

Fix watchdog ShellCheck warnings
  scripts/observability_helm.sh
Due: shell, python

Test DSPACE production gate orchestration
  tests/test_generic_app_just_recipes.py
Due: python

Normalize DSPACE release verify arguments
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Restore observability function boundaries
  scripts/observability_helm.sh
Due: shell, python

docs: complete DSPACE release workflows
  docs/app_deployment_contract.md
  docs/apps/dspace.md
Due: none

Fix watchdog function declarations
  scripts/observability_helm.sh
Due: shell, python

Restore pre-PR formatting in DSPACE release changes
  scripts/dspace_release_manifest.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Avoid watchdog status helper collision
  scripts/observability_helm.sh
Due: shell, python

Avoid watchdog verify helper collision
  scripts/observability_helm.sh
Due: shell, python

Test DSPACE verifier failure boundaries
  tests/test_dspace_runtime_verifier.py
Due: python

Require exact watchdog rule labels
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Test watchdog Secret workflows
  tests/test_observability_helm.py
Due: python

Test controlled watchdog drill safety
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Test watchdog live verification failures
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Prepare DSPACE split-provenance reconciliation
  docs/apps/dspace.md
  docs/apps/dspace.prod.version
  docs/apps/dspace.recovery-3.0.2.coordinates.json
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  tests/test_dspace_runtime_values.py
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: shell, python

Prepare DSPACE production reconciliation
  docs/apps/dspace.md
  docs/apps/dspace.prod.version
  docs/apps/dspace.recovery-coordinates.json
  scripts/dspace_release_manifest.py
  tests/test_dspace_runtime_values.py
  tests/test_release_manifest.py
Due: shell, python

Prepare DSPACE production reconciliation
  docs/apps/dspace.md
  docs/apps/dspace.prod-recovery-coordinates.json
  docs/apps/dspace.prod.version
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  tests/test_dspace_runtime_values.py
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: shell, python

Prepare DSPACE production reconciliation
  docs/apps/dspace.md
  docs/apps/dspace.prod-recovery-coordinates.json
  docs/apps/dspace.prod.version
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: shell, python

Test watchdog recipes and refresh status docs
  docs/observability-alerting.md
  docs/observability-design.md
  docs/observability-operations.md
  tests/test_observability_helm.py
Due: python

docs: correct DSPACE recovery commands
  docs/apps/dspace.md
Due: none

Clarify watchdog implementation status
  docs/observability-operations.md
  tests/test_observability_helm.py
Due: python
