Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Pin jobbot3000 troubleshooting to staging context
  docs/apps/jobbot3000.md
  tests/test_generic_app_just_recipes.py
Due: python

Pin jobbot3000 helm diagnostics to staging
  docs/apps/jobbot3000.md
  tests/test_generic_app_just_recipes.py
Due: python

Add public blackbox monitoring foundation
  clusters/staging/patches/external-dns-activation.yaml
  docs/observability-blackbox.md
  docs/observability-design.md
  monitoring/kustomization.yaml
  monitoring/probes/public-apps.yaml
  platform/kustomization.yaml
  platform/observability/kustomization.yaml
  platform/observability/prometheus-blackbox-exporter-values.yaml
  platform/observability/prometheus-blackbox-exporter.yaml
  tests/test_monitoring_blackbox.py
Due: python

Add public blackbox monitoring foundation
  clusters/staging/patches/external-dns-activation.yaml
  docs/observability-blackbox.md
  docs/observability-design.md
  monitoring/kustomization.yaml
  monitoring/probes/public-blackbox.yaml
  platform/kustomization.yaml
  platform/observability/kustomization.yaml
  platform/observability/prometheus-blackbox-exporter-values.yaml
  platform/observability/prometheus-blackbox-exporter.yaml
  tests/test_blackbox_monitoring.py
Due: python

Add public blackbox monitoring foundation
  clusters/staging/patches/external-dns-activation.yaml
  docs/observability-blackbox.md
  docs/observability-design.md
  monitoring/kustomization.yaml
  monitoring/probes/public-blackbox.yaml
  platform/kustomization.yaml
  platform/observability/kustomization.yaml
  platform/observability/prometheus-blackbox-exporter-values.yaml
  platform/observability/prometheus-blackbox-exporter.yaml
  tests/test_monitoring_blackbox.py
Due: python

Add public blackbox monitoring foundation
  clusters/staging/kustomization.yaml
  docs/observability-blackbox.md
  docs/observability-design.md
  monitoring/kustomization.yaml
  monitoring/probes/app-public-blackbox.yaml
  platform/observability/blackbox-exporter-values.yaml
  platform/observability/blackbox-exporter.yaml
  platform/observability/kustomization.yaml
  tests/test_blackbox_monitoring.py
Due: python

Address blackbox monitoring review feedback
  clusters/prod/kustomization.yaml
  clusters/staging/kustomization.yaml
  monitoring/kustomization.yaml
  monitoring/probes/kustomization.yaml
  monitoring/probes/public-apps.yaml
  platform/observability/prometheus-blackbox-exporter-values.yaml
  tests/test_monitoring_blackbox.py
Due: python

Make blackbox monitoring prompt-complete
  clusters/prod/kustomization.yaml
  clusters/staging/kustomization.yaml
  clusters/staging/patches/external-dns-activation.yaml
  docs/observability-blackbox.md
  monitoring/kustomization.yaml
  monitoring/probes/kustomization.yaml
  monitoring/probes/public-apps.yaml
  platform/kustomization.yaml
  platform/observability/kustomization.yaml
  platform/observability/prometheus-blackbox-exporter-values.yaml
  platform/observability/prometheus-blackbox-exporter.yaml
  tests/test_monitoring_blackbox.py
Due: python

Avoid ripgrep dependency in blackbox tests
  tests/test_monitoring_blackbox.py
Due: python

Fix blackbox generic 2xx and docs
  docs/observability-blackbox.md
  docs/observability-design.md
  platform/observability/prometheus-blackbox-exporter.yaml
  tests/test_monitoring_blackbox.py
Due: python

Exclude public blackbox probes from dev
  clusters/prod/kustomization.yaml
  clusters/staging/kustomization.yaml
  docs/observability-blackbox.md
  monitoring/kustomization.yaml
  monitoring/probes/kustomization.yaml
  tests/test_monitoring_blackbox.py
Due: python

Bump danielsmith chart pin to 0.2.3
  docs/apps/danielsmith.version
Due: none

Approve danielsmith 0.1.1 production image
  docs/apps/danielsmith.prod.tag
Due: none

Bump danielsmith chart pin to 0.2.4
  docs/apps/danielsmith.version
Due: none

Approve danielsmith 0.1.2 production image
  docs/apps/danielsmith.prod.tag
Due: none

Guard Kubernetes mutations by node-label identity
  docs/app_onboarding.md
  docs/raspi_cluster_setup.md
  justfile
  scripts/cluster_identity.py
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_just_recipes.py
  tests/test_kubeconfig_recipe.py
Due: shell, python

Guard app mutations by Kubernetes cluster identity
  docs/app_deployment_contract.md
  docs/raspi_cluster_operations.md
  justfile
  scripts/cluster_identity.py
  tests/test_cluster_identity.py
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_just_recipes.py
  tests/test_kubeconfig_recipe.py
Due: shell, python

Guard Helm mutations by cluster node identity
  docs/raspi_cluster_operations.md
  justfile
  scripts/cluster_identity.py
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_just_recipes.py
  tests/test_kubeconfig_recipe.py
Due: shell, python

Guard app deploys with Kubernetes cluster identity
  docs/app_deployment_contract.md
  justfile
  scripts/cluster_identity.py
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_just_recipes.py
  tests/test_kubeconfig_recipe.py
Due: shell, python

Address cluster identity guard review feedback
  justfile
  scripts/cluster_identity.py
  tests/test_cluster_identity.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Complete fail-closed Helm identity guard
  justfile
  scripts/cluster_identity.py
  tests/test_cluster_identity.py
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Require explicit env for Helm OCI helpers
  docs/apps/dspace.md
  docs/apps/tokenplace-relay.md
  docs/raspi_cluster_operations.md
  justfile
  scripts/test-helm-oci-install.sh
  tests/test_generic_app_just_recipes.py
Due: shell, python

Require explicit env for tokenplace rollback
  docs/app_onboarding.md
  docs/apps/danielsmith.md
  docs/apps/dspace.md
  docs/apps/tokenplace-relay.md
  docs/apps/tokenplace.md
  docs/k3s-tokenplace-dev.md
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Require expected cluster identity for Helm guards
  justfile
  scripts/cluster_identity.py
  scripts/test-helm-oci-install.sh
  tests/test_cluster_identity.py
  tests/test_danielsmith_oci_wrappers.py
  tests/test_generic_app_just_recipes.py
  tests/test_kubeconfig_recipe.py
Due: shell, python

Remove ambiguous cluster assertion plumbing
  justfile
  scripts/cluster_identity.py
  tests/test_cluster_identity.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Cover cluster identity helper in process
  tests/test_cluster_identity.py
Due: python

📦 : – Bump danielsmith chart pin
  docs/apps/danielsmith.version
Due: none

Fix assert-cluster-env env argument normalization
  justfile
  tests/test_assert_cluster_env_recipe.py
Due: python

Fix assert-cluster-env env argument normalization
  justfile
  tests/test_kubeconfig_recipe.py
Due: python

Normalize assert-cluster-env recipe args
  justfile
  tests/test_kubeconfig_recipe.py
Due: python

test: cover empty env assert-cluster-env recipe
  tests/test_kubeconfig_recipe.py
Due: python

📦 : – Bump danielsmith chart pin to 0.2.6
  docs/apps/danielsmith.version
Due: none

fix(dspace): pin production to immutable v3.0.1 image
  docs/apps/dspace.prod.tag
Due: none

Persist DSPACE staging chart and metrics config
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  docs/apps/dspace.prod.version
  docs/apps/dspace.staging.version
  docs/examples/apps/dspace.env
  docs/examples/dspace.values.staging.yaml
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Persist DSPACE staging chart and metrics pins
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  docs/apps/dspace.prod.version
  docs/apps/dspace.staging.version
  docs/examples/apps/dspace.env
  docs/examples/dspace.values.staging.yaml
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_dspace_runtime_values.py
Due: shell, python

Persist DSPACE staging chart and metrics config
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  docs/apps/dspace.prod.version
  docs/apps/dspace.staging.version
  docs/examples/apps/dspace.env
  docs/examples/dspace.values.staging.yaml
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_dspace_runtime_values.py
Due: shell, python

Persist DSPACE staging chart and metrics config
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  docs/apps/dspace.prod.version
  docs/apps/dspace.staging.version
  docs/examples/apps/dspace.env
  docs/examples/dspace.values.staging.yaml
  justfile
  scripts/app_config.py
  tests/test_app_config.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Address DSPACE chart pin review feedback
  justfile
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
