Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

fix(discovery): accept NSS fallback; prefer hostname join
  scripts/k3s-discover.sh
  scripts/k3s_mdns_query.py
  tests/scripts/test_k3s_discover_dbus_fallback.sh
  tests/scripts/test_k3s_discover_nss_fallback.sh
Due: shell, python

fix: avoid undefined server env for bootstrap install
  scripts/k3s-discover.sh
Due: shell, python

fix: drop unused accept path selection state
  scripts/k3s-discover.sh
Due: shell, python

fix: ignore local host when selecting server candidates
  scripts/k3s_mdns_query.py
Due: shell, python

🧹 : – chore(mdns): prefer TXT ip; add outage doc
  docs/outages/2025-11-11-mdns-disconnect.md
  scripts/k3s-discover.sh
  scripts/k3s_mdns_query.py
  scripts/mdns_publish_static.sh
  tests/scripts/test_k3s_discover_txt_ip.sh
Due: shell, python

chore(mdns): embed ip4/ip6 in TXT; prefer TXT/NSS over avahi-resolve; add outage doc
  docs/outages/2025-11-11-mdns-disconnect.md
  scripts/k3s-discover.sh
  scripts/k3s_mdns_query.py
  scripts/mdns_publish_static.sh
  tests/scripts/test_k3s_discover_txt_ip.sh
Due: shell, python

chore(mdns): embed txt ip fast path and add outage doc
  docs/outages/2025-11-11-mdns-disconnect.md
  scripts/k3s-discover.sh
  scripts/k3s_mdns_query.py
  scripts/mdns_publish_static.sh
  tests/scripts/test_k3s_discover_txt_ip.sh
Due: shell, python

chore(mdns): embed txt ip hints
  docs/outages/2025-11-11-mdns-disconnect.md
  scripts/k3s-discover.sh
  scripts/k3s_mdns_query.py
  scripts/mdns_publish_static.sh
  tests/scripts/test_k3s_discover_txt_ip.sh
Due: shell, python

fix: address mdns outage review feedback
  docs/outages/2025-11-11-mdns-disconnect.md
  outages/2025-11-11-mdns-disconnect.json
  scripts/mdns_publish_static.sh
Due: shell, python

test: stub ip data for mdns publish fixture
  tests/bats/mdns_wire_probe.bats
  tests/fixtures/avahi_service_bootstrap.xml
Due: shell, python

test: allow mdns bootstrap fixtures to include txt ip hints
  tests/scripts/test_k3s_discover_bootstrap_publish.py
Due: python

add new sugarkube1 log
  logs/up/20251111T234144Z_d2b1b60_sugarkube0_just-up-dev.log
Due: none

add new sugarkube1 log
  logs/up/20251111T234650Z_d2b1b60_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251112T231600Z_13d44bf_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251112T232029Z_f8f34d4_sugarkube1_just-up-dev.log
Due: none

add new sugarkube0 log
  logs/up/20251112T234121Z_8579249_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251112T234657Z_9637c9f_sugarkube1_just-up-dev.log
Due: none

✨ : – implement deterministic fail-open join
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_failopen.py
Due: shell, python

✨ : – sanitize fail-open token handling
  scripts/k3s-discover.sh
Due: shell, python

Ensure fail-open retries require reachable host
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_failopen.py
Due: shell, python

Export K3S_URL in fail-open path
  scripts/k3s-discover.sh
Due: shell, python

🔧 : – enforce kube-proxy nftables defaults
  scripts/k3s-install-iptables.sh
  scripts/k3s_preflight.sh
Due: shell, python

feat: enforce kube-proxy nftables preflight
  docs/LOGGING.md
  docs/runbook.md
  scripts/build_pi_image.sh
  scripts/k3s_preflight.sh
  systemd/etc/rancher/k3s/config.yaml.d/10-kube-proxy.yaml
  systemd/first-boot-prepare.sh
Due: shell, python

fix: address copilot review feedback
  docs/LOGGING.md
  docs/runbook.md
  scripts/build_pi_image.sh
  systemd/first-boot-prepare.sh
Due: shell, python

: Ensure kube-proxy nftables preflight
  docs/LOGGING.md
  docs/runbook.md
  scripts/cloud-init/user-data.yaml
  scripts/install_deps.sh
  scripts/k3s_preflight.sh
  systemd/etc/rancher/k3s/config.yaml.d/10-kube-proxy.yaml
  systemd/first-boot-prepare.sh
Due: shell, python

Refine kube-proxy nftables setup and logging
  scripts/k3s_preflight.sh
  scripts/lib/kube_proxy.sh
  systemd/first-boot-prepare.sh
Due: shell, python

✅ : –
  scripts/k3s-discover.sh
  scripts/k3s-install-iptables.sh
Due: shell, python

Skip iptables alternative when non-root
  scripts/k3s-install-iptables.sh
Due: shell, python

🛡️ : – add iptables fallback for kube-proxy preflight
  scripts/k3s_preflight.sh
  scripts/lib/kube_proxy.sh
  systemd/first-boot-prepare.sh
Due: shell, python

Refactor kube-proxy helpers for shared iptables logic
  scripts/k3s_preflight.sh
  scripts/lib/kube_proxy.sh
  systemd/first-boot-prepare.sh
Due: shell, python

🚀 : – Harden Avahi publish confirmation checks
  scripts/k3s-discover.sh
  scripts/mdns_publish_static.sh
  tests/bats/mdns_wire_probe.bats
Due: shell, python

Address Copilot review feedback
  scripts/k3s-discover.sh
  scripts/mdns_publish_static.sh
Due: shell, python

Remove unused publish_success flag
  scripts/k3s-discover.sh
Due: shell, python

Fix indentation in D-Bus parser try block
  scripts/mdns_publish_static.sh
Due: shell, python

Handle Avahi permission failures during publish confirmation
  scripts/mdns_publish_static.sh
  tests/bats/mdns_wire_probe.bats
Due: shell, python

Respect skip flag for mDNS host self-check
  scripts/mdns_publish_static.sh
Due: shell, python

✅ : – add discovery fail-open recovery e2e test
  tests/integration/test_k3s_discover_failopen_e2e.py
Due: python

✅ : Add fail-open recovery e2e test
  tests/test_k3s_discover_failopen_e2e.py
Due: python

Refactor fail-open test harness utilities
  tests/conftest.py
  tests/test_k3s_discover_failopen_e2e.py
  tests/test_mdns_ready_e2e.py
Due: python
