Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

chore: add values overlay preflight check for prod subdomain deploy
  justfile
Due: none

docs: tighten dspace rollout scope and revert extra ops link
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
  docs/raspi_cluster_operations.md
Due: none

style: format justfile for dspace recipes
  justfile
Due: none

📝 docs: clarify dspace prod preview vs apex rollout
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
Due: none

📝 docs: clarify dspace phase A preview vs phase B apex
  docs/apps/dspace.md
Due: none

🛠️ docs: clarify dspace phase A preview and apex promotion
  docs/apps/dspace.md
  docs/examples/dspace.values.prod-subdomain.yaml
  docs/examples/dspace.values.prod.yaml
  justfile
Due: none

🛠️ : clarify dspace prod preview vs apex rollout
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
Due: none

docs: clarify dspace quick-redeploy command intent
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
Due: none

docs: add explicit wrong-overlay guardrails for dspace phases
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
Due: none

🛠️ fix: wait for OCI helm rollout completion
  docs/apps/dspace.md
  justfile
  outages/2026-03-31-helm-oci-install-rollout-feedback-gap.json
  tests/test_helm_oci_install_rollout_feedback.py
Due: python

🛠️ fix: wait for helm oci installs to reach readiness
  justfile
  outages/2026-03-31-helm-oci-install-readiness-gap.json
  tests/test_helm_oci_install_waits.py
Due: python

🛠️ fix: wait for helm oci release rollouts
  docs/apps/dspace.md
  justfile
  outages/2026-03-31-helm-oci-install-rollout-feedback-gap.json
  scripts/test-helm-oci-install.sh
Due: shell, python

🛠️ Add rollout feedback to helm-oci-install
  justfile
  outages/2026-03-31-helm-oci-install-rollout-feedback-gap.json
  scripts/test-helm-oci-install.sh
  tests/fixtures/fake_helm_registry/charts/dspace-0.0.0.tgz
Due: shell, python

Generate Helm chart fixture at test runtime
  justfile
  scripts/test-helm-oci-install.sh
  tests/fixtures/fake_helm_registry/charts/dspace-0.0.0.tgz
Due: shell, python

Tighten helm rollout target fallback discovery
  justfile
  outages/2026-03-31-helm-oci-install-rollout-feedback-gap.json
  scripts/test-helm-oci-install.sh
Due: shell, python

🐛 fix: default pi image builds to arm64 userspace
  docs/pi_image_cloudflare.md
  scripts/build_pi_image.sh
  tests/build_pi_image_test.py
Due: shell, python

🐛 fix pi image userspace arch defaults
  docs/pi_image_cloudflare.md
  scripts/build_pi_image.sh
  tests/build_pi_image_test.py
Due: shell, python

🛠️ fix: default pi-gen build to true arm64 userspace
  docs/pi_image_cloudflare.md
  scripts/build_pi_image.sh
  tests/build_pi_image_test.py
Due: shell, python

🔧 fix: default pi image userspace to arm64 with 32-bit opt-in
  docs/pi_image_cloudflare.md
  scripts/build_pi_image.sh
  tests/build_pi_image_test.py
Due: shell, python

fix: tighten armhf opt-in checks and branch messaging
  docs/pi_image_cloudflare.md
  scripts/build_pi_image.sh
  tests/build_pi_image_test.py
Due: shell, python

feat: record userspace arch in pi image metadata
  docs/pi_image_cloudflare.md
  scripts/build_pi_image.sh
  tests/build_pi_image_test.py
Due: shell, python

📝 docs: evergreen dspace deployment guidance
  docs/apps/dspace.md
  docs/apps/dspace.prod.tag
  docs/apps/dspace.version
  docs/examples/dspace.values.prod-subdomain.yaml
  justfile
Due: none

📝 docs: evergreen dspace deploy and release guidance
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
  docs/examples/dspace.values.dev.yaml
  docs/examples/dspace.values.prod-subdomain.yaml
  docs/examples/dspace.values.prod.yaml
  docs/examples/dspace.values.staging.yaml
  docs/raspi_cluster_operations.md
  justfile
Due: none

📝 : evergreen dspace docs and recipe messaging
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
  docs/examples/dspace.values.dev.yaml
  docs/examples/dspace.values.prod-subdomain.yaml
  docs/raspi_cluster_operations.md
  justfile
Due: none

📝 docs: make DSPACE deployment guidance evergreen
  docs/apps/dspace.md
  docs/apps/dspace.prod.tag
  docs/apps/dspace.version
  docs/cloudflare_tunnel.md
  docs/examples/dspace.values.prod-subdomain.yaml
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  justfile
Due: none

docs: address Copilot and Greptile follow-up comments
  docs/cloudflare_tunnel.md
  docs/examples/dspace.values.dev.yaml
  docs/raspi_cluster_operations.md
Due: none

docs: add explicit dspace staging/prod verification commands
  docs/apps/dspace.md
Due: none

chore: format justfile for CI check
  justfile
Due: none

📝 docs: polish dspace evergreen wording and verification blocks
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
Due: none

📝 docs: tighten dspace verification and preview wording
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
Due: none

📝 docs: tighten dspace main-first wording and verification
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
Due: none

📝 : polish evergreen dspace docs wording
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
Due: none

docs: keep hostname lists copy/paste-safe and mark prod optional
  docs/cloudflare_tunnel.md
Due: none

docs: clarify optional prod preview wording consistency
  docs/cloudflare_tunnel.md
Due: none

docs: describe prod subdomain as optional redirect host
  docs/apps/dspace.md
  docs/cloudflare_tunnel.md
Due: none

✨ make kubectl work without sudo after just up
  docs/pi_image_quickstart.md
  justfile
  scripts/k3s-discover.sh
  tests/test_up_recipe_calls.py
Due: shell, python

✨ : make kubectl work without sudo by default
  docs/raspi_cluster_operations.md
  justfile
  scripts/lib/kubeconfig.sh
  tests/test_kubeconfig_recipe.py
  tests/test_status_recipe.py
Due: shell, python

✨ fix: auto-provision kubectl access for pi
  docs/raspi_cluster_setup.md
  scripts/lib/kubeconfig.sh
  tests/test_kubeconfig_lib.py
Due: shell, python

✨ fix: default kubectl to run without sudo on Pi
  docs/raspi_cluster_setup.md
  justfile
  scripts/k3s-discover.sh
  scripts/lib/kubeconfig.sh
  tests/scripts/test_kubectl_default_access.py
Due: shell, python

Fix kubeconfig user/home defaults in up recipe
  justfile
  tests/test_up_recipe_calls.py
Due: python
