Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Prepare DSPACE 3.1.1 staging promotion plan
  docs/apps/dspace-3.1.1-promotion-preparation.md
  docs/apps/dspace.md
  docs/apps/dspace.promotion-target.json
  docs/apps/dspace.staging.version
  scripts/dspace_promotion_plan.py
  tests/test_dspace_promotion_plan.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Address DSPACE promotion plan review feedback
  docs/apps/dspace.md
  docs/apps/dspace.promotion-target.json
  scripts/dspace_promotion_plan.py
  tests/test_dspace_promotion_plan.py
Due: shell, python

Harden DSPACE promotion plan validation
  scripts/dspace_promotion_plan.py
  tests/test_dspace_promotion_plan.py
Due: shell, python

Complete DSPACE recovery safety contract
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Normalize DSPACE live deployment metadata
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Restore DSPACE promotion target schema
  docs/apps/dspace.md
  docs/apps/dspace.promotion-target.json
  scripts/dspace_promotion_plan.py
  tests/test_dspace_promotion_plan.py
Due: shell, python

Expand DSPACE promotion planner coverage
  tests/test_dspace_promotion_plan.py
Due: python

Exercise real DSPACE recovery finalization
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Consolidate DSPACE pull-policy recovery runbook
  docs/apps/dspace.md
Due: none

Synchronize watchdog signal cleanup test
  tests/test_observability_helm.py
Due: python

Add DSPACE staging app metrics contract
  docs/apps/dspace.md
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_dspace_app_metrics_contract.py
Due: shell, python

Add DSPACE staging app metrics contract
  docs/apps/dspace.md
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Add DSPACE staging metrics contract
  docs/apps/dspace.md
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_dspace_staging_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Address DSPACE metrics review feedback
  docs/apps/dspace.md
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Complete DSPACE observability verification contract
  scripts/observability_app_metrics.py
  scripts/test-helm-oci-install.sh
  tests/test_generic_app_just_recipes.py
Due: shell, python

Remove unreachable app metrics validation branch
  scripts/observability_app_metrics.py
Due: shell, python

Validate DSPACE build timestamps
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Fix DSPACE modern build timestamp verification
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Validate DSPACE modern build timestamps
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Fix runtime identity tuple annotation
  scripts/dspace_runtime_verifier.py
Due: shell, python

Reject null modern runtime images
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Cover normalized midnight timestamps
  tests/test_dspace_runtime_verifier.py
Due: python

Complete DSPACE image identity regression coverage
  tests/test_dspace_runtime_verifier.py
Due: python

Remove redundant DSPACE legacy image test
  tests/test_dspace_runtime_verifier.py
Due: python

Fix DSPACE staging metrics contract verification
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  scripts/test-helm-oci-install.sh
  tests/test_generic_app_just_recipes.py
Due: shell, python

Validate DSPACE transferred metrics labels
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  scripts/test-helm-oci-install.sh
  tests/test_generic_app_just_recipes.py
Due: shell, python

Scope DSPACE metadata fallback to verified targets
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Expand DSPACE metrics contract regression coverage
  tests/test_generic_app_just_recipes.py
Due: python

Fix Prometheus target metadata response handling
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Accept canonical filtered target metadata
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Publish DSPACE 3.1.1 staging release evidence
  deployment-evidence/dspace/staging/main-22f506e-20260817T094911Z.json
Due: none

Update DSPACE staging release integrity coordinates
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  platform/observability/dashboards/sugarkube-observability.template.json
  platform/observability/rules/dspace-release-integrity.yaml
  tests/prometheus/dspace-release-integrity.test.yaml
  tests/test_dspace_observability_alerts.py
  tests/test_observability_dashboard.py
Due: python

Update current DSPACE release documentation
  docs/apps/dspace.md
  docs/observability-design.md
  docs/observability-dspace-release-integrity.md
  tests/test_dspace_observability_alerts.py
Due: python
