Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Restore Just 1.21 positional forwarding
  justfile
Due: none

Require approved observability revision for WAN drill
  docs/cloudflare_tunnel.md
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Add authenticated production DSPACE metrics contract
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/observability-operations.md
  justfile
  platform/observability/app-metrics.json
  scripts/app_chart.py
  scripts/dspace_release_manifest.py
  scripts/observability_app_metrics.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Support authenticated production DSPACE metrics
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/observability-operations.md
  justfile
  platform/observability/app-metrics.json
  scripts/app_chart.py
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  scripts/observability_app_metrics.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Support authenticated DSPACE production metrics
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/observability-operations.md
  platform/observability/app-metrics.json
  scripts/app_chart.py
  scripts/dspace_release_manifest.py
  scripts/observability_app_metrics.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Support authenticated production DSPACE metrics
  docs/apps/dspace.md
  docs/examples/dspace.values.prod.yaml
  docs/observability-operations.md
  justfile
  platform/observability/app-metrics.json
  scripts/app_chart.py
  scripts/dspace_release_manifest.py
  scripts/observability_app_metrics.py
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
  tests/test_release_manifest.py
Due: shell, python

Address production metrics review feedback
  scripts/app_chart.py
  scripts/dspace_manifest_rollback.py
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fail closed on typed observability revisions
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Complete production metrics reconciliation safeguards
  justfile
  scripts/app_chart.py
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Scope strict render validation to reconciliation
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Fix Cloudflare WAN drill crictl path
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Fix WAN drill crictl path
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Use k3s crictl path in WAN drill
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Accept safe DSPACE chart stored values
  scripts/dspace_release_manifest.py
  tests/test_release_manifest.py
Due: shell, python

Remove unused legacy crictl test state
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Model exact crictl paths in WAN drill tests
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: python

Harden DSPACE stored credential validation
  scripts/dspace_release_manifest.py
  tests/test_release_manifest.py
Due: shell, python

Reassert production target before DSPACE reconciliation
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Cover production DSPACE reconciliation success
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: python

Cover terminating pods during DSPACE reconciliation
  tests/test_manifest_rollback.py
Due: python

Fix privileged network namespace identity reads
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Use sudo for WAN drill namespace identity reads
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Use sudo for cross-process network namespace reads
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Expand DSPACE reconciliation branch coverage
  tests/test_manifest_rollback.py
Due: python

Fix WAN drill namespace identity reads
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

fix dspace metrics recipe argument handling
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Normalize DSPACE metrics reconcile arguments
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Normalize DSPACE reconciliation arguments
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Preserve equals signs in reconcile arguments
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Strengthen reconcile argument regression coverage
  tests/test_generic_app_just_recipes.py
Due: python

Fix Cloudflare WAN interruption proof
  docs/cloudflare_tunnel.md
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Fix Cloudflare WAN outage proof contract
  docs/cloudflare_tunnel.md
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
Due: shell, python

Fix Helm 3.19 reconciliation identity
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python
