Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

🧪 Specify finite signal qualification for unmatched traffic
  docs/design/tokenplace-unmatched-edge-evaluation.md
  scripts/tokenplace_edge_replay.py
  tests/test_tokenplace_edge_replay.py
Due: shell, python

fix: safely transport Helm inputs and validate ingress hosts
  justfile
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

fix: preserve Helm guard ordering when validating host overrides
  justfile
Due: none

Preserve reviewed DSPACE image digests through deployment and reconciliation
  docs/apps/dspace.md
  justfile
  scripts/app_config.py
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  scripts/dspace_runtime_verifier.py
  tests/test_app_config.py
  tests/test_dspace_runtime_verifier.py
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: shell, python

Reject missing identity on any reconciliation baseline pod
  scripts/dspace_manifest_rollback.py
  tests/test_manifest_rollback.py
Due: shell, python

Isolate snapshot cleanup and registry-retag regression fixtures
  justfile
  tests/test_generic_app_just_recipes.py
  tests/test_release_manifest.py
Due: python

Validate reconciliation renders against the reviewed digest pin
  scripts/dspace_manifest_rollback.py
  tests/test_dspace_runtime_verifier.py
  tests/test_manifest_rollback.py
Due: shell, python

Cover validated deployment-coordinate output and failure atomicity
  tests/test_release_manifest.py
Due: python

Normalize release-manifest regression test spacing
  tests/test_release_manifest.py
Due: python

🧪 : rehearse application quota on models without workload changes
  docs/tokenplace-incident-runbooks.md
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

🧪 : stop quota preflight on the first failed control
  scripts/tokenplace_incident_drill.py
  tests/test_tokenplace_incident_drill.py
Due: shell, python

Validate scoped application workload inventories
  config/workload-inventory/profiles.json
  docs/apps/dspace.md
  docs/apps/tokenplace-relay.md
  docs/apps/workload-inventory.md
  scripts/app_chart.py
  scripts/dspace_promotion_plan.py
  tests/fixtures/workload_inventory/dspace-published.yaml
  tests/fixtures/workload_inventory/dspace.yaml
  tests/fixtures/workload_inventory/relay.yaml
  tests/test_generic_app_just_recipes.py
  tests/test_workload_inventory.py
Due: shell, python

Align rollback and custom release fixtures with inventory contracts
  docs/apps/workload-inventory.md
  tests/test_generic_app_just_recipes.py
  tests/test_manifest_rollback.py
Due: python

Document remediation for optional Helm integration test skip
  tests/test_workload_inventory.py
Due: python

Check disruption budget selectors against the primary workload
  scripts/app_chart.py
  tests/test_workload_inventory.py
Due: shell, python

Prevent monitor selectors from widening the primary workload scope
  scripts/app_chart.py
  tests/test_workload_inventory.py
Due: shell, python

Cover malformed inventory resources and unavailable chart archives
  tests/test_workload_inventory.py
Due: python

Fix reviewed YAML and Helm identity edge cases
  docs/apps/workload-inventory.md
  scripts/app_chart.py
  scripts/dspace_promotion_plan.py
  tests/test_dspace_promotion_plan.py
  tests/test_workload_inventory.py
Due: shell, python

Reject explicitly malformed inventory annotations
  scripts/app_chart.py
  tests/test_workload_inventory.py
Due: shell, python

Require string inventory annotation entries
  scripts/app_chart.py
  tests/test_workload_inventory.py
Due: shell, python

Fix dashboard collector health and synthetic status displays
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Validate string maps consistently across workload identities
  scripts/app_chart.py
  tests/test_workload_inventory.py
Due: shell, python

Clarify synthetic status uses the selected range end
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-operations.md
  platform/observability/dashboards/sugarkube-observability.template.json
  tests/test_observability_dashboard.py
Due: python

Keep optional producer assertions active after panel rename
  tests/test_capture_grafana_dashboard.py
Due: python

Add offline bounded token.place sizing harness
  docs/tokenplace-incident-runbooks.md
  docs/tokenplace-load-sizing.md
  scripts/tokenplace_load_replay.py
  tests/test_tokenplace_load_replay.py
Due: shell, python

Align SLI panel references with danielsmith.io display names
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/application-slis.md
  platform/observability/dashboards/sugarkube-observability.template.json
  tests/test_application_sli_contract.py
  tests/test_observability_dashboard.py
Due: python

Respect terminal completion and recovery phase boundary
  docs/tokenplace-load-sizing.md
  scripts/tokenplace_load_replay.py
  tests/test_tokenplace_load_replay.py
Due: shell, python

Avoid echoing rejected private CLI arguments
  scripts/tokenplace_load_replay.py
  tests/test_tokenplace_load_replay.py
Due: shell, python

Reject malformed replay fields and retain aborting memory samples
  scripts/tokenplace_load_replay.py
  tests/test_tokenplace_load_replay.py
Due: shell, python

Exercise pinned application crypto through bounded offline protocol adapter
  .github/workflows/tokenplace-load-adapter.yml
  docs/tokenplace-load-sizing.md
  scripts/tokenplace_load_adapter.py
  scripts/tokenplace_load_replay.py
  tests/test_tokenplace_load_adapter.py
Due: shell, python

Add isolated disposable K243 relay test lane and offline contracts
  .github/workflows/tokenplace-test-lane.yml
  apps/tokenplace-test-lane/Chart.yaml
  apps/tokenplace-test-lane/templates/lane.yaml
  apps/tokenplace-test-lane/values.schema.json
  apps/tokenplace-test-lane/values.yaml
  docs/tokenplace-incident-runbooks.md
  docs/tokenplace-test-lane.md
  tests/test_tokenplace_pinned_quota.py
  tests/test_tokenplace_test_lane.py
Due: python

Document concurrent K133 adapter interface and remaining live gates
  docs/tokenplace-test-lane.md
Due: none

Run lane contracts when the operator contract changes
  .github/workflows/tokenplace-test-lane.yml
Due: none

Preserve bounded cleanup across transport cancellation
  docs/tokenplace-load-sizing.md
  scripts/tokenplace_load_adapter.py
  tests/test_tokenplace_load_adapter.py
Due: shell, python

Keep offline validation free of tool bootstrap and pin CI actions
  .github/workflows/tokenplace-test-lane.yml
  docs/tokenplace-test-lane.md
Due: none

Publish offline crypto coverage to the PR patch check
  .github/workflows/tokenplace-load-adapter.yml
  tests/test_tokenplace_load_adapter.py
Due: python

Document optional Helm skip using repository test policy
  tests/test_tokenplace_test_lane.py
Due: python

Constrain provider identity and sanitize replay stop reasons
  docs/tokenplace-load-sizing.md
  scripts/tokenplace_load_adapter.py
  scripts/tokenplace_load_replay.py
  tests/test_tokenplace_load_adapter.py
  tests/test_tokenplace_load_replay.py
Due: shell, python

Record repeated K243 validation failure and correction
  outages/2026-10-07-k243-pytest-skip-context.json
Due: none

Keep cleanup identity and failed-clock reports bounded
  docs/tokenplace-load-sizing.md
  scripts/tokenplace_load_adapter.py
  scripts/tokenplace_load_replay.py
  tests/test_tokenplace_load_adapter.py
  tests/test_tokenplace_load_replay.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
