Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Align app metrics build labels with image tags
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Record finalized DSPACE 3.1.0 Qwen staging evidence
  deployment-evidence/dspace/staging/main-018687f-20260805T035722Z.json
Due: none

docs: update dspace staging revision guidance
  docs/apps/dspace.md
Due: none

Harden app metrics live verifier
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Allow histogram bucket labels in app metrics
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Harden app metrics operator boundaries
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Add app metrics coverage regressions
  tests/test_generic_app_just_recipes.py
Due: python

Harden app metrics inventory validation
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Tighten app metrics schema validation
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fail closed on app metrics API responses
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Require vector Prometheus query results
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Avoid returning Secret data to verifier
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Update tokenplace chart bump example
  docs/apps/tokenplace.md
Due: none

Raise app metrics verifier coverage
  tests/test_generic_app_just_recipes.py
Due: python

Add DSPACE release integrity alerting
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  clusters/staging/observability/rules/dspace-release-integrity.rules.yaml
  clusters/staging/observability/rules/dspace-release-integrity.values.json
  docs/apps/dspace.md
  docs/observability-alerting.md
  docs/observability-dspace-release-integrity.md
  scripts/dspace_chat_synthetic_metrics.py
  scripts/generate_dspace_observability_rules.py
  scripts/observability_helm.sh
  scripts/validate_observability_dashboard.py
  scripts/verify_observability_alertmanager.rb
  tests/test_dspace_observability.py
  tests/test_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

Add DSPACE release integrity observability
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/apps/dspace.md
  docs/observability-alerting.md
  docs/observability-dspace-release-integrity.md
  docs/observability-operations.md
  scripts/dspace_synthetic_metrics.py
  scripts/export_dspace_prometheus_rules.py
  scripts/validate_observability_dashboard.py
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/dspace-alerts.rules.yaml
  tests/prometheus/dspace-alerts.test.yaml
  tests/test_dspace_observability.py
  tests/test_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

Add DSPACE release integrity alerting contract
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-design.md
  docs/observability-dspace-release-integrity.md
  platform/observability/rules/dspace-release-integrity.yaml
  scripts/dspace_chat_synthetic_metrics.py
  scripts/validate_observability_dashboard.py
  scripts/verify_observability_alertmanager.rb
  tests/prometheus/dspace-release-integrity.test.yaml
  tests/test_dspace_observability_alerts.py
  tests/test_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

feat: add dspace release integrity alerts
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/apps/dspace.md
  docs/observability-alerting.md
  scripts/dspace_observability_metrics.py
  scripts/validate_observability_dashboard.py
  scripts/verify_observability_alertmanager.rb
  tests/test_dspace_observability.py
  tests/test_observability_helm.py
Due: shell, python

Normalize named app metrics arguments
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fix app metrics named argument normalization
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fix app metrics Just argument normalization
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Normalize app metrics recipe arguments
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fix DSPACE release integrity review findings
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  platform/observability/rules/dspace-release-integrity.yaml
  scripts/dspace_chat_synthetic_metrics.py
  scripts/verify_observability_alertmanager.rb
  tests/test_dspace_observability_alerts.py
  tests/test_observability_helm.py
Due: shell, python

Cover non-string app metrics arguments
  tests/test_generic_app_just_recipes.py
Due: python

Expand DSPACE Prometheus behavior coverage
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  docs/observability-alerting.md
  docs/observability-dspace-release-integrity.md
  platform/observability/rules/dspace-release-integrity.yaml
  scripts/dspace_chat_synthetic_metrics.py
  scripts/validate_observability_dashboard.py
  tests/prometheus/dspace-release-integrity.test.yaml
  tests/test_dspace_observability_alerts.py
Due: shell, python

Complete DSPACE alert behavior coverage
  tests/prometheus/dspace-release-integrity.test.yaml
  tests/test_dspace_observability_alerts.py
Due: python

Detect missing DSPACE identity per serving pod
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  platform/observability/rules/dspace-release-integrity.yaml
  tests/prometheus/dspace-release-integrity.test.yaml
Due: python

Fix DSPACE dashboard serving-target semantics
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  scripts/validate_observability_dashboard.py
  tests/test_observability_dashboard.py
Due: shell, python

Fix application metrics terminal prompt
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fix app metrics controlling terminal prompt
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Test DSPACE production alert contracts
  tests/test_dspace_observability_alerts.py
Due: python

Fix observability lint line lengths
  scripts/validate_observability_dashboard.py
  tests/test_observability_helm.py
Due: shell, python

Read app metrics credential from configured terminal
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Revert "Read app metrics credential from configured terminal"
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Load DSPACE rules from canonical Helm overlay
  clusters/staging/observability/kube-prometheus-stack.values.yaml
  scripts/observability_helm.sh
  tests/test_observability_helm.py
Due: shell, python

Fix canonical DSPACE rule regression test
  tests/test_dspace_observability_alerts.py
Due: python

Stabilize future timestamp consumer test
  tests/test_dspace_observability_alerts.py
Due: python

Fix app metrics secret TTY fallback
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python
