Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

fix: normalize IPv6 SAN matching for strict join TLS checks
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

🧪 fix cf-tunnel env parity regression test
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🐛: add cf-tunnel env= parsing parity regression test
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🐛 fix cf tunnel env normalization regression coverage
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

🩹 : add cf-tunnel env parity regression tests
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

test: exercise cf tunnel env normalization at runtime
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

test: include staging passthrough in cf tunnel normalization runtime cases
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

test: consume kubectl piped stdin in cf tunnel harness
  tests/test_cloudflare_tunnel_token_mode.py
Due: python

test: consume openssl stdin in k3s TLS SAN harness
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: python

🛠️ fail early for fresh-cluster helm-oci-upgrade
  justfile
  scripts/test-helm-oci-install.sh
Due: shell, python

🩹 fix: preflight helm-oci-upgrade on fresh clusters
  justfile
  scripts/test-helm-oci-install.sh
Due: shell, python

🩹 Make helm-oci-upgrade fail fast on fresh clusters
  justfile
  scripts/test-helm-oci-upgrade-fresh-cluster.sh
Due: shell, python

🩹 Make helm-oci-upgrade fail fast on missing release
  justfile
  scripts/test-helm-oci-install.sh
Due: shell, python

fix: harden helm upgrade preflight guidance
  justfile
  scripts/test-helm-oci-install.sh
Due: shell, python

fix: polish helm oci upgrade recovery guidance
  justfile
  scripts/test-helm-oci-install.sh
Due: shell, python

fix: separate non-deployed helm release recovery guidance
  justfile
  scripts/test-helm-oci-install.sh
Due: shell, python

fix: preserve retry args for non-deployed helm upgrades
  justfile
  scripts/test-helm-oci-install.sh
Due: shell, python

📝 docs: add HA DHCP churn recovery guidance
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_troubleshooting.md
Due: none

📝 docs: add HA DHCP churn recovery runbook links
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_troubleshooting.md
Due: none

📝 docs: document HA DHCP churn recovery flow
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_troubleshooting.md
Due: none

docs: address review feedback for HA rebuild and tunnel/GHCR guidance
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_troubleshooting.md
Due: none

docs: polish tunnel token examples and setup pointers
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
Due: none

docs: export tunnel token in manual install flow
  docs/raspi_cluster_operations_manual.md
Due: none

Bump DSpace chart version to 3.0.1
  docs/apps/dspace.version
Due: none

Add tokenplace OCI values/version files and deprecate local chart
  apps/tokenplace-relay/README.md
  docs/apps/tokenplace.prod.tag
  docs/apps/tokenplace.version
  docs/examples/tokenplace.values.dev.yaml
  docs/examples/tokenplace.values.prod.yaml
  docs/examples/tokenplace.values.staging.yaml
Due: none

Address review feedback for token.place OCI wiring
  docs/apps/tokenplace-relay.md
  docs/examples/tokenplace.values.dev.yaml
  docs/examples/tokenplace.values.prod.yaml
  docs/examples/tokenplace.values.staging.yaml
  justfile
Due: none

Fix tokenplace OCI deploy/install and docs version parsing
  docs/apps/tokenplace-relay.md
  justfile
Due: none

Scope-lock tokenplace PR back to prompt 6
  docs/apps/tokenplace-relay.md
  docs/examples/tokenplace.values.dev.yaml
  docs/examples/tokenplace.values.prod.yaml
  docs/examples/tokenplace.values.staging.yaml
  justfile
Due: none

Add tokenplace OCI justfile deploy wrappers
  justfile
Due: none

Add tokenplace OCI just recipes and normalize defaults
  justfile
Due: none

Add tokenplace OCI justfile deploy and debug wrappers
  justfile
Due: none

Add tokenplace OCI deploy and debug just recipes
  justfile
Due: none

Harden tokenplace OCI wrappers and deploy guards
  justfile
Due: none

Fix prod subdomain deploy kubeconfig env selection
  justfile
Due: none

Fix dspace OCI deploy kubeconfig env selection
  justfile
Due: none

Scope tokenplace wrappers and revert DSPACE kubeconfig changes
  justfile
Due: none
