Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Add dspace debug log helper
  docs/raspi_cluster_operations.md
  justfile
Due: none

🛠️ : add dspace log dump helper
  docs/raspi_cluster_operations.md
  justfile
Due: none

🧰 : – add dspace debug log helper
  docs/raspi_cluster_operations.md
  justfile
Due: none

🧰 : add dspace debug log helper
  docs/raspi_cluster_operations.md
  justfile
Due: none

Ensure dspace debug logs recipe sets KUBECONFIG
  justfile
Due: none

Fix test harness compatibility for kubeconfig and CRD doctor
  justfile
  scripts/install_deps.sh
  scripts/lib/traefik_crd.sh
  tests/scripts/test_just_up.py
  tests/test_traefik_crd_doctor.py
Due: shell, python

Stabilize test harness for just up and traefik doctor
  justfile
  scripts/k3s-discover.sh
  tests/scripts/test_just_up.py
Due: shell, python

Short-circuit Avahi waits during test bootstrap publish
  scripts/k3s-discover.sh
  scripts/mdns_publish_static.sh
  scripts/mdns_ready.sh
Due: shell, python

Ensure Avahi liveness log is visible to Bats
  scripts/k3s-discover.sh
Due: shell, python

Handle CLI-only Avahi liveness logging
  scripts/k3s-discover.sh
Due: shell, python

🙂 : – kubectl docs and helm pull tweaks
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

docs: improve kubectl setup and helm OCI pulls
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

📝 Improve Pi kubectl docs and OCI pulls
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

🧭 : – kubectl pi config and fresher dspace pulls
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

Secure kubeconfig permissions for pi user
  docs/raspi_cluster_setup.md
Due: none

📝 : clarify Pi kubeconfig docs
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
Due: none

✨ : – Set dspace environment values
  docs/examples/dspace.values.dev.yaml
  docs/examples/dspace.values.staging.yaml
  docs/raspi_cluster_operations.md
Due: none

✨ : set dspace environment values
  docs/examples/dspace.values.dev.yaml
  docs/examples/dspace.values.staging.yaml
  docs/raspi_cluster_operations.md
Due: none

✅ : – Set dspace environment values
  docs/examples/dspace.values.dev.yaml
  docs/examples/dspace.values.staging.yaml
  docs/raspi_cluster_operations.md
Due: none

😊 : – Set dspace environment values
  docs/examples/dspace.values.dev.yaml
  docs/examples/dspace.values.staging.yaml
  docs/raspi_cluster_operations.md
Due: none

🚀 : Force dspace redeploy to restart pods
  docs/raspi_cluster_operations.md
  justfile
Due: none

🚀 : – Force dspace OCI redeploy to roll pods
  docs/raspi_cluster_operations.md
  justfile
Due: none

🚀 : – force dspace redeploy to restart pods
  docs/raspi_cluster_operations.md
  justfile
Due: none

😊 : – Force rollout restart during dspace redeploy
  docs/raspi_cluster_operations.md
  justfile
Due: none

✅ : – Run hermetic avahi cluster formation tests
  notes/ci-test-fixes-action-plan.md
  outages/2025-11-04-discover-flow-missing-stubs.json
  tests/integration/cluster_formation_e2e.bats
  tests/test_outage_dates.py
Due: python

Make discover flow outage test resilient to filename changes
  tests/test_outage_dates.py
Due: python

✅ : – add path units for kube exports
  docs/pi_headless_provisioning.md
  scripts/build_pi_image.sh
  scripts/systemd/sugarkube-export-kubeconfig.path
  scripts/systemd/sugarkube-export-kubeconfig.service
  scripts/systemd/sugarkube-export-node-token.path
  scripts/systemd/sugarkube-export-node-token.service
  tests/build_pi_image_test.py
Due: shell, python

✨ : add avahi systemd warning
  notes/2025-11-14-mdns-discovery-fixes-and-simplification-roadmap.md
  scripts/k3s-discover.sh
  tests/scripts/test_avahi_systemd_check.py
Due: shell, python

✨ : – Enforce pytest skip remediation context
  notes/skipped-tests-status.md
  tests/conftest.py
  tests/download_pi_image_test.py
  tests/flash_pi_media_test.py
  tests/scripts/test_just_up.py
  tests/test_artifact_detection_e2e.py
  tests/test_fix_pi_image_permissions.py
  tests/test_justfile_formatting.py
  tests/test_k3s_discover_failopen_e2e.py
  tests/test_mdns_diag.py
  tests/test_mdns_ready_e2e.py
  tests/test_pytest_skip_guidelines.py
Due: python

Align export systemd units with cloud-init style
  scripts/systemd/sugarkube-export-kubeconfig.path
  scripts/systemd/sugarkube-export-kubeconfig.service
  scripts/systemd/sugarkube-export-node-token.path
  scripts/systemd/sugarkube-export-node-token.service
Due: shell, python

🟢 : keep mdns_diag.sh executable
  CHANGELOG.md
  tests/test_mdns_diag.py
Due: python

✨ : – unblock artifact detection zip test without bsdtar
  tests/artifact_detection_test.sh
  tests/test_artifact_detection_e2e.py
Due: python

✅ : – enforce gh dry-run reminders
  docs/pi_image_quickstart.md
  tests/download_pi_image_test.py
Due: python

Remove redundant executability assertion
  tests/test_mdns_diag.py
Due: python

Fix pi image quickstart dry-run indentation
  docs/pi_image_quickstart.md
Due: none

✨ : add python shim coverage for download helper
  tests/download_pi_image_test.py
Due: python

🧪 : – Add stub mode to mdns diagnostics
  docs/DISCOVERY.md
  scripts/mdns_diag.sh
  tests/test_mdns_diag.py
Due: shell, python

Address python shim review feedback
  tests/download_pi_image_test.py
Due: python

Add BATS coverage for mdns diag stub mode
  tests/bats/mdns_diag_stub_mode.bats
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
