Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Add new sugarkube0 log
  logs/debug-mdns_2025-11-18T04:36:25Z.log.sanitized
  logs/debug-mdns_2025-11-18T04:38:53Z.log.sanitized
  logs/debug-mdns_2025-11-18T04:40:49Z.log.sanitized
  logs/up/20251118T054157Z_c3b7091_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/debug-mdns_2025-11-17T00:26:45Z.log.sanitized
  logs/up/20251118T055204Z_d031c64_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251118T070834Z_8eb5391_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251118T071559Z_e4868b7_sugarkube1_just-up-dev.log
Due: none

add new sugarkube0 log
  logs/up/20251118T084532Z_c68d867_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251118T085352Z_5abacd8_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251119T031559Z_f6a4df2_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251119T033902Z_939e97f_sugarkube1_just-up-dev.log
Due: none

😊 : – Honor PI_HOME_DIR in pi_node_verifier
  docs/pi_image_quickstart.md
  scripts/pi_node_verifier.sh
  tests/pi_node_verifier_output_test.bats
Due: shell, python

Add new sugarkube0 log
  logs/up/20251119T044627Z_78581c8_sugarkube0_just-up-dev.log
Due: none

Add new sugarkube1 log
  logs/up/20251119T045424Z_31d9cea_sugarkube1_just-up-dev.log
Due: none

Add new sugarkube0 log
  logs/up/20251119T060902Z_cb46f79_sugarkube0_just-up-dev.log
Due: none

add new sugarkube1 log
  logs/up/20251119T064353Z_4628065_sugarkube1_just-up-dev.log
Due: none

🧭 : – streamline raspi cluster ops
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  justfile
Due: none

📝 : – document raspi operations shortcuts
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  justfile
  scripts/scan-secrets.py
Due: shell, python

docs: extend raspi operations
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  justfile
Due: none

📝 : – add operations doc and HA helpers
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  justfile
Due: none

Restore save-logs quick-start snippet
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
Due: none

Fix justfile formatting and update HA helper name
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  justfile
Due: none

Polish Raspberry Pi cluster docs and helpers
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_setup.md
  docs/raspi_cluster_setup_manual.md
  justfile
  tests/test_raspi_cluster_setup_doc.py
Due: python

🚀 : – Add Cloudflare tunnel Helm helpers
  docs/cloudflare_tunnel.md
  justfile
Due: none

Fix Cloudflare tunnel task formatting
  docs/cloudflare_tunnel.md
  justfile
Due: none

Make Helm recipes reusable for app installs
  docs/apps/dspace.md
  docs/apps/dspace.version
  docs/examples/dspace.values.dev.yaml
  justfile
Due: none

Address Helm helper review feedback
  justfile
Due: none

Fix justfile formatting and recipe names
  docs/apps/dspace.md
  justfile
Due: none

📝 : – add dspace v3 deployment tutorial
  docs/raspi_cluster_operations.md
Due: none

📝 : – make app walkthrough generic
  docs/apps/dspace.md
  docs/raspi_cluster_operations.md
Due: none

✅ : Add guardrail tests for dspace docs
  tests/test_docs_guardrails.py
Due: python

Address review feedback on docs guardrails tests
  tests/test_docs_guardrails.py
Due: python

🚀 : – Add gdbus shim coverage
  tests/bats/helpers/path_stub.bash
  tests/bats/mdns_selfcheck.bats
Due: shell, python

😊 : ship avahi stub for mdns tests
  docs/TESTING.md
  tests/fixtures/avahi_stub/avahi-browse
  tests/fixtures/avahi_stub/avahi-publish
  tests/fixtures/avahi_stub/avahi-resolve
  tests/fixtures/avahi_stub/avahi-resolve-host-name
  tests/fixtures/avahi_stub/avahi_stub_helpers.bash
  tests/integration/cluster_formation_e2e.bats
  tests/integration/mdns_roundtrip.bats
  tests/test_avahi_stub_fixture.py
Due: python

✅ : – Document mDNS integration prereqs
  docs/mdns_troubleshooting.md
  tests/integration/cluster_formation_e2e.bats
  tests/test_mdns_integration_prereqs_doc.py
Due: python

Add getent skip context
  tests/integration/cluster_formation_e2e.bats
Due: python

✨ : – add getent stub fallback for integration harness
  docs/mdns_troubleshooting.md
  tests/fixtures/getent_stub/getent
  tests/fixtures/getent_stub/getent_stub_helpers.bash
  tests/integration/cluster_formation_e2e.bats
  tests/test_cluster_formation_getent_stub.py
Due: python

Clean up getent stub configuration
  tests/fixtures/getent_stub/getent_stub_helpers.bash
  tests/integration/cluster_formation_e2e.bats
Due: python

📝 : Update dspace staging docs
  docs/apps/dspace.md
Due: none

📝 : – Refresh Cloudflare Tunnel staging guide
  docs/cloudflare_tunnel.md
Due: none

Fix Cloudflare tunnel doc link
  docs/apps/dspace.md
Due: none

Add 'sudo' to Traefik service check command
  docs/raspi_cluster_operations.md
Due: none

🚀 : add traefik helpers and manual ops doc
  docs/index.md
  docs/raspi_cluster_operations.md
  docs/raspi_cluster_operations_manual.md
  docs/raspi_cluster_setup.md
  justfile
Due: none

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
