Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Tighten app verify edge case tests
  tests/test_generic_app_just_recipes.py
Due: python

Add app verify unit coverage
  tests/test_app_verify.py
Due: python

Enable danielsmith GitHub metrics cache
  docs/app_deployment_contract.md
  docs/apps/danielsmith.md
  docs/apps/danielsmith.version
  docs/examples/danielsmith.values.prod.yaml
  docs/examples/danielsmith.values.staging.yaml
  docs/k3s-danielsmith-prod.md
  docs/k3s-danielsmith-staging.md
  tests/test_danielsmith_github_metrics_cache.py
Due: python

Enable danielsmith GitHub metrics cache
  docs/app_deployment_contract.md
  docs/apps/danielsmith.md
  docs/apps/danielsmith.version
  docs/examples/apps/danielsmith.env
  docs/examples/danielsmith.values.prod.yaml
  docs/examples/danielsmith.values.staging.yaml
  tests/test_danielsmith_github_metrics_cache.py
  tests/test_generic_app_just_recipes.py
Due: python

Address danielsmith metrics cache review feedback
  docs/apps/danielsmith.md
  tests/test_danielsmith_github_metrics_cache.py
  tests/test_generic_app_just_recipes.py
Due: python

Fix danielsmith metrics cache verification docs
  docs/app_deployment_contract.md
  docs/apps/danielsmith.md
  docs/examples/apps/danielsmith.env
  tests/test_danielsmith_github_metrics_cache.py
  tests/test_generic_app_just_recipes.py
Due: python

Clarify danielsmith metrics cache manual verification
  docs/app_deployment_contract.md
  docs/apps/danielsmith.md
  docs/examples/apps/danielsmith.env
  tests/test_danielsmith_github_metrics_cache.py
Due: python

Add danielsmith GitHub metrics repo targets
  docs/apps/danielsmith.md
  docs/examples/danielsmith.values.prod.yaml
  docs/examples/danielsmith.values.staging.yaml
  tests/test_danielsmith_github_metrics_cache.py
Due: python

Add danielsmith metrics cache repos
  docs/apps/danielsmith.md
  docs/examples/danielsmith.values.prod.yaml
  docs/examples/danielsmith.values.staging.yaml
  tests/test_danielsmith_github_metrics_cache.py
Due: python

Add danielsmith GitHub metric repos
  docs/apps/danielsmith.md
  docs/examples/danielsmith.values.prod.yaml
  docs/examples/danielsmith.values.staging.yaml
  tests/test_danielsmith_github_metrics_cache.py
Due: python

Fix tests workflow Codecov secret guard
  .github/workflows/tests.yml
Due: none

Fix test workflow Codecov token gate
  .github/workflows/tests.yml
  tests/test_tests_workflow.py
Due: python

Fix tests workflow Codecov token gate
  .github/workflows/tests.yml
Due: none

Fix tests workflow Codecov token guard
  .github/workflows/tests.yml
Due: none

Rename Codecov token step id
  .github/workflows/tests.yml
Due: none

Fix Pi image release workflow semantics
  .github/workflows/pi-image-release.yml
  .wordlist.txt
  README.md
  docs/pi_image_builder_design.md
  docs/pi_image_contributor_guide.md
  docs/pi_image_quickstart.md
  tests/pi_image_release_workflow_guard_test.sh
  tests/test_pi_image_tooling.py
Due: python

Fix Pi image release workflow triggers
  .github/workflows/pi-image-release.yml
  .github/workflows/pi-image.yml
  .wordlist.txt
  README.md
  docs/pi_image_builder_design.md
  docs/pi_image_contributor_guide.md
  docs/pi_image_quickstart.md
  tests/pi_image_release_workflow_guard_test.sh
Due: python

Fix pi image release workflow semantics
  .github/workflows/pi-image-release.yml
  .github/workflows/pi-image.yml
  README.md
  docs/pi_image_builder_design.md
  docs/pi_image_contributor_guide.md
  docs/pi_image_quickstart.md
  docs/pi_support_bundles.md
  scripts/ci_commands.sh
  tests/pi_image_release_workflow_guard_test.sh
  tests/test_pi_image_tooling.py
Due: shell, python

Fix pi image release workflow triggers
  .github/workflows/pi-image-release.yml
  README.md
  docs/pi_image_builder_design.md
  docs/pi_image_contributor_guide.md
  docs/pi_image_quickstart.md
  tests/test_pi_image_release_workflow.py
Due: python

Address Pi image release review comments
  .github/workflows/pi-image-release.yml
  .github/workflows/pi-image.yml
  docs/flash-helper/index.html
  scripts/workflow_flash_instructions.py
  tests/pi_image_release_workflow_guard_test.sh
  tests/test_pi_image_release_workflow.py
  tests/test_workflow_flash_instructions.py
Due: shell, python

Harden pi image release workflow guards
  .github/workflows/pi-image-release.yml
  tests/pi_image_release_workflow_guard_test.sh
  tests/test_pi_image_release_workflow.py
Due: python

Bump token.place chart pin to 0.1.3
  docs/apps/tokenplace.version
Due: none

Add app chart pin guardrails
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/tokenplace.md
  docs/examples/apps/tokenplace.env
  justfile
  scripts/app_chart.py
  scripts/app_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Add app chart pin guardrails
  docs/app_deployment_contract.md
  docs/apps/tokenplace.md
  justfile
  scripts/app_chart.py
  scripts/app_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Add app chart pin guardrails
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/tokenplace.md
  justfile
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Address app chart guardrail review feedback
  docs/app_onboarding.md
  justfile
  scripts/app_chart.py
  scripts/app_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Harden tokenplace chart guardrails
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Add deploy chart pin reminder
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Cover tokenplace relay chart preflight
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Expand app chart guardrail coverage
  tests/test_generic_app_just_recipes.py
Due: python

Cover app chart and verify guardrails
  tests/test_generic_app_just_recipes.py
Due: python

Keep tokenplace preflight envs per container
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Handle container field order in tokenplace preflight
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Handle nested names in tokenplace preflight
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Handle env-first tokenplace containers
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Add generic app CORS verification
  docs/apps/dspace.md
  docs/apps/tokenplace.md
  docs/examples/apps/tokenplace.env
  justfile
  scripts/app_config.py
  scripts/app_cors_verify.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
