Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Migrate staging HA checks to EndpointSlices
  docs/drills/2026-07-29-staging-node-failure.md
  docs/raspi_cluster_operations.md
  docs/runbook.md
  docs/staging-ingress-ha.md
  scripts/endpoint_slice_health.py
  scripts/staging_ingress_ha.sh
  tests/test_staging_ingress_ha.py
Due: shell, python

Migrate staging HA checks to EndpointSlices
  docs/raspi_cluster_operations.md
  docs/runbook.md
  docs/staging-ingress-ha.md
  scripts/endpoint_slice_summary.py
  scripts/staging_ingress_ha.sh
  tests/test_staging_ingress_ha.py
Due: shell, python

Raise DSPACE runtime verifier patch coverage
  tests/test_dspace_runtime_verifier.py
Due: python

Address EndpointSlice review feedback
  docs/runbook.md
  docs/staging-ingress-ha.md
  scripts/staging_ingress_ha.sh
  scripts/staging_ingress_ha_endpoints.py
  tests/test_staging_ingress_ha.py
Due: shell, python

Bind DSPACE probes to live rollout identity
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Complete EndpointSlice HA review fixes
  docs/runbook.md
  docs/staging-ingress-ha.md
  scripts/staging_ingress_ha.sh
  tests/test_staging_ingress_ha.py
Due: shell, python

Bind workload ownership through controller UIDs
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Cover EndpointSlice helper in process
  tests/test_staging_ingress_ha.py
Due: python

Require the checked-in DSPACE runtime verifier
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Raise DSPACE evidence gate coverage
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: python

fix: add safe staging certificate operations
  clusters/staging/certificates.json
  docs/runbook.md
  docs/staging-certificate-operations.md
  justfile
  scripts/install_staging_cloudflare_token.sh
  scripts/scan-secrets.py
  scripts/staging_certificate_ops.sh
  scripts/staging_certificates.py
  tests/test_staging_certificates.py
Due: shell, python

Repair staging certificate operations
  docs/runbook.md
  docs/staging-certificates.md
  justfile
  scripts/install_staging_cloudflare_token.sh
  scripts/staging_certificate_inventory.json
  scripts/staging_certificate_ops.py
  tests/test_staging_certificate_ops.py
Due: shell, python

Add safe staging certificate operations
  clusters/staging/certificates.json
  docs/apps/jobbot3000.md
  docs/runbook.md
  docs/staging-certificate-operations.md
  justfile
  scripts/install_staging_cloudflare_token.sh
  scripts/staging_certificate_ops.py
  tests/test_generic_app_just_recipes.py
  tests/test_staging_certificate_ops.py
Due: shell, python

Add safe staging certificate operations
  clusters/staging/certificates.json
  docs/runbook.md
  docs/staging-certificates.md
  justfile
  scripts/install_staging_cloudflare_token.sh
  scripts/staging_certificates.py
  tests/test_staging_certificates.py
Due: shell, python

Require runtime proof for DSPACE evidence
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  tests/test_manifest_rollback.py
  tests/test_release_manifest.py
Due: shell, python

Add guarded staging certificate recovery tooling
  docs/runbook.md
  docs/staging-cert-manager-cloudflare.md
  justfile
  scripts/staging_certificates.py
  tests/test_staging_certificates.py
Due: shell, python

Add guarded staging cert-manager recovery tooling
  docs/runbook.md
  docs/staging-cert-manager.md
  justfile
  scripts/scan-secrets.py
  scripts/staging_cert_manager.py
  tests/test_staging_cert_manager.py
Due: shell, python

Harden DSPACE ownership and failure diagnostics
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Add guarded staging certificate recovery tooling
  docs/runbook.md
  justfile
  scripts/cert_manager_staging.py
  tests/test_cert_manager_staging.py
Due: shell, python

Add guarded staging certificate recovery tooling
  docs/runbook.md
  docs/staging-cert-manager-recovery.md
  justfile
  scripts/scan-secrets.py
  scripts/staging_cert_manager.py
  scripts/staging_cert_manager.sh
  tests/scan_secrets_test.py
  tests/test_staging_cert_manager.py
Due: shell, python

Address cert-manager tooling review feedback
  docs/runbook.md
  scripts/scan-secrets.py
  scripts/staging_cert_manager.py
  tests/scan_secrets_test.py
  tests/test_staging_cert_manager.py
Due: shell, python

Cover DSPACE production guard ordering
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Harden staging certificate authorization checks
  docs/runbook.md
  docs/staging-cert-manager.md
  justfile
  scripts/scan-secrets.py
  scripts/staging_cert_manager.py
  tests/scan_secrets_test.py
  tests/test_staging_cert_manager.py
Due: shell, python

Fail closed on serving Secret lookup errors
  scripts/staging_cert_manager.py
  tests/test_staging_cert_manager.py
Due: shell, python

Strengthen DSPACE production ordering coverage
  tests/test_generic_app_just_recipes.py
Due: python

Update DSPACE operator runtime gate docs
  docs/app_deployment_contract.md
  docs/apps/dspace.md
Due: none

Preserve cwd in DSPACE smoke setup
  docs/apps/dspace.md
Due: none

Raise staging cert-manager patch coverage
  tests/test_staging_cert_manager.py
Due: python

Require DSPACE runtime verification for promotion
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  docs/examples/apps/dspace.env
  justfile
  scripts/dspace_release_manifest.py
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Enforce DSPACE runtime verification gates
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  docs/examples/apps/dspace.env
  justfile
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Require DSPACE runtime verification for promotion
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  justfile
  scripts/dspace_manifest_rollback.py
  scripts/dspace_release_manifest.py
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Gate DSPACE promotions on runtime integrity
  docs/app_deployment_contract.md
  docs/apps/dspace.md
  justfile
  scripts/dspace_promotion_gate.py
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Fix staging cert-manager recipe arguments
  docs/staging-cert-manager.md
  justfile
  scripts/staging_cert_manager.py
  tests/test_cert_manager_just.py
  tests/test_staging_cert_manager.py
Due: shell, python

Fix staging cert-manager recipe arguments
  docs/staging-cert-manager.md
  justfile
  scripts/staging_cert_manager.py
  tests/test_cert_manager_just_recipes.py
  tests/test_staging_cert_manager.py
Due: shell, python

Repair staging cert-manager Just arguments
  docs/staging-cert-manager.md
  justfile
  scripts/staging_cert_manager.py
  tests/test_cert_manager_just_recipes.py
  tests/test_staging_cert_manager.py
Due: shell, python

Address DSPACE verification review feedback
  docs/apps/dspace.md
  justfile
  scripts/dspace_manifest_rollback.py
  scripts/dspace_runtime_verifier.py
  tests/test_manifest_rollback.py
Due: shell, python

Clarify missing cmctl recovery guidance
  scripts/staging_cert_manager.py
  tests/test_staging_cert_manager.py
Due: shell, python

Cover non-staging cert-manager Just status
  tests/test_cert_manager_just_recipes.py
Due: python

Complete DSPACE two-cluster verification contract
  docs/examples/apps/dspace.env
  justfile
  scripts/dspace_release_manifest.py
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
  tests/test_manifest_rollback.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
