Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Require explicit DSPACE production authorization
  justfile
  scripts/dspace_release_manifest.py
  tests/test_generic_app_just_recipes.py
  tests/test_release_manifest.py
Due: shell, python

Require DSPACE runtime gates for production promotion
  justfile
  scripts/dspace_release_manifest.py
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
  tests/test_generic_app_just_recipes.py
  tests/test_release_manifest.py
Due: shell, python

Require DSPACE runtime gates for production promotion
  justfile
  tests/test_generic_app_just_recipes.py
Due: python

Require DSPACE runtime gates for production promotion
  docs/apps/dspace.md
  justfile
  scripts/dspace_release_manifest.py
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
  tests/test_generic_app_just_recipes.py
  tests/test_release_manifest.py
Due: shell, python

Address DSPACE promotion review feedback
  docs/apps/dspace.md
  scripts/dspace_release_manifest.py
  tests/test_release_manifest.py
Due: shell, python

Fail closed on DSPACE verifier proofs
  justfile
  scripts/dspace_release_manifest.py
  tests/test_dspace_runtime_verifier.py
  tests/test_release_manifest.py
Due: shell, python

Restore coherent DSPACE runtime gate implementation
  justfile
  scripts/dspace_release_manifest.py
  tests/test_dspace_runtime_verifier.py
  tests/test_release_manifest.py
Due: shell, python

Add durable DSPACE chat synthetic producer
  config/dspace-chat-synthetic/staging.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic
  scripts/dspace_chat_synthetic.py
  scripts/install_dspace_chat_synthetic.py
  scripts/materialize_dspace_chat_runner.py
  scripts/systemd/sugarkube-dspace-chat-synthetic.service
  scripts/systemd/sugarkube-dspace-chat-synthetic.timer
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Add durable DSPACE chat synthetic producer
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace-chat-synthetic
  scripts/dspace_chat_synthetic.py
  scripts/install_dspace_chat_synthetic.py
  scripts/materialize_dspace_chat_runner.py
  scripts/systemd/dspace-chat-synthetic.service
  scripts/systemd/dspace-chat-synthetic.timer
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Add durable DSPACE synthetic producer
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  docs/observability-dspace-release-integrity.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/dspace_chat_synthetic_wrapper.sh
  scripts/install_dspace_chat_synthetic.py
  scripts/materialize_dspace_chat_runner.py
  scripts/systemd/dspace-chat-synthetic.service
  scripts/systemd/dspace-chat-synthetic.timer
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Add durable DSPACE chat synthetic producer
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic.py
  scripts/sugarkube-dspace-chat-synthetic
  scripts/systemd/sugarkube-dspace-chat-synthetic.service
  scripts/systemd/sugarkube-dspace-chat-synthetic.timer
  tests/test_dspace_chat_synthetic.py
Due: shell, python

Address synthetic producer review feedback
  docs/dspace-chat-synthetic-producer.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/systemd/dspace-chat-synthetic.service
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Close DSPACE synthetic producer scope gaps
  config/dspace-chat-synthetic.json
  docs/dspace-chat-synthetic-producer.md
  docs/observability-dspace-release-integrity.md
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  scripts/materialize_dspace_chat_runner.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Validate retained assets before rollback
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden synthetic runner trust validation
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Harden synthetic runtime result lifecycle
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Install validated DSPACE runner snapshots
  docs/dspace-chat-synthetic-producer.md
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Verify existing runner snapshot identity
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Validate Playwright browser discovery
  scripts/dspace_chat_synthetic_runtime.py
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Reject symlinked Playwright browser roots
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Validate synthetic installation status provenance
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Fail closed on invalid status runner provenance
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Reject symlinked retained installation assets
  scripts/install_dspace_chat_synthetic.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Complete synthetic runtime result coverage
  scripts/dspace_chat_synthetic_runtime.py
  tests/test_dspace_chat_synthetic_producer.py
Due: shell, python

Correct DSPACE producer recovery runbook
  docs/dspace-chat-synthetic-producer.md
Due: none

Document synthetic test Node skip
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Raise DSPACE synthetic patch coverage
  tests/test_dspace_chat_synthetic_producer.py
Due: python

Cover invalid synthetic asset revisions
  tests/test_dspace_chat_synthetic_producer.py
Due: python

feat: onboard gitshelves as a first-class app
  .wordlist.txt
  README.md
  clusters/staging/observability/probes/public-apps.yaml
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/gitshelves.md
  docs/apps/gitshelves.prod.tag
  docs/apps/gitshelves.version
  docs/examples/apps/gitshelves.env
  docs/examples/gitshelves.values.dev.yaml
  docs/examples/gitshelves.values.prod.yaml
  docs/examples/gitshelves.values.staging.yaml
  docs/index.md
  docs/observability-blackbox.md
  justfile
  scripts/app_config.py
  scripts/verify_blackbox_prometheus.py
  tests/test_app_runbook_links.py
  tests/test_generic_app_just_recipes.py
  tests/test_monitoring_blackbox.py
Due: shell, python

feat: onboard gitshelves as a first-class app
  .wordlist.txt
  README.md
  clusters/staging/observability/probes/public-apps.yaml
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/gitshelves.md
  docs/apps/gitshelves.prod.tag
  docs/apps/gitshelves.version
  docs/examples/apps/gitshelves.env
  docs/examples/gitshelves.values.dev.yaml
  docs/examples/gitshelves.values.prod.yaml
  docs/examples/gitshelves.values.staging.yaml
  docs/index.md
  docs/observability-blackbox.md
  justfile
  scripts/app_config.py
  scripts/cloudflare_wan_dependency_loss_drill.sh
  scripts/verify_blackbox_prometheus.py
  tests/test_app_runbook_links.py
  tests/test_cloudflare_wan_dependency_loss_drill.py
  tests/test_generic_app_just_recipes.py
  tests/test_monitoring_blackbox.py
Due: shell, python

feat: onboard gitshelves as a first-class app
  .wordlist.txt
  README.md
  clusters/staging/observability/probes/public-apps.yaml
  docs/app_deployment_contract.md
  docs/app_onboarding.md
  docs/apps/gitshelves.md
  docs/apps/gitshelves.prod.tag
  docs/apps/gitshelves.version
  docs/examples/apps/gitshelves.env
  docs/examples/gitshelves.values.dev.yaml
  docs/examples/gitshelves.values.prod.yaml
  docs/examples/gitshelves.values.staging.yaml
  docs/index.md
  docs/observability-blackbox.md
  docs/observability-design.md
  justfile
  scripts/app_config.py
  scripts/cloudflare_wan_dependency_loss_drill.sh
  scripts/verify_blackbox_prometheus.py
  tests/test_app_runbook_links.py
  tests/test_cloudflare_wan_dependency_loss_drill.py
  tests/test_generic_app_just_recipes.py
  tests/test_monitoring_blackbox.py
  tests/test_observability_blackbox.py
Due: shell, python

fix: address gitshelves onboarding feedback
  clusters/staging/observability/probes/public-apps.yaml
  clusters/staging/observability/prometheus-blackbox-exporter.values.yaml
  docs/observability-design.md
  justfile
  scripts/cloudflare_wan_dependency_loss_drill.sh
  tests/test_cloudflare_wan_dependency_loss_drill.py
  tests/test_monitoring_blackbox.py
Due: shell, python

docs: design Terraform and Ansible integration
  docs/design/terraform-ansible-integration.md
  infra/README.md
Due: none

docs: clarify infrastructure artifact policy
  infra/README.md
Due: none

fix: close gitshelves observability gaps
  clusters/prod/observability/dashboards/sugarkube-prod-observability.json
  clusters/staging/observability/dashboards/sugarkube-staging-observability.json
  docs/observability-design.md
  docs/observability-operations.md
  platform/observability/dashboards/sugarkube-observability.template.json
  scripts/observability_blackbox.sh
  tests/test_generic_app_just_recipes.py
  tests/test_observability_dashboard.py
Due: shell, python

docs: clarify sensitive Terraform artifacts
  infra/README.md
Due: none

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
