Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

🔒 : – disable auto-enabled kube credential exports
  docs/pi_headless_provisioning.md
  scripts/build_pi_image.sh
  tests/build_pi_image_test.py
Due: shell, python

docs/tests: address Greptile SSH follow-ups
  docs/design/tailscale-remote-ops.md
  tests/test_tailscale_remote_ops_script.py
Due: python

docs: resolve copilot feedback for tokenplace relay tag docs
  docs/apps/tokenplace-relay.md
  justfile
Due: none

fix tailscale installer cleanup and checksum test coverage
  scripts/tailscale_remote_ops.sh
  tests/test_tailscale_remote_ops_script.py
Due: shell, python

Harden unit workflow job and make OCI job parsing robust
  .github/workflows/pi-image.yml
  tests/test_pi_image_tooling.py
Due: python

Fix dspace clone ref in OCI parity smoke workflow
  .github/workflows/pi-image.yml
  tests/test_pi_image_tooling.py
Due: python

Fix OCI parity smoke build metadata SHA args
  .github/workflows/pi-image.yml
  tests/test_pi_image_tooling.py
Due: python

test: set tailscale install checksum in e2e stubs
  tests/test_tailscale_remote_ops_e2e.py
Due: python

Fix just env argument normalization
  justfile
  scripts/lib/env.sh
  tests/scripts/test_env_normalization.py
  tests/test_helper_recipes.py
Due: shell, python

🛠️ fix: normalize just up env argument
  justfile
  tests/test_up_recipe_calls.py
Due: python

🐛 : normalize named up env arguments
  justfile
  tests/test_up_recipe_calls.py
Due: python

fix: normalize up env arguments
  justfile
  tests/test_up_recipe_calls.py
Due: python

fix: harden just env argument normalization
  justfile
  tests/test_up_recipe_calls.py
Due: python

fix: make cf tunnel recipe body bash-parseable
  justfile
  tests/test_up_recipe_calls.py
Due: python

fix: safely quote cf tunnel env input
  justfile
  tests/test_cloudflare_tunnel_token_mode.py
  tests/test_up_recipe_calls.py
Due: python

🛠️ fix: add HA DHCP outage record and harden k3s SAN defaults
  outages/2026-05-18-sugarkube-ha-staging-dhcp-ip-reassignment.json
  outages/2026-05-18-sugarkube-ha-staging-dhcp-ip-reassignment.md
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

🛠️: add Sugarkube outage record and remove default raw-IP TLS SAN coupling
  outages/2026-05-18-sugarkube-ha-staging-dhcp-ip-reassignment.json
  outages/2026-05-18-sugarkube-ha-staging-dhcp-ip-reassignment.md
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_tls_san_identity.py
Due: shell, python

🛠️ fix: decouple durable k3s identity from DHCP SAN defaults
  outages/2026-05-18-sugarkube-ha-staging-dhcp-ip-reassignment.json
  outages/2026-05-18-sugarkube-ha-staging-dhcp-ip-reassignment.md
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_tls_san_identity_defaults.py
Due: shell, python

🩹 : add outage record and stop default IP TLS SAN coupling
  outages/2026-05-18-sugarkube-ha-staging-dhcp-ip-reassignment.json
  outages/2026-05-18-sugarkube-ha-staging-dhcp-ip-reassignment.md
  scripts/k3s-discover.sh
Due: shell, python

fix: harden k3s join URL defaults
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

test: render k3s SAN and join URL policy
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

fix: allow TXT IP hinted hostname joins
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

fix: preserve TXT IP hints for hostname joins
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

fix: keep TXT-IP k3s join URLs durable
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
  tests/scripts/test_k3s_discover_txt_ip.sh
Due: shell, python

fix: guard IP k3s join URLs with TLS SAN checks
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

fix: fail closed on strict IP join TLS checks
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

fix: fail closed when openssl is missing for IP joins
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

test: stabilize mDNS join discovery fixture
  tests/bats/discover_flow.bats
Due: shell, python

test: stabilize discover join flow in CI
  tests/bats/discover_flow.bats
Due: shell, python

test: stabilize discover join flow hostname resolution
  tests/bats/discover_flow.bats
Due: shell, python

test: cover explicit IP-preferred join flow
  tests/bats/discover_flow.bats
Due: shell, python

test: stub openssl in IP-preference discover flow test
  tests/bats/discover_flow.bats
Due: shell, python

test: stub openssl in discover join fixture
  tests/bats/discover_flow.bats
Due: shell, python

fix: bracket IPv6 join URL targets and cover fallback rendering
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

test: stabilize explicit IP join discover flow fixture
  tests/bats/discover_flow.bats
Due: shell, python

test: stabilize IP-preferred join SAN stub for discover flow
  tests/bats/discover_flow.bats
Due: shell, python

test: harden timeout stub in explicit IP join fixture
  tests/bats/discover_flow.bats
Due: shell, python

fix: require resolvable hostname join URLs by default
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

fix: recognize IPv6 literals in remote TLS SAN guard
  scripts/k3s-discover.sh
  tests/scripts/test_k3s_discover_tls_san_policy.py
Due: shell, python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
