Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

Fix DSPACE verifier public user agent
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

fix: identify DSPACE runtime verifier requests
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Record finalized DSPACE 3.0.1 staging recovery evidence
  deployment-evidence/dspace/staging/main-1a31a56-20260801T093443Z.json
Due: none

Fix DSPACE production metrics token validation
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Fix DSPACE production metrics render validation
  scripts/app_chart.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Cover DSPACE metrics token guard branches
  tests/test_generic_app_just_recipes.py
Due: python

Record finalized DSPACE 3.0.1 production recovery evidence
  deployment-evidence/dspace/prod/main-1a31a56-20260801T093443Z.json
Due: none

Fix DSPACE verifier pod settling race
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Fail closed on malformed pod lists
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Cover malformed settled pod structures
  tests/test_dspace_runtime_verifier.py
Due: python

Pin DSPACE staging chart to 3.1.1
  docs/apps/dspace.md
  docs/apps/dspace.staging.version
  tests/test_dspace_runtime_values.py
  tests/test_generic_app_just_recipes.py
Due: python

Bump danielsmith chart pin to 0.2.7
  docs/apps/danielsmith.version
Due: none

Fix DSPACE revision gate fixture coordinates
  tests/test_generic_app_just_recipes.py
Due: python

fix(dspace): allowlist 3.1.0 legacy runtime identity
  docs/apps/dspace.md
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

fix(dspace): allowlist 3.1.0 legacy identity
  docs/apps/dspace.md
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

Allowlist DSPACE 3.1.0 legacy runtime identity
  docs/apps/dspace.md
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

fix dspace 3.1 legacy runtime identity
  docs/apps/dspace.md
  scripts/dspace_runtime_verifier.py
  tests/test_dspace_runtime_verifier.py
Due: shell, python

address dspace verifier test review
  tests/test_dspace_runtime_verifier.py
Due: python

test unrelated modern dspace manifest
  tests/test_dspace_runtime_verifier.py
Due: python

Enable tokenplace staging metrics verification
  docs/apps/tokenplace.md
  docs/apps/tokenplace.version
  docs/examples/tokenplace.values.staging.yaml
  docs/observability-operations.md
  justfile
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  tests/test_generic_app_just_recipes.py
  tests/test_observability_app_metrics.py
  tests/test_observability_helm.py
Due: shell, python

Enable tokenplace staging metrics support
  docs/apps/tokenplace.md
  docs/apps/tokenplace.version
  docs/examples/tokenplace.values.staging.yaml
  docs/observability-operations.md
  justfile
  platform/observability/app-metrics.json
  scripts/app_chart.py
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  scripts/scan-secrets.py
  tests/test_generic_app_just_recipes.py
  tests/test_observability_app_metrics.py
  tests/test_observability_helm.py
Due: shell, python

Enable tokenplace staging metrics support
  docs/apps/tokenplace.md
  docs/apps/tokenplace.version
  docs/examples/tokenplace.values.staging.yaml
  docs/observability-app-metrics.json
  docs/observability-operations.md
  justfile
  scripts/app_chart.py
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  tests/test_generic_app_just_recipes.py
  tests/test_observability_app_metrics.py
  tests/test_observability_helm.py
Due: shell, python

Enable tokenplace staging metrics verification
  docs/apps/tokenplace.md
  docs/apps/tokenplace.version
  docs/examples/tokenplace.values.staging.yaml
  docs/observability.md
  justfile
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  scripts/scan-secrets.py
  tests/test_generic_app_just_recipes.py
  tests/test_observability_app_metrics.py
  tests/test_observability_helm.py
Due: shell, python

Address observability app metrics review feedback
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  tests/test_observability_app_metrics.py
  tests/test_observability_helm.py
Due: shell, python

Harden app metrics verification follow-up
  justfile
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  scripts/observability_helm.sh
  tests/test_generic_app_just_recipes.py
  tests/test_observability_app_metrics.py
  tests/test_observability_helm.py
Due: shell, python

Enforce app metrics render gate before Helm mutation
  justfile
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Derive app metrics build labels from workloads
  justfile
  platform/observability/app-metrics.json
  scripts/observability_app_metrics.py
  tests/test_generic_app_just_recipes.py
Due: shell, python

Update DSPACE staging token.place model to Qwen
  docs/apps/dspace.md
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_runtime_values.py
Due: python

Update DSPACE staging token.place model
  docs/apps/dspace.md
  docs/examples/dspace.values.staging.yaml
  tests/test_dspace_runtime_values.py
Due: python

test: cover resolved dspace token.place values
  tests/test_dspace_runtime_values.py
Due: python

Add app metrics verifier coverage
  tests/test_generic_app_just_recipes.py
Due: python

Path conditions:
  shell: any of: scripts/, tests/bats/, but not: docs/**, **/*.md
  python: any of: scripts/, tests/, but not: docs/**, **/*.md
