Repository futuroptimist/sugarkube: changes, and which Codecov flags are due for each by the changed paths.
All: shell, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    patch:
      default:
        target: 100%
        threshold: 1%
        if_not_found: fail
    project:
      default:
        target: 85%
        threshold: 2%

ignore:
  - "docs/**"
  - "**/*.md"

flags:
  shell:
    paths:
      - scripts/
      - tests/bats/
  python:
    paths:
      - scripts/
      - tests/

Ensure pytest failures fail CI workflow
  .github/workflows/ci.yml
Due: none

Build kcov from source in CI workflow
  .github/workflows/ci.yml
Due: none

summary: add stable summary::* API with color/emoji and tests
  scripts/k3s-discover.sh
  scripts/lib/summary.sh
  tests/bats/summary.bats
Due: shell, python

summary: add stable summary::* API with color/emoji (TTY-aware) and tests
  scripts/k3s-discover.sh
  scripts/lib/summary.sh
  tests/bats/summary.bats
Due: shell, python

ci: provision mdns deps before bats
  .github/workflows/ci.yml
Due: none

Ensure Bats helpers are discoverable in CI
  .github/workflows/ci.yml
Due: none

fix: emit structured mdns logs on stdout
  outages/2025-10-30-check-apiready-stdout-regression.json
  outages/2025-10-30-join-gate-stdout-regression.json
  outages/2025-10-30-mdns-selfcheck-stdout-regression.json
  scripts/check_apiready.sh
  scripts/join_gate.sh
  scripts/mdns_selfcheck.sh
Due: shell, python

✅ : – restore k3s-discover token resolution
  outages/2025-10-31-k3s-discover-summary-token-regression.json
  scripts/k3s-discover.sh
  scripts/lib/summary.sh
  tests/scripts/test_k3s_discover_token_resolution_secure.py
Due: shell, python

✅ : – restore k3s-discover token resolution
  outages/2025-10-31-k3s-discover-token-resolution.json
  pyproject.toml
  scripts/k3s-discover.sh
  scripts/lib/summary.sh
Due: shell, python

fix: restore k3s token resolution tests
  docs/TESTING.md
  outages/2025-10-21-just-up-token-bootstrap-gap.json
  outages/2025-10-31-k3s-discover-token-resolution.json
  scripts/k3s-discover.sh
  scripts/lib/summary.sh
  tests/test_k3s_discover_token_resolution_cli.py
Due: shell, python

chore: log token resolution state
  scripts/k3s-discover.sh
Due: shell, python

🛠️ : – Harden mdns probes and tests
  outages/2025-10-31-mdns-publish-static-stub-regression.json
  outages/2025-10-31-mdns-wire-probe-dbus-fallback.json
  scripts/mdns_wire_probe.sh
  tests/bats/election.bats
  tests/bats/mdns_wire_probe.bats
Due: shell, python

fix: ensure node token state drives token presence
  scripts/k3s-discover.sh
Due: shell, python

🛠️ : – Respect dbus disable flag in mdns self-check
  outages/2025-10-31-mdns-selfcheck-dbus-disabled-wait.json
  scripts/mdns_selfcheck.sh
Due: shell, python

🔧 : Add Avahi busctl fallback for GetVersionString
  outages/2025-10-31-avahi-getversion-fallback.json
  scripts/wait_for_avahi_dbus.sh
Due: shell, python

🐛 : – Handle Avahi DBus readiness
  outages/2025-10-31-wait-for-avahi-dbus-unknown-method.json
  scripts/wait_for_avahi_dbus.sh
Due: shell, python

✅ : Fix readyz gate validator to read response file
  outages/2025-10-31-check-apiready-stdin-regression.json
  scripts/check_apiready.sh
  tests/bats/api_readyz_gate.bats
Due: shell, python

fix: run mdns selfcheck under bash
  outages/2025-10-31-mdns-selfcheck-shebang.json
  scripts/mdns_selfcheck.sh
Due: shell, python

🛠️ : Escape whitespace in discover flow regex
  outages/2025-10-31-discover-flow-regex-whitespace.json
  tests/bats/discover_flow.bats
Due: shell, python

Fix Avahi liveness test whitespace regex
  outages/2025-10-31-k3s-discover-bats-regex-space.json
  tests/bats/discover_flow.bats
Due: shell, python

Fix mdns selfcheck shellcheck error
  scripts/mdns_selfcheck.sh
Due: shell, python

Quote Avahi liveness regex pattern
  tests/bats/discover_flow.bats
Due: shell, python

Fix shellcheck local usage in mdns selfcheck
  scripts/mdns_selfcheck.sh
Due: shell, python

fix: update avahi browse stub for new flags
  outages/2025-10-31-avahi-browse-all-flag-stub.json
  tests/bats/discover_flow.bats
Due: shell, python

✅ : – ensure codecov patch coverage runs on prs
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  outages/2025-10-31-codecov-patch-checks-missing.json
  tests/test_codecov_workflows.py
Due: python

🐛 : – respect DBus flag in mdns liveness
  outages/2025-10-31-mdns-selfcheck-dbus.json
  scripts/mdns_selfcheck.sh
Due: shell, python

Scope OIDC tokens to Codecov upload job
  .github/workflows/tests.yml
  tests/test_codecov_workflows.py
Due: python

Ensure Pi image test copies iptables helper
  tests/build_pi_image_test.py
Due: python

Fix TLS config test log directory
  tests/scripts/test_detect_node_ip.py
Due: python

Fix bootstrap publish test service path
  tests/scripts/test_k3s_discover_bootstrap_publish.py
Due: python

tests: isolate bootstrap publish fixture from privileged dependencies
  tests/scripts/test_k3s_discover_bootstrap_publish.py
Due: python

tests: stub journalctl in bootstrap publish helper
  tests/scripts/test_k3s_discover_bootstrap_publish.py
Due: python

🧪 : – add missing k3s iptables script to pi image tests
  outages/2025-11-01-pi-image-tests-missing-iptables-script.json
  tests/build_pi_image_test.py
Due: python

✅ : – restore join gate telemetry when mdns dbus disabled
  justfile
  outages/2025-11-01-k3s-discover-mdns-optional.json
  scripts/join_gate.sh
  scripts/k3s-discover.sh
  scripts/k3s_mdns_query.py
  scripts/mdns_publish_static.sh
  tests/build_pi_image_test.py
Due: shell, python

🔧 : – tame mdns lint fallout and pin isort
  justfile
  outages/2025-11-01-avahi-service-xml.json
  outages/2025-11-01-docs-verify-justfile-cli.json
  outages/2025-11-01-flake8-mdns-regression.json
  outages/2025-11-01-isort-v6-regression.json
  outages/2025-11-01-justfile-cli-recipes.json
  outages/2025-11-01-k3s-discover-fast-join.json
  scripts/checks.sh
  scripts/k3s-discover.sh
  scripts/k3s_mdns_parser.py
  scripts/mdns_helpers.py
  tests/scripts/test_just_up.py
  tests/scripts/test_k3s_discover_bootstrap_publish.py
  tests/scripts/test_k3s_discover_mid_election_join.py
  tests/scripts/test_k3s_discover_render_xml.py
  tests/scripts/test_k3s_mdns_parser.py
  tests/test_mdns_discovery_parsing.py
  tests/test_mdns_parsing.py
  tests/test_publish_api_service.py
  tests/test_wipe_recipe_decl.py
Due: shell, python

Format justfile with unstable formatter
  justfile
Due: none

🔧 : – realign nvme-health CLI guard
  justfile
  outages/2025-11-01-justfile-nvme-health-regression.json
Due: none

Fix justfile formatting
  justfile
Due: none

✅ : – Normalize Avahi record parsing
  outages/2025-11-01-k3s-mdns-multiline-records.json
  scripts/k3s_mdns_query.py
Due: shell, python
